/* Demo 22 Homepage 22 */
$primary-color: #fcb941;
$secondary-color: #fcb941;

@import '../skins/skin.scss';
@import '../mixins/clearfix.scss';
@import '../mixins/breakpoints.scss';
@import '../mixins/lazy.scss';
@import '../mixins/buttons.scss';
@import '../config/variables.scss';


a {
	font-family: 'Roboto';
}

.title {
	color: #333333;
	font-size: 2rem;
	font-weight: 700;
	font-family: 'Roboto';
	letter-spacing: -.01rem;
}
#mobile-header{
	background-color: #333;
	#mobile-menu-toggle{
		color: #fff;
	}
	.mobile-menu-light{
		background-color: transparent;
	}
	.user-info > a i, 
	#wishlist_block > a i, 
	#cart_block > a i {
		color: #fff;
	}
}
.gdz-slider-wrapper{
	font-family: 'Roboto';
	.slider-2{
		.text-3{
			span{
				color: $primary-color;
			}
		}
	}
	.text-1{
		letter-spacing: -.01rem;
		transform: skewX(-11deg);
		background-color: $primary-color;
		text-transform: uppercase;
		padding: 0 .5rem;
		border-radius: .4rem;
	}
	.text-2{
		letter-spacing: -.025rem;
		text-transform: uppercase;
		span{
			color: #fff;
		}
	}
	.text-3{
		text-transform: uppercase;
		letter-spacing: -.01rem;
	}
	.btn{
		border: 0.2rem solid #fcb941;
		padding: 1rem 1.8rem;
		text-transform: uppercase;
		border-radius: .3rem;
		font-weight: 700;
		min-width: auto;
		line-height: 1.2;
		&:hover{
			color: #333;
		}
	}
	.fraction-slider{
		.prev{
			left: 2.4rem;
		}
		.next{
			right: 2.4rem;
		}
		.prev, .next{
			width: 3.2rem;
			height: 3.2rem;
			border: none;
			&::before{
				font-size: 3rem;
			}
			&:hover{
				background-color: $primary-color;
			}
		}
	}
}
.banner-type-1{
	.pb-banner{
		.pb-banner-title{
			font-weight: 700;
			font-family: 'Roboto';
			letter-spacing: -.01rem;
			text-transform: uppercase;
			margin-bottom: 0;
		}
		.pb-banner-desc{
			font-family: 'Roboto';
			font-weight: 700;
			letter-spacing: -.01rem;
			text-transform: uppercase;
			margin-bottom: .5rem;
		}
		.highlight{
			color: $primary-color;
		}
		.btn{
			padding: 0;
			border: 0;
			margin-right: auto;
			color: $primary-color;
			min-width: auto;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: -.01rem;
			margin-bottom: .5rem;
			i{
				display: none;
			}
		}
	}
}
.pb-image{
	img{
		width: 100%;
	}
}
.productbox-8{
	padding-bottom: 2.3rem;
	.product-flags .product-flag{
		border-radius: .3rem;
		color: #fff;
		margin-bottom: 1rem;
		font-size: 1.4rem;
		font-family: 'Roboto';
		font-weight: 700;
		transform: skewX(-10deg);
	}
	.category-name{
		letter-spacing: -.01rem;
		font-size: 1.3rem;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	.product-title{
		letter-spacing: -.01rem;
		font-weight: 700;
		font-size: 1.5rem;
		margin-bottom: -.4rem;
		a{
			text-transform: uppercase;
			&:hover{
				box-shadow: none;
			}
		}
	}
	.product-info{
		margin-top: -1.4rem;
	}
	.product-footer{
		bottom: 1.45rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.content_price span.price{
		font-family: 'Roboto';
		letter-spacing: -.01rem;
		font-weight: 700;
		font-size: 1.5rem;
		color: $primary-color;
		margin-bottom: 0;
		padding-bottom: 1.1rem;
		text-transform: uppercase;
		&.new.has-discount{
			font-weight: 700;
			+ .old{
				color: #ccc;
			}
		}
	}
}
.featured-back{
	.addon-box{
		position: static;
	}
	.container > .row{
		margin-left: 0;
		margin-right: 0;
		> .layout-column{
			padding-left: 0;
			padding-right: 0;
		}
	}
	.pb-image{
		border-bottom: 1px solid #eee;
	}
	.pb-producttab{
		margin-top: 7rem;
		.producttab-products{
			> div{
				border-left: .1rem solid #eee;
				border-bottom: .1rem solid #eee;
			}
		}
		.product-miniature{
			margin-bottom: 0;
		}
		.nav.nav-tabs{
			background-color: #333;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			border-radius: 0;
			a.link{
				margin-left: auto;
				padding: 1.1rem 3.5rem 1.1rem 4rem;
				font-size: 1.4rem;
				font-weight: 700;
				letter-spacing: -.01rem;
				text-transform: uppercase;
				&::after{
					content: '\f112';
					font-family: 'molla';
					border: none;
					line-height: 1;
					margin-left: .5rem;
					font-weight: 300;
				}
			}
			.nav-item{
				.nav-link{
					padding: 0.5rem 1.5rem;
					font-size: 2rem;
					letter-spacing: -.01rem;
					font-weight: 700;
					color: $primary-color;
					text-transform: capitalize;
					&::before{
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background-color: #333;
					}
					span{
						position: relative;
					}
					&.active{
						color: #333;
						&::before{
							background-color: $primary-color;
						}
					}
				}
			}
		}
	}
}
.h22-newsletter{
	.icon-envelope{
		color: #fff;
	}
	.pb-heading{
		letter-spacing: 0;
	}
	.pb-text-content{
		font-family: 'Roboto';
		font-weight: 400;
		letter-spacing: -.01rem;
		margin-bottom: 2.3rem;
	}
	.email_subscription .form-control{
		font-family: 'Roboto';
		border-top-left-radius: .3rem;
		border-bottom-left-radius: .3rem;
		&::placeholder{
			color: #666;
		}
	}
	#newsletter-btn{
		color: #fff;
		background-color: $primary-color;
		padding: 1rem;
		text-transform: uppercase;
		font-family: 'Roboto';
		font-weight: 700;
		letter-spacing: -.01rem;
		border-top-right-radius: .3rem;
		border-bottom-right-radius: .3rem;
		&:hover, &:focus{
			color: #333;
		}
		i{
			display: none;
		}
	}
}

.banner-type-2{
	.pb-banner{
		&:hover{
			.pb-banner-text .btn{
				color: #333;
				background-color: $primary-color;
			}
		}
	}
	.pb-banner-text{
		.pb-banner-subtitle{
			transform: skewX(-11deg);
			font-family: 'Roboto';
			letter-spacing: -.01rem;
			text-transform: uppercase;
			border-radius: .4rem;
			font-weight: 700;
			padding: .8rem 1.3rem;
			margin-right: auto;
			background-color: $primary-color;
			margin-bottom: 1.7rem;
		}
		.pb-banner-title{
			letter-spacing: -.01rem;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: -.2rem;
		}
		.pb-banner-desc{
			letter-spacing: -.01rem;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 1.7rem;
		}
		.btn{
			margin-right: auto;
			letter-spacing: -.01rem;
			padding: .65rem 1.3rem;
			min-width: auto;
			font-family: 'Roboto';
			color: #fff;
			border: 0.2rem solid $primary-color;
			text-transform: uppercase;
			border-radius: .3rem;
			font-weight: 700;
			transition: all 0.3s;
			i{
				display: none;
			}
		}
	}
}

.icon-box-side{
	.layout-column + .layout-column{
		&::before{
			content: "";
			width: .1rem;
			height: 4.8rem;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -1rem;
			background-color: #e9e9e9;
		}
	}
	.pb-service-content{
		padding-left: .5rem;
		.pb-service-title{
			font-family: 'Roboto';
			font-weight: 700;
		}
		.pb-service-description p{
			font-family: 'Roboto';
			font-weight: 400;
			letter-spacing: 0;
		}
	}
}
.section-title {
	margin-left: 2rem;
	margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    align-items: center;

    .title {
    	margin-bottom: 0;
	    margin-left: -1.4rem;
	    padding: .8rem 3.5rem;
	    position: relative;
	    font-size: 2rem;
	    font-family: 'Roboto';
	    font-weight: 700;
	    letter-spacing: -.025rem;
	    color: #333;
	    line-height: 1.85;

	    &::before {
	    	content: '';
	    	position: absolute;
	    	left: 0;
	    	top: 0;
	    	right: 0;
	    	bottom: 0;
	    	background-color: $primary-color;
    		transform: skewX(-16deg);
	    }

	    span {
	    	position: relative;
	    }
    }

    .link {
    	padding: 1.1rem 3.5rem 1.1rem 4rem;
    	font-size: 1.4rem;
    	font-family: 'Roboto';
    	font-weight: 700;
    	letter-spacing: -.01rem;
    	color: $primary-color;
    	text-transform: uppercase;

    	&::after {
    	    content: '\f112';
		    font-family: 'molla';
		    border: none;
		    line-height: 1;
		    margin-left: .5rem;
		    font-weight: 300;
    	}
    }
}
.filter-products{
	> div{
		border-bottom: .1rem solid #eee;
		&:nth-child(6n){
			border-left: 0;
		}
		+ div{
			border-left: .1rem solid #eee;
		}
	}
}
.hidden-text-action{
	.product-action{
		.btn-icon span{
			display: none;
		}
	}
}
.highlight {
	color: $primary-color !important;
}
.bannerad {
	.banner-lg {
	    display: flex;
    	align-items: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    	.content{
    		text-transform: uppercase;
			font-family: 'Roboto';
			margin-bottom: 3.3rem;
    		h3{
    			font-weight: 700;
				color: #fff;
    			font-size: 2.4rem;
				letter-spacing: -.01rem;
				margin-top: .2rem;
    		}
    		h4{
	    		font-size: 1.6rem;
	    		letter-spacing: -.01rem;
				font-weight: 700;
				color: #fff;
	    	}
	    }
	    .action a{
	    	letter-spacing: -.01rem;
	    	text-transform: uppercase;
			font-weight: 700;
			transition: all 0.3s;
	    }
	}
	.price {
		display: flex;
		text-transform: uppercase;
		padding: 0 2rem 0 4rem;
		position: relative;
		h4 {
			margin-bottom: 0;
		    display: flex;
		    align-items: center;
		    font-size: 2.4rem;
		    font-weight: 700;
		    font-family: 'Roboto';
		}
		h3 {
			font-size: 5.4rem;
			font-family: 'Roboto';
			font-weight: 700;
			letter-spacing: -.01rem;
			color: #fff;
			margin-bottom: 2rem;
			margin-left: 1rem;
		}
		sup {
			font-size: 1.6rem;
			font-family: 'Roboto';
			font-weight: 700;
			letter-spacing: -.01rem;
			margin-top: 2rem;
		}

		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			bottom: .3rem;
			background-color: #666;
			width: .1rem;
		}
	}
	.content {
		padding: 3.5rem 0 0 2rem;
		h4 {
			font-size: 1.6rem;
			margin: 0;
		}
		h3 {
			font-size: 2.4rem;
			letter-spacing: -.01rem;
			margin-top: .2rem;
		}
	}
	.action {
		margin-top: 1.2rem;
		a {
			color: $primary-color;
			border: none;
			padding: 0;
			letter-spacing: -.01rem;

			&:hover,
			&:focus {
				color: $primary-color;
				background-color: transparent;
			}
		}

	}
}

@media screen and (max-width: 624px) {
	.bannerad {
		.banner-lg {
			flex-wrap: wrap;
			padding-top: 5rem;

		}
		.price, .content {
			flex: 0 0 100%;
			max-width: 100%;
			padding: 0;
		}
		.price {
			justify-content: center;

			&::after {
				top: unset;
				right: unset;
				bottom: 1.5rem;
				width: 19rem;
				height: .1rem;
			}
		}
		.content {
			text-align: center;
		}
	}

}
.pb-blog{
	.blog-item{
		&:hover{
			box-shadow: none;
			.post-readmore{
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.post-title{
		font-size: 2rem;
		font-family: 'Roboto';
		font-weight: 700;
		letter-spacing: -.025rem;
		line-height: 1;
	}
	.post-meta{
		font-size: 1.3rem;
		text-transform: uppercase;
		font-family: 'Roboto';
	}
	.post-readmore{
		color: $primary-color;
		font-family: 'Roboto';
		font-weight: 700;
		letter-spacing: -.01rem;
		text-transform: uppercase;
		display: inline-block;
		position: relative;
		opacity: 0;
		visibility: hidden;
		margin-top: 1rem;
		transition: all .3s;
		&:hover{
			padding-right: 2.2rem;
			span{
				box-shadow: none;
			}
			&::after{
				opacity: 1;
				transform: translateX(0);
			}
		}
		&::after{
			font-family: 'molla';
			content: '\f274';
			font-size: 1.5rem;
			line-height: 1;
			display: block;
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -.9rem;
			opacity: 0;
			transition: all .25s ease;
			transform: translateX(-6px);
		}
	}
}

@media (min-width: 992px){
	.gdz-slider-wrapper .text-1{
		padding: .8rem 1.4rem .7rem 1.4rem;
	}

}
@media (min-width: 1200px){
	.featured-back .pb-producttab .nav.nav-tabs {
		width: 1150px;
		position: absolute;
		right: 0;
		top: 0;
		justify-content: flex-start;
		.nav-item {
			margin-left: -1rem;
			.nav-link{
				padding: 1.1rem 4rem;
				padding-right: 5rem;
				&::before{
					transform: skewX(-15deg);
				}
			}
		}
	}
}