/* Demo 2 Homepage 2 */
$primary-color: #c96;
$secondary-color: #c96;

@import '../skins/skin';
@import '../mixins/clearfix';
@import '../mixins/breakpoints';
@import '../mixins/lazy';
@import '../mixins/buttons';
@import '../config/fonts';
@import '../config/variables';


.fraction-slider a.prev, .fraction-slider a.next{
	&:hover{
		background-color: transparent;
		&::before{
			color: $primary-color;
		}
	}
}
.fs-pager-wrapper{
	bottom: 1.1rem;
}
.h2-slider{
	.text-1{
		letter-spacing: -.01em;
	}
	.text-2{
		letter-spacing: -.03em;
	}
	.gdz-slide-content .btn{
		min-width: 150px;
		padding-top: 1.15rem;
		padding-bottom: 1.15rem;
		display: inline-flex;
		line-height: 1.5;
	}
}
.h2-brand{
	.brand-item{
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 4.8rem;
	}
}
.fraction-slider{
	.next::before,
	.prev::before{
		font-size: 3rem;
	}
	.next{
		border: 0;
		right: 2rem;
	}
	.prev{
		border: 0;
		left: 2rem;
	}
}
.h2-banner-type-1{
	&.banner-overlay-light .pb-banner > a::after{
		background-color: rgba(51,51,51,0.4);
	}
	.pb-banner-text{
		text-align: left;
		color: #fff;
		left: 4rem;
		top: 50%;
		bottom: auto;
		transform: translateY(-50%);
		display: block;
		right: auto;
		.pb-banner-subtitle{
			display: block;
			color: #ebebeb;
			font-weight: 300;
			font-size: 1.6rem;
			letter-spacing: -.01em;
			margin-bottom: .5rem;
			line-height: 1.2;
		}
		.pb-banner-title{
			color: #fff;
			font-weight: 600;
			font-size: 1.8rem;
			letter-spacing: -.025em;
			margin-bottom: 1.5rem;
			line-height: 1.3;
		}
		.pb-banner-desc{
			color: #fff;
			font-weight: 300;
			font-size: 2.4rem;
			line-height: 1.25;
			letter-spacing: -.01em;
			margin-bottom: 1.3rem;
		}
		.pb-banner-button{
			text-transform: uppercase;
			background: transparent;
			border: .1rem solid #fff;
			color: #fff;
			min-width: auto;
			padding: .5rem 1.3rem;
			&:hover{
				color: #fff;
				border-color: $primary-color;
				background-color: $primary-color;
			}
		}
	}
}
.pb-categorytab .nav.nav-tabs .nav-item .nav-link{
	&::before{
		background-color: $primary-color;
	}
	&.active {
		color: $primary-color;
	}
}
.h2-categorytab{
	.category-name{
		display: none;
	}
	.pb-categorytab .nav.nav-tabs {
		margin-bottom: 1rem;
	}
	.tab-content{
		padding-top: 2rem;
	}
}
.product-flags{
	.on-sale{
		display: none;
		~ .discount{
			display: flex;
		}
	}
	.product-flag{
		text-transform: uppercase;
		font-size: 1.3rem;
		width: auto;
		height: auto;
		border-radius: 0;
		padding: .7rem .9rem .3rem;
		line-height: 1.6rem;
		font-weight: 400;
	}
}
.owl-carousel .owl-nav button:hover::before{
	color: $primary-color;
}

.h2-banner-type-2{
	.pb-banner:hover{
		.pb-banner-button{
			opacity: 1;
			transform: translateY(0) translateX(-50%);
		}
		.pb-banner-text{
			padding-bottom: 4.5rem;
		}
	}
	.pb-banner-text{
		display: block;
		top: 50%;
		left: 50%;
		bottom: auto;
		transform: translate(-50%, -50%);
		transition: all .3s ease;
		.pb-banner-title{
			font-size: 1.8rem;
			font-weight: 600;
			color: #fff;
			letter-spacing: -.03em;
			margin-bottom: 0;
			line-height: 1.3;
		}
		.pb-banner-button{
			color: #fff;
			line-height: 1;
			background: transparent;
			border: 1px solid #fff;
			opacity: 0;
			position: absolute;
			bottom: 0;
			min-width: 130px;
			transform: translateY(-20px) translateX(-50%);
			transition: all .3s ease;
			&:hover{
				background-color: $primary-color;
				border-color: $primary-color;
			}
		}
	}
}
.post-readmore{
	font-size: 1.5rem;
	color: $primary-color;
}
.pb-blog .post-title{
	font-weight: 500;
}
.block-signup{
	.pb-heading{
		letter-spacing: -.01em;
		font-weight: 600;
	}
	.btn-outline-white{
		font-size: 1.4rem !important;
		padding-top: 1.2rem;
		padding-bottom: 1.2rem;
	}
}