/* Demo 20 Homepage 20 */
$primary-color: #1cc0a0;
$secondary-color: #15a78a;

@import '../skins/skin';
@import '../mixins/clearfix';
@import '../mixins/breakpoints';
@import '../mixins/lazy';
@import '../mixins/buttons';

@import '../config/fonts';
@import '../config/variables';


.container {
	width: 1420px;
	max-width: 100%;
}
.title {
	font-weight: 600;
	letter-spacing: -.025em;
}
.banner-overlay-dark .pb-banner > a::after {
	background-color: rgba(51, 51, 51, 0.25);
}
.pb-banner{
	.pb-banner-text{
		text-align: left;
		display: block;
		top: 50%;
		transform: translateY(-50%);
		bottom: auto;
		left: 4rem;
		right: auto;
		.pb-banner-subtitle{
			display: block;
			font-weight: 300;
			font-size: 1.4rem;
			letter-spacing: 0;
			margin-bottom: .5rem;
			color: #fff;
		}
		.pb-banner-title{
			font-size: 2.4rem;
			font-weight: 600;
			letter-spacing: -.025em;
			margin-bottom: 1.4rem;
			color: #fff;
			line-height: 1.3;
		}
		.btn{
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			min-width: 122px;
			border-radius: .3rem;
			line-height: 1;
			color: #fff;
			text-transform: uppercase;
			&:hover{
				color: #333;
				background-color: #fff;
			}
		}
	}
}
.banner-big{
	.pb-banner-text{
		.pb-banner-title{
			font-size: 4rem;
			line-height: 1.15;
		}
		.btn{
			margin-top: .7rem;
			padding: 1.2rem 1.8rem;
		}
	}
}
.banner-small{
	.pb-banner-text{
		left: 3rem;
	}
}
.banner-content-stretch{
	.pb-banner-text{
		top: 2.5rem;
		bottom: 5rem;
		transform: translateY(0);
		padding-bottom: 4rem;
		.btn{
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
}

.pb-service-box{
	.pb-service-icon{
		color: #ccc;
		min-width: 5.6rem;
		text-align: left;
	}
	.pb-service-content{
		.pb-service-title{
			font-weight: 500;
			font-size: 1.6rem;
			letter-spacing: -.01em;
			margin-top: .2rem;
			margin-bottom: 0;
		}
		.pb-service-description{
			letter-spacing: 0;
		}
	}
}
.btn-link{
	color: #777;
	text-transform: uppercase;
	letter-spacing: 0;
	padding-left: 0;
	padding-right: 0;
}
.best-seller{
	.productbox-12 .product-info{
		padding-left: 1rem;
		padding-right: 1rem;
		.product-footer{
			padding-left: 3rem;
			padding-right: 3rem;
		}
	}
}
.pb-categoryproduct{
	padding-bottom: 12rem;
	margin-bottom: -12rem;
	overflow: hidden;
	position: relative;
	z-index: 9;
	.owl-stage-outer{
		overflow: visible;
	}
}
.productbox-carousel{
	.owl-dots{
		margin-top: 0;
	}
}
.pb-image-carousel .owl-dots {
	bottom: -4.7rem;
}
.banner-group{
	.pb-banner{
		border-radius: .4rem;
	}
}

.pb-blog{
	text-align: left;
	.blog-item{
		background-color: #fff;
		box-shadow: 1px 3px 5px rgba(0,0,0,0.025),-1px 3px 5px rgba(0,0,0,0.025);
		&:hover{
			box-shadow: none;
		}
	}
	.entry-body{
		letter-spacing: -.01em;
		padding-bottom: 1.8rem;
	}
	.post-meta{
		font-weight: 300;
		margin-bottom: .4rem;
		margin-top: 1.8rem;
	}
	.post-title{
		font-size: 1.6rem;
		line-height: 1.5;
		letter-spacing: -.025em;
		margin-bottom: .6rem;
		font-weight: 500;
	}
	.post-intro{
		margin-bottom: .5rem;
		p{
			letter-spacing: 0;
			margin-bottom: 0;
		}
	}
	.post-readmore{
		letter-spacing: 0;
		color: $primary-color;
	}
}
.h20-newsletter{
	.gdz-icon-box{
		line-height: 1;
		color: #333;
	}
	.email_subscription{
		max-width: 570px;
		#newsletter-btn{
			min-width: 130px;
			border-top-right-radius: .3rem;
			border-bottom-right-radius: .3rem;
			padding: 0;
			text-transform: uppercase;
			font-weight: 400;
			color: #fff;
			background-color: $primary-color;
			border: .1rem solid $primary-color;
			&:hover{
				background-color: $secondary-color;
			}
		}
	}
}