/* Demo 18 Homepage 18 */
$primary-color: #c96;
$secondary-color: #bf8040;

@import '../skins/skin.scss';
@import '../mixins/clearfix.scss';
@import '../mixins/breakpoints.scss';
@import '../mixins/lazy.scss';
@import '../mixins/buttons.scss';
@import '../config/fonts.scss';
@import '../config/variables.scss';


#mobile-header{
	background-color: #333;
	#mobile-menu-toggle{
		color: #fff;
	}
	.mobile-menu-light{
		background-color: transparent;
	}
	.user-info > a i, 
	#wishlist_block > a i, 
	#cart_block > a i {
		color: #fff;
	}
}
.title {
	font-weight: 600;
	font-size: 2.2rem;
	letter-spacing: -.025em;
	margin-bottom: 2.4rem;
}

.title.brands,
.title.instagram {
	font-size: 2rem;
	margin-bottom: 4.5rem;
}

.title-desc {
	letter-spacing: 0;
}

.btn-outline-white {
	border-color: $primary-color;
}

.btn-outline-primary-2:not(:hover):not(:focus) {
	color: #333333;
}

.btn-more {
	min-width: 218px;
	font-size: 1.3rem;
	letter-spacing: .1em;
	text-transform: uppercase;
	border-color: $primary-color;
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
	&:hover{
		background-color: $primary-color;
	}
	i{
		display: none;
	}
}

.more-container .btn-more {
	min-width: 218px;
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
}

.more-container {
	margin-top: 1rem;
	margin-bottom: 0;
}
.fs-pager-wrapper{
	bottom: 5.4rem;
	display: none;
	a.active {
		background-color: $primary-color;
		border-color: $primary-color;
	}
}
.gdz-slider-wrapper{
	.intro-content{
		display: inline-flex;
		flex-direction: column;
		margin: 0 auto;
		border: .1rem solid #fff;
		width: 740px;
		max-width: 85%;
		padding: 3rem 2rem;
		border-top-width: 0;
		border-bottom-width: 0;
		transform: none;
		.cross-txt {
			position: absolute;
			left: -1px;
			right: -1px;
			transform: translateY(-50%);
			display: -ms-flexbox;
			display: flex;
			-ms-flex-align: center;
			align-items: center;
		}
	}
	.intro-subtitle {
		font-weight: 400;
		line-height: 1;
		letter-spacing: .1em;
		text-transform: uppercase;
	}
}

.intro-content .intro-action.cross-txt {
	bottom: 0;
	transform: translateY(50%);
}
.intro-slider-container,
.intro-slide {
	min-height: 100vh;
	background-color: #646369;
}

.intro-slider {
	&.owl-theme.owl-nav-inside .owl-dots {
		bottom: 20px;
	}
}

.intro-slide {
	display: flex;
	align-items: center;
	background-size: cover;
	background-position: center center;
	.intro-content {
		width: 740px;
		max-width: 85%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		left: auto;
		top: auto;
		transform: translateY(0);
		-ms-transform: translateY(0);
		border: .1rem solid #fff;
		border-top-width: 0;
		border-bottom-width: 0;
		padding: 6rem 2rem;
	}
}

.intro-content {
	.btn.btn-outline-white {
		text-transform: uppercase;
		border: none;
		font-size: 1.3rem;
		color: $primary-color;
		letter-spacing: .1em;
		min-width: 0;

		&:hover,
		&:focus,
		&:active {
			background-color: transparent;
			color: #fff;
		}
	}
}


.intro-subtitle.cross-txt {
	top: 0;
}

.intro-content .intro-action.cross-txt {
	bottom: 0;
	transform: translateY(50%);
	.btn {
		padding: 0;
	}

	&::before {
		margin-right: 3rem;
	}
	&::after {
		margin-left: 3rem;
	}
}


.intro-title {
	font-weight: 700;
	font-size: 2rem;
	line-height: 1;
	letter-spacing: .01em;
	margin-top: 1rem;
	margin-bottom: 1.3rem;
	text-transform: uppercase;
}

.intro-text {
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.2;
	letter-spacing: .01em;
	text-transform: uppercase;
}

.owl-theme .owl-nav [class*='owl-'] {
	width: 4rem;
	height: 4rem;
	font-size: 2.2rem;
	margin-top: -2rem;
}

.owl-theme.owl-nav-inside .owl-nav .owl-prev {
	left: 100px;
}

.owl-theme.owl-nav-inside .owl-nav .owl-next {
	right: 100px;
}


.owl-theme.owl-light .owl-nav [class*='owl-'] {
	border-color: #fff;
	color: #fff;
}

.owl-simple .owl-nav.disabled + .owl-dots {
	margin-top: 1.5rem;
}

.banners {
	margin-bottom: 1.5rem;
}

.banner-hover {
	.pb-banner{
		&:hover{
			.pb-banner-text{
				opacity: 1;
				top: 50%;
			}
		}
	}
	.pb-banner-text{
		top: calc(50% + 5rem);
		left: 50%;
		bottom: auto;
		right: auto;
		display: block;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: all .35s ease;
		.pb-banner-title{
			font-weight: 600;
			font-size: 2rem;
			line-height: 1.25;
			margin-bottom: .6rem;
			letter-spacing: -.025em;
			color: #fff;
		}
		.btn{
			font-weight: 300;
			font-size: 1.3rem;
			line-height: 1.5;
			letter-spacing: .1em;
			color: #ebebeb;
			padding: 0;
			border: 0;
			min-width: auto;
			text-transform: uppercase;
			&:hover{
				box-shadow: 0 1px 0 0 #ffF;
			}
		}
	}
}
.widget-banner{
	max-width: 277px;
	margin: 0 auto;
	.pb-banner-text{
		top: 50%;
		left: 3rem;
		bottom: auto;
		right: auto;
		display: block;
		transform: translateY(-50%);
		text-align: left;
		padding-bottom: 1.9rem;
		.pb-banner-subtitle{
			font-weight: 300;
			font-size: 1.6rem;
			margin-bottom: .7rem;
			letter-spacing: -.025em;
			color: #fff;
			display: block;
		}
		.pb-banner-title{
			font-weight: 600;
			font-size: 2rem;
			line-height: 1.2;
			text-transform: uppercase;
			margin-bottom: .8rem;
			letter-spacing: -.025em;
			color: #fff;
		}
		.btn{
			font-weight: 300;
			font-size: 1.3rem;
			line-height: 1.5;
			letter-spacing: .1em;
			color: #fff;
			padding: 0;
			border: 0;
			min-width: auto;
			text-transform: uppercase;
			i{
				display: none;
			}
			&:hover{
				box-shadow: 0 1px 0 0 #ffF;
			}
		}
	}
}
.carousel-with-shadow .owl-stage-outer{
	padding: 0;
	margin: 0;
}
.pb-blog{
	text-align: left;
	&:hover{
		box-shadow: none;
	}
	.entry-body{
		padding: 0;
	}
	.post-meta{
		margin-top: 1.2rem;
	}
	.post-title{
		margin-top: -.5rem;
		font-size: 1.6rem;
		margin-bottom: .1rem;
	}
	.post-intro{
		margin-bottom: .5rem;
		p{
			margin-bottom: 0;
		}
	}
	.owl-dots{
		margin-top: .9rem;
		text-align: left;
		button span{
			margin-left: 0;
			margin-right: 1.2rem;
		}
	}
}
.post-readmore{
	padding-right: 2.2rem;
	position: relative;
	display: inline-block;
	color: $primary-color;
	&:hover{
		color: $secondary-color;
		&::after{
			opacity: 1;
			transform: translateX(0);	
		}
	}
	&::after{
		font-family: 'molla';
		content: '\f274';
		font-size: 1.5rem;
		line-height: 1;
		display: block;
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -.75rem;
		opacity: 0;
		transition: all .25s ease;
		transform: translateX(-6px);
	}
}
.col-grid .product-miniature {
	margin-bottom: 5rem;
}
.sidebar-home{
	.email_subscription{
		margin-top: .9rem;
		font-weight: 300;
		font-size: 1.4rem;
		line-height: 1.43;
		color: #fff;
		padding: 4rem 3rem;
		background-size: cover;
		background-position: center center;
		background-image: url(../images/demos/demo-18/bg-newsletter.jpg);
		.widget-title{
			font-weight: 600;
			line-height: 1.25;
			letter-spacing: -.025em;
			color: #fff;
			margin-bottom: .8rem;
			font-size: 2rem;
			padding-right: 3rem;
			display: block;
		}
		.widget-desc{
			margin-bottom: 2.5rem;
			color: #ebebeb;
			display: block;
		}
		.input-group{
			display: block;
		}
		input{
			width: 100%;
			margin-bottom: 1rem;
			border: .1rem solid transparent;
			&::placeholder{
				color: #777;
			}
			&:focus{
				border-color: $primary-color;
			}
		}
		#newsletter-btn{
			padding: 0;
			padding-top: 1.45rem;
			padding-bottom: 1.45rem;
			line-height: 1.5;
			width: 100%;
			text-transform: uppercase;
			font-weight: 300;
			border: .1rem solid $primary-color;
			background-color: transparent;
			color: #fff;
			letter-spacing: .1em;
			font-size: 1.3rem;
			i{
				display: none;
			}
			&:hover{
				background-color: $primary-color;
			}
		}
	}
}
.instagram{
	.title{
		margin-bottom: 1rem;
	}
	.pb-text-content{
		letter-spacing: 0;
	}
}
.instagram-feed{
	margin-bottom: 0;
}
.btn-insta{
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.icon-box-side{
	.container{
		&::before{
			content: '';
			display: block;
			height: 1px;
			position: absolute;
			bottom: -2.1rem;
			left: 10px;
			right: 10px;
			background-color: #525455;
		}
	}
	.pb-service-box{
		margin-left: -2rem;
		.pb-service-icon{
			color: $primary-color;
		}
		.pb-service-content{
			.pb-service-title{
				color: #fff;
				font-size: 1.4rem;
			}
		}
		.pb-service-description p{
			font-weight: 300;
		}
	}
}
.productbox-3{
	background-color: transparent;
	&:hover{
		.wrapp-buttons{
			top: 2rem;
		}
	}
	.product-info .category-name{
		font-weight: 400;
		text-transform: uppercase;
		color: #ccc;
		&:hover{
			color: #666;
		}
	}
	.product-title{
		margin-bottom: .9rem;
		font-weight: 400;
	}
	.wrapp-buttons{
		right: 2rem;
		top: 3.5rem;
	}
	.product-action{
		background-color: rgba(255,255,255,0.9);
		.product-btn{
			padding-top: 1.3rem;
			padding-bottom: 1.3rem;
			&::before{
				display: none;
			}
			span{
				margin-left: 0;
			}
		}
	}
	.product-info{
		background-color: transparent;
	}
	.content_price span.price{
		&.new{
			color: #c96;
			&.has-discount{
				color: #ef837b;
			}
		}
	}
}


@include mq('sm') {
	.intro-subtitle {
		font-size: 1.3rem;
	}

	.intro-title {
		font-size: 3rem;
	}

	.intro-text {
		font-size: 1.6rem;
	}
}

@include mq('md') {
	.intro-subtitle {
		font-size: 1.3rem;
	}

	.intro-title {
		font-size: 4rem;
	}

}

@include mq('lg') {
	.intro-content {
		.btn {
			min-width: 170px;
		}
	}

	.intro-subtitle {
		font-size: 1.4rem;
	}

	.intro-title {
		font-size: 5rem;
	}

	.intro-text {
		font-size: 1.8rem;
	}
}

@include mq('xl') {
	.fs-pager-wrapper {
		display: block;
	}
	.gdz-slider-wrapper .intro-content{
		padding: 6rem 2rem;
	}
	.intro-slider-container,
	.intro-slide {
		min-height: 0;
		height: 100vh;
		.container {
			padding-bottom: 1.7rem;
		}
	}

	.intro-content {
		.btn {
			min-width: 190px;

			i:first-child {
				margin-right: 1rem;
			}

			i:last-child {
				margin-left: 1rem;
			}
		}
	}

	.intro-title {
		font-size: 8rem;
	}

	.intro-text {
		font-size:2rem;
	}

	.intro-slider {
		&.owl-theme.owl-nav-inside .owl-dots {
			bottom: 6%;
		}
	}
}
