/* Demo 15 Homepage 15 */
$primary-color: #c96;
$secondary-color: #bf8040;

@import '../skins/skin.scss';
@import '../mixins/clearfix.scss';
@import '../mixins/breakpoints.scss';
@import '../mixins/lazy.scss';
@import '../mixins/buttons.scss';
@import '../config/fonts.scss';
@import '../config/variables.scss';


.page-index #hor-menu .gdz-megamenu .nav.level0 > li.sub-home > a {
	color: #fff;
	&::before{
		background-color: #fff;
	}
}
#mobile-header{
	background-color: #333;
	#mobile-menu-toggle{
		color: #fff;
	}
	.mobile-menu-light{
		background-color: transparent;
	}
	.user-info > a i, 
	#wishlist_block > a i, 
	#cart_block > a i {
		color: #fff;
	}
}
.title {
	font-weight: 600;
	font-size: 2.6rem;
	letter-spacing: -.01em;
}

.title-desc {
	letter-spacing: 0;
}

.heading {
	margin-bottom: 4.4rem;

	.title {
		margin-bottom: 2rem;
	}
}
.pb-text-content{
	letter-spacing: 0;
}

.gdz-slider-wrapper{
	.gdz-slide-content{
		width: 100%;
	}
	.btn i:last-child{
		margin-left: 0;
	}
	.btn-outline-primary-2{
		color: #fff;
		text-transform: uppercase;
		min-width: 190px;
		padding-top: 1.15rem;
		padding-bottom: 1.15rem;
	}
}

.col-2-products{
	display: flex;
	flex-direction: column;
	justify-content: center;
	.addon-box{
		max-width: 580px;
		margin-left: auto;
		margin-right: auto;
	}
	.pb-text-content{
		letter-spacing: 0;
	}
}

.col-3-products{
	display: flex;
	flex-direction: column;
	justify-content: center;
	.pb-text-content{
		letter-spacing: 0;
	}
}

.video-banner{
	max-height: 900px;
	display: flex;
	align-items: center;
	.pb-heading{
		font-weight: 400;
	}
	.pb-text-content{
		font-weight: 600;
		letter-spacing: -.025em;
	}
	p{
		max-width: 100%;
	}
}

.shop-social{
	margin-bottom: 5rem;
	&::before{
		content: '';
		width: .1rem;
		display: block;
		height: 100%;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		background-color: #ebebeb;
	}
	.pb-heading{
		margin-bottom: 2.8rem;
	}
	.pb-text-content{
		line-height: 1.625;
		letter-spacing: 0;
	}
	.pb-social{
		margin-top: 3.5rem;
	}
}

.testimonial{
	.addon-box{
		max-width: 580px;
		margin-left: auto;
		margin-right: auto;
	}
	.pb-testimonial-box{
		&::before{
			font-family: 'molla';
			content: '\f10d';
			display: inline-block;
			font-style: normal;
			font-weight: normal;
			font-size: 1.8rem;
			line-height: 1;
			color: #c96;
			margin-top: 2.4rem;
			margin-bottom: 1.6rem;
		}
		.pb-testimonial-comment{
			font-size: 1.6rem;
			line-height: 1.875;
			margin-bottom: .6rem;
		}
		.pb-testimonial-author{
			font-weight: 400;
			text-transform: initial;
			letter-spacing: 0;
		}
	}
	.pb-testimonial-img{
		display: none;
	}
	.owl-carousel .owl-nav button{
		&.owl-prev{
			left: -9rem;
		}
		&.owl-next{
			right: -9rem;
		}
	}
	.pb-testimonial{
		.owl-dots{
			margin-top: 1.7rem;
			padding-bottom: 1.5rem;
		}
	}
}

.pb-blog{
	.blog-item{
		&:hover{
			box-shadow: none;
		}
	}
	.post-thumb{
		position: relative;
		> a{
			&:hover::before{
				visibility: visible;
				opacity: 1;
			}
			&::before{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background-color: rgba(51,51,51,0.4);
				z-index: 1;
				opacity: 0;
				visibility: hidden;
				transition: all 0.4s ease;
			}
		}
	}
	.post-meta{
		margin-top: 1.3rem;
		margin-bottom: -.4rem;
	}
	.post-title{
		font-size: 1.6rem;
		letter-spacing: 0;
		margin-bottom: .3rem;
	}
	.post-intro{
		margin-bottom: .5rem;
		p{
			margin-bottom: 0;
		}
	}
	.post-readmore{
		text-transform: capitalize;
		color: $primary-color;
		&:hover{
			color: $secondary-color;
			span{
				box-shadow: none;
			}
		}
	}
}

.page-index #footer{
	border-top: .1rem solid #ebebeb;
}

@include mq('xxl') {
	.header-5 .container-fluid {
		padding-left: 6.2rem;
		padding-right: 6.2rem;
	}
}

.btn i:last-child {
	margin-left: .7rem;
}

.intro-title {
	color: #333333;
	font-weight: 600;
	letter-spacing: -.025em;
	margin-bottom: 1.8rem;
}


@include mq('lg') {
	.product.product-4 {
		margin-bottom: 0;
	}
}

.product.product-4 {
	.product-title {
		margin-bottom: .2rem;
	}

	.product-action-vertical {
		top: 2rem;
	}

	.btn-product {
		color: #333;
		background-color: #fff;
		padding-top: 1.3rem;
		padding-bottom: 1.3rem;
		text-transform: uppercase;

		span {
			font-size: 1.4rem;
		}

		&:before {
			display: none;
		}

		&:hover,
		&:focus {
			background-color: $primary-color;
		}
	}

	.product-body {
		padding-bottom: 0;
	}

	.product-nav {
		margin-top: 1.4rem;
		margin-bottom: 0;
	}
}

.btn-product-icon:not(:hover):not(:focus) {
	color: #333;
}

.display-row {
	padding-top: 8rem;
	padding-bottom: 8rem;

	.banner {
		margin-bottom: 5rem;
	}

	.heading {
		margin-bottom: 2.5rem;
	}

	.title {
		font-size: 1.6rem;
	}

	.heading.text-center {
		.title-desc {
			max-width: 560px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
.banner {
	font-weight: 400;
	font-size: 1.4rem;
	letter-spacing: 0;
	img {
		min-height: 370px;
		object-fit: cover;
	}
	color: #fff;

	.btn {
		text-transform: uppercase;
		min-width: 130px;
		text-decoration: none !important;
		padding: 1.15rem 1.5rem;
	}

	.btn-outline-primary-2 {
		color: #fff;
	}
	
	ul {
		color: #333;
		margin-bottom: 2rem;
		line-height: 1.5;

		li {
		position: relative;
		padding-left: 1rem;

			&:before {
				position: absolute;
				top: 50%;
				margin-top: -.2rem;
				left:0;
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: .4rem;
				height: .4rem;
				border-radius: 50%;
				background-color: #333;
				margin-top: -.1rem;
			}
		}

		&.text-white li:before {
			background-color: #fff;
		}
	}
}

.banner-overlay.banner-light {
	> a:after {
		background-color: rgba(255, 255, 255, 0.4);
	}

	.btn-outline-primary-2 {
		color: #333;
	}
}

.banner-overlay > a:after {
	transition-duration: .5s;
}

.banner-content {
	left: 30px;
	padding-top: 0;
}

.banner-title {
	color: #333;
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 1.2;
	margin-bottom: .9rem;
	.men & {
		letter-spacing: 0;
	}
	.women & {
		letter-spacing: -.025em;
	}
}

.women.banner-content {
	left: 11rem;
}

.banner-text,
.banner-subtitle {
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1.45;
	letter-spacing: 0;
}

.banner-subtitle {
	margin-bottom: .9rem;
}

.banner-text {
	font-size: 1.4rem;
	margin-bottom: 2.5rem;
}

.video-banner-title {
	font-weight: 600;
	margin-bottom: 2rem;
}

.video-banner-title > span {
	font-weight: 400;
	font-size: 1.6rem;
	letter-spacing: -.03em;
	margin-bottom: 1.8rem;
}

.btn-video {
	box-shadow: 0 0 0 1.5rem rgba(255, 255, 255, .1);
}


.cta-title {
	font-weight: 600;
	font-size: 2.6rem;
	letter-spacing: -.025em;
	margin-bottom: 0;
}

.cta-wrapper .cta-title,
.cta-wrapper.cta-text .cta-title {
	margin-bottom: 2.8rem;
}

.cta-wrapper.cta-text .cta-desc {
	margin-bottom: 3.5rem;
}

.cta-desc {
	line-height: 1.625;
}

.cta-wrapper {
	max-width: 580px;
}

.cta-wrapper.cta-text {
	max-width: 360px;
}

.cta {
	.social-icon {
		width: 4.6rem;
		height: 4.6rem;
		font-size: 1.8rem;
	}

	blockquote {
		color: #666;
		font-style: normal;
		line-height: 1.875;
		margin-bottom: 2.2rem;
	}

	.testimonial-icon:before {
		margin-top: 0;
		font-size: 1.8rem;
	}

	.owl-simple .owl-nav {
		.owl-prev {
			left: -100px;
		}
		.owl-next {
			right: -100px;
		}
	}
}

blockquote {
	p {
		font-size: 1.6rem;
		color: #666;
	}
	cite {
		letter-spacing: 0;
		font-weight: 400;
		span {
			color: #777;
		}
	}
}


@include mq('sm') {
	.banner-content {
		left: 50px;
	}
}

@include mq('md') {
	.intro-subtitle {
		font-size: 1.6rem;
	}

	.banner-title,
	.cta-title,
	.title {
		font-size: 3rem;
	}
}

@include mq('lg') {
	.intro-content {
		.btn {
			min-width: 170px;
		}
	}

	.intro-subtitle {
		margin-bottom: 1.6rem;
	}

	.cta-separator [class*="col-"] + [class*="col-"]:before {
		height: 76%;
	}

	.banner-content {
		left: 70px;
	}

	.display-row {
		padding-top: 10rem;
		padding-bottom: 10rem;

		.banner {
			margin-bottom: 0;
		}
	}
	.video-banner-bg {
		padding-top: 16.5rem;
	}
}

@include mq('xl') {
	.intro-content {
		.btn {
			min-width: 190px;
		}
	}

	.intro-title {
		font-size: 5rem;
	}

	.banner-content {
		left: 100px;
	}

	.display-row {
		.banner {
			margin-right: 5rem;
		}

		.order-lg-last .banner {
			margin-right: 0;
			margin-left: 5rem;
		}
	}
	.container-fluid {
		padding-left: 62px;
		padding-right: 62px;
	}
}



@include mq('xxl') {
	.footer-bottom {
		.container-fluid {
			&:before {
				left: 62px;
				right: 62px;
			}
		}
	}
}


@media screen and (max-width: 450px) {
	.banner-content.men,
	.banner-content.women {
		left: 4rem;
	}
}
.text-brightblack {
	color: #ebebeb !important;
}
.text-darkblack {
	color: #777 !important;
}

.productbox-3{
	background-color: transparent;
	&:hover{
		.wrapp-buttons{
			top: 2rem;
		}
	}
	.product-title{
		font-weight: 400;
		margin-bottom: -.2rem;
	}
	.wrapp-buttons{
		right: 2rem;
		top: 3.5rem;
	}
	.product-action{
		background-color: #fff;
		.product-btn{
			&::before{
				display: none;
			}
			span{
				margin-left: 0;
			}
		}
	}
	.product-info{
		background-color: transparent;
		.category-name{
			display: none;
		}
	}
	.content_price span.price{
		display: inline-block;
	}
}

@media (min-width: 992px){
	.shop-social{
		margin-bottom: 0;
	}
	.col-banner-right{
		.banner{
			margin-left: 5rem;
		}
	}

	.col-banner-left{
		.banner{
			margin-right: 5rem;
		}
	}
}
@media (min-width: 1200px){
	.video-banner{
		height: 100vh;
	}
}

