/* Demo 17 Homepage 17 */
$primary-color: #1cc0a0;
$secondary-color: #19b395;

@import '../skins/skin.scss';
@import '../mixins/clearfix.scss';
@import '../mixins/breakpoints.scss';
@import '../mixins/lazy.scss';
@import '../mixins/buttons.scss';
@import '../config/variables.scss';



.title {
	font-weight: 600;
	font-size: 2.2rem;
	letter-spacing: -.025em;
	margin-bottom: 1.5rem;
}

.title-desc {
	letter-spacing: 0;
}

.container-fluid {
	padding-left: 1rem;
	padding-right: 1rem;
}

.title-border {
	padding-bottom: 1.5rem;
	border-bottom: .1rem solid #ebebeb;
}

.owl-carousel .owl-nav [class*='owl-'] {
	top: 40%;
}

.owl-carousel .owl-nav {
	.owl-prev {
		left: -45px;
	}
	.owl-next {
		right: -45px;
	}
}


.banner-content {
	left: 2rem;
	padding-top: 0;

	&.banner-content-right {
		right: 3rem;
	}

	&.banner-content-reverse {
		left: auto;
		right: 2rem;
		text-align: right;
	}

	&.banner-content-top {
		top: 3.6rem;
		transform: translateY(0);
	}
}

.banner-subtitle {
	font-weight: 400;
	font-size: 1.3rem;
	letter-spacing: 0;
	margin-bottom: .8rem;
	text-transform: uppercase;
}

.banner-title {
	font-weight: 600;
	font-size: 2rem;
	line-height: 1.2;
	letter-spacing: -.025em;
	margin-bottom: .5rem;
}

.banner-link {
	color: #fff;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.4;
	letter-spacing: -.01em;

	i {
		margin-left: .5rem;
	}

	&:hover,
	&:focus {
		color: #fff;
		text-decoration: none !important;
		box-shadow: 0 1px 0 0 #fff;
	}
}

.pb-banner{
	&.button-right{
		.pb-banner-text .btn{
			margin-left: auto;
			margin-right: 0;
		}
	}
	&.banner-1{
		.pb-banner-text{
			.pb-banner-subtitle{
				font-weight: 400;
				letter-spacing: 0;
				margin-bottom: .5rem;
				text-transform: uppercase;
				display: block;
			}
			.pb-banner-title{
				margin-bottom: .3rem;
				line-height: 1.2em;
				font-weight: 600;
			}
		}
	}
	&.banner-2{
		.pb-banner-text{
			.pb-banner-subtitle{
				font-weight: 400;
				letter-spacing: 0;
				margin-bottom: .5rem;
				text-transform: uppercase;
				display: block;
			}
			.pb-banner-title{
				margin-bottom: .3rem;
				font-weight: 600;
			}
		}
	}
	.pb-banner-text{
		.btn{
			color: #fff;
			font-weight: 400;
			font-size: 1.4rem;
			line-height: 1.4;
			letter-spacing: -.01em;
			padding: 0;
			border: 0;
			min-width: auto;
			margin-right: auto;
			&:hover{
				box-shadow: 0 1px 0 0 #fff;
			}
		}
	}
}
.banner{
	margin-bottom: 0;
}
.banner-overlay-dark .pb-banner > a::after {
	background-color: rgba(51, 51, 51, 0.25);
}

.pb-service-box{
	display: flex;
	align-items: center;
	padding: 1.7rem 0;
	margin-left: -1.2rem;
	.pb-service-icon{
		min-width: 5.4rem;
		text-align: center;
		line-height: 0;
		color: #333;
	}
	.pb-service-content{
		.pb-service-title{
			font-weight: 500;
			font-size: 1.4rem;
			margin-bottom: 0;
		}
		.pb-service-description{
			line-height: 1.5;
			p{
				margin-bottom: 0;
				font-weight: 300;
			}
		}
	}
}
.pb-producttab{
	margin-bottom: 2rem;
	.nav.nav-tabs .nav-item .nav-link{
		font-size: 1.3rem;
		padding-bottom: 1.6rem;
		&.active{
			color: #333;
		}
		&::before{
			background-color: #333;
		}
	}
}
.tab-content{
	.product-miniature{
		margin-bottom: 3rem;
	}
}
.newsletter{
	.pb-heading{
		font-weight: 600;
		font-size: 2.2rem;
		letter-spacing: -.025em;
		margin-bottom: .8rem;
	}
	.pb-text-content{
		letter-spacing: 0;
		margin-bottom: 2.4rem;
	}
	.email_subscription{
		.form-control{
			border: .1rem solid #dadada;
			&::placeholder{
				color: #777;
			}
			&:focus{
				border-color: $primary-color;
			}
		}
		#newsletter-btn{
			text-transform: uppercase;
			color: #fff;
			background-color: $primary-color;
			padding: 0;
			font-weight: 400;
			min-width: 140px;
			padding-left: 1rem;
			i{
				margin-left: .5rem;
			}
			&:hover{
				background-color: $secondary-color;
			}
		}
	}
}
.blog-title,
.instagram-title{
	margin-bottom: .7rem;
}
.pb-blog{
	text-align: left;
	.blog-item:hover{
		box-shadow: none;
	}
	.entry-body{
		padding: 0;
	}
	.post-title{
		font-size: 1.6rem;
		margin-bottom: -.2rem;
	}
	.post-meta{
		margin-bottom: -.5rem;
	}
}
.post-readmore{
	font-weight: 300;
	color: #777;
	&:hover span{
		box-shadow: none;
	}
}
.btn-more{
	text-transform: uppercase;
	border-color: #ebebeb;
	i:last-child{
		margin-left: 1.5rem;
	}
}
.instagram-feed{
	margin-bottom: 0;
}
.page-index #footer{
	#footer-copyright .container::before{
		display: none;
	}
}
.productbox-3{
	background-color: transparent;
	&:hover{
		.wrapp-buttons{
			top: 2rem;
		}
	}
	.product-info .category-name{
		font-weight: 400;
		text-transform: uppercase;
		color: #777;
	}
	.product-title{
		margin-bottom: .9rem;
		font-weight: 300;
	}
	.wrapp-buttons{
		right: 2rem;
		top: 3.5rem;
	}
	.product-action{
		background-color: rgba(255,255,255,0.9);
		.product-btn{
			padding-top: 1.3rem;
			padding-bottom: 1.3rem;
			&::before{
				display: none;
			}
			span{
				margin-left: 0;
			}
		}
	}
	.product-info{
		background-color: transparent;
	}
	.content_price span.price{
		&.new{
			color: #c96;
			&.has-discount{
				color: #ef837b;
			}
		}
	}
}

@include mq('md') {
	.banner-content {
		left: 4rem;

		&.banner-content-right {
			right: 9rem;
		}

		&.banner-content-reverse {
			left: auto;
			right: 4rem;
		}

		&.banner-content-top {
			top: 5.6rem;
		}
	}

	.banner-title {
		font-size: 2.2rem;
	}
}