/* Demo 13 Homepage 13 */
$primary-color: #3399ff;
$secondary-color: #278bf0;

@import '../skins/skin.scss';
@import '../mixins/clearfix.scss';
@import '../mixins/breakpoints.scss';
@import '../mixins/lazy.scss';
@import '../mixins/buttons.scss';
@import '../config/variables.scss';


.title {
	font-weight: 600;
	letter-spacing: -.025em;
}
.gdz-slider-wrapper{
	.intro-title {
		letter-spacing: -.025em;
	}
	.intro-old-price{
		letter-spacing: -.025em;
		&::after{
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			position: absolute;
			top: 50%;
			left: 0;
			background-color: #999;
		}
	}
	.text-third, .from{
		letter-spacing: -.025em;
		sup{
			font-size: 0.4em;
			font-weight: 600;
			right: 0;
			line-height: 1;
			top: -1em !important;
			letter-spacing: -.025em;
		}
	}
	.btn{
		min-width: 200px;
		background-color: transparent;
		border-radius: .2rem;
		padding-top: 1.15rem;
		padding-bottom: 1.15rem;
		color: $primary-color;
		&:hover{
			background-color: $primary-color;
			color: #fff;
		}
		i{
			margin-left: .5rem;
		}
	}
	.fraction-slider{
		.prev{
			left: 3rem;
		}
		.next{
			right: 3rem;
		}
		.prev, .next{
			width: 4.2rem;
			height: 4.2rem;
			color: #777;
			border: none;
			display: none;
			&::before{
				font-size: 2.6rem;
			}
			&:hover{
				background-color: transparent;
				color: $primary-color;
			}
		}
	}
	.fs-pager-wrapper{
		display: none;
		bottom: 1rem;
		a{
			&:hover, &.active{
				background-color: #ccc;
				border-color: #ccc;
			}
		}
	}
}
.banner-category{
	.pb-banner{
		overflow: visible;
		min-height: 160px;
		transition: box-shadow .35s ease;
		&:hover{
			box-shadow: 1px 5px 10px rgba(0,0,0,0.08);
			.pb-banner-title{
				color: $primary-color;
			}
		}
		> a{
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			text-align: center;
			margin-bottom: 3rem;
			&:hover{
				
			}
		}
	}
	.pb-banner-img{
		overflow: visible;
		min-height: 86px;
		position: relative;
		display: inline-flex;
		align-items: center;
		position: relative;
		flex: 1;
		margin: 0;
		span{
			display: flex;
			min-height: 124px;
		}
		img{
			width: auto;
			margin: auto;
			transition: transform 0.35s ease;
		}
	}
	.pb-banner-text{
		position: static;
		.pb-banner-title{
			color: #666;
			font-weight: 400;
			font-size: 1.4rem;
			letter-spacing: 0;
			margin-top: -.1rem;
			margin-bottom: 0;
			transition: color .35s ease;
		}
	}
}
.banner-overlay-dark .pb-banner > a::after {
	background-color: rgba(51, 51, 51, 0.25);
}
.h13-banner{
	.layout-column{
		margin-bottom: 2rem;
	}
	.pb-banner{
		&.banner-overlay-light{
			> a::after{
				background-color: rgba(255,255,255,0.3);
			}
			.pb-banner-text{
				.pb-banner-subtitle{
					color: #777;
				}
				.pb-banner-title{
					color: #333;
				}
				.pb-banner-desc{
					color: $primary-color;
				}
				.btn{
					color: #fff;
					background-color: rgba(51,51,51,0.2);
					&:hover{
						color: #333;
						background-color: #fff;
					}
				}
			}
		}
	}
	.pb-banner-text{
		display: block;
		top: 2.5rem;
		bottom: auto;
		left: 3.1rem;
		right: auto;
		text-align: left;
		.pb-banner-subtitle{
			color: #fff;
			font-weight: 300;
			font-size: 1.4rem;
			letter-spacing: -.01em;
			margin-bottom: .8rem;
			display: block;
		}
		.pb-banner-title{
			color: #fff;
			font-weight: 600;
			font-size: 1.4rem;
			letter-spacing: -.025em;
			margin-bottom: 0;
			line-height: 1.25;
		}
		.pb-banner-desc{
			color: #fff;
			font-weight: 300;
			font-size: 1.4rem;
			letter-spacing: -.025em;
			margin-bottom: 0;
			line-height: 1.25;
		}
		.pb-banner-button{
			background-color: rgba(255,255,255,0.2);
			border: none;
			color: #fff;
			font-weight: 400;
			font-size: 1.4rem;
			line-height: 1.4;
			min-width: auto;
			padding: .75rem 1rem;
			margin-top: 4.4rem;
			&:hover{
				color: #fff;
				border-color: $primary-color;
				background-color: $primary-color;
			}
		}
	}
}

.pb-hotdeal{
	.countdown{
		top: 177px;
		width: calc(100% - 40px);
		margin: auto;
		padding: .1rem 0 .1rem;
		border-radius: .2rem;
		background-color: $primary-color;
		color: #fff;
		display: block;
		position: absolute;
		bottom: auto;
		left: 50%;
		transform: translateX(-50%);
		.countdown-section{
			display: inline-flex;
			flex-direction: column;
			min-width: 25%;
			position: relative;
			&:not(:last-child)::before{
				content: ":";
				position: absolute;
				right: -.2rem;
				top: -.1rem;
			}
			.countdown-amount{
				font-weight: 400;
				font-size: 1.6rem;
				letter-spacing: -.01em;
				margin-bottom: -1rem;
				padding-right: 0;
			}	
			.countdown-period{
				font-size: 1rem;
				text-transform: lowercase;
			}
		}
	}
	.owl-dots{
		margin-top: 0;
	}
}
.pb-producttab .nav.nav-tabs{
	border-bottom: .1rem solid #ebebeb;
	.nav-item{
		.nav-link{
			padding: 1.55rem .9rem;
			text-transform: capitalize;
		}
	}
}

.pb-brand{
	.owl-carousel .owl-nav button{
		&.disabled{
			opacity: .7;
		}
		&::before{
			font-size: 2.6rem;
		}
	}
	.brand-item{
		margin: auto;
	}
}

.h13-newsletter{
	.pb-heading{
		letter-spacing: -.005em;
		font-weight: 600;
		margin-bottom: .4rem;
		margin-top: .3rem;
	}
	.pb-text-content{
		letter-spacing: 0;
		p{
			margin-bottom: 0;
		}
	}
	.email_subscription{
		max-width: 100%;
		.form-control{
			border-radius: .2rem 0 0 .2rem;
			border-right: 0;
			&::placeholder {
				color: #777;
			}
		}
	}
	#newsletter-btn{
		padding: 1.15rem 1.5rem;
		background-color: $primary-color;
		border: .1rem solid #fff;
		color: #fff;
		text-transform: uppercase;
		border-radius: 0 .2rem .2rem 0;
		min-width: 140px;
		font-weight: 400;
		&:hover{
			background-color: $secondary-color;
			border-color: $secondary-color;
		}
	}
}
.pb-blog{
	text-align: left;
	.blog-item{
		background-color: #fff;
	}
	.entry-body{
		padding-bottom: 17px;
	}
	.post-meta{
		margin-top: 1.3rem;
		margin-bottom: .2rem;
		li{
			font-weight: 300;
		}
	}
	.post-title{
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 1.5;
		letter-spacing: -.025em;
		margin-bottom: .6rem;
	}
	.post-intro{
		margin-bottom: .5rem;
		p{
			letter-spacing: 0;
			margin-bottom: 0;
		}
	}
	.post-readmore{
		text-transform: capitalize;
		color: $primary-color;
		letter-spacing: 0;
	}
}
.pb-service-box{
	margin-left: -1.5rem;
	.pb-service-content{
		.pb-service-title{
			font-weight: 400;
			margin-bottom: .4rem;
		}
		.pb-service-description p{
			font-weight: 300;
		}
	}
}

@media (min-width: 768px){
	.h13-banner{
		.layout-column{
			margin-bottom: 0;
		}
		.pb-banner-text{
			.pb-banner-title{
				font-size: 2.4rem;
			}
			.pb-banner-desc{
				font-size: 2.4rem;
			}
			.pb-banner-button{
				margin-top: .5rem;
			}
		}
	}
	.h13-producttab .pb-producttab {
		margin-top: -41px;
	}
	.addon-tab .nav-tabs{
		&.tab-right{
			text-align: right;
		}
	}
}
@media (min-width: 1200px){
	.h13-newsletter{
		.col-lg-5{
			flex: 0 0 40%;
			max-width: 40%;
		}
		.col-lg-7{
			flex: 0 0 60%;
			max-width: 60%;
		}
	}
	.fraction-slider{
		.prev, .next{
			display: flex;
		}
	}
	.gdz-slider-wrapper .fs-pager-wrapper{
		display: block;
	}
	.h13-banner .pb-banner-text .pb-banner-button {
		margin-top: 4.4rem;
	}
}
@media (min-width: 1900px){
	.gdz-slider-wrapper .fs-pager-wrapper{
		width: auto;
		left: 50%;
		right: auto;
		transform: translateX(-50%);
		margin-left: -188px;
		bottom: 3.6rem;
	}
}