/* Demo 13 Homepage 13 */
$primary-color: #3399ff;
$secondary-color: #278bf0;

@import '../skins/skin';
@import '../mixins/clearfix';
@import '../mixins/breakpoints';
@import '../mixins/lazy';
@import '../mixins/buttons';

@import '../config/fonts';
@import '../config/variables';


.title {
	font-weight: 600;
	letter-spacing: -.025em;
}
.banner-category{
	.pb-banner{
		overflow: visible;
		min-height: 160px;
		transition: box-shadow .35s ease;
		&:hover{
			box-shadow: 1px 5px 10px rgba(0,0,0,0.08);
			.pb-banner-title{
				color: $primary-color;
			}
		}
		> a{
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			text-align: center;
			margin-bottom: 3rem;
			&:hover{
				
			}
		}
	}
	.pb-banner-img{
		overflow: visible;
		min-height: 86px;
		position: relative;
		display: inline-flex;
		align-items: center;
		position: relative;
		flex: 1;
		margin: 0;
		span{
			display: flex;
			min-height: 124px;
		}
		img{
			width: auto;
			margin: auto;
			transition: transform 0.35s ease;
		}
	}
	.pb-banner-text{
		position: static;
		.pb-banner-title{
			color: #666;
			font-weight: 400;
			font-size: 1.4rem;
			letter-spacing: 0;
			margin-top: -.1rem;
			margin-bottom: 0;
			transition: color .35s ease;
		}
	}
}
.banner-overlay-dark .pb-banner > a::after {
	background-color: rgba(51, 51, 51, 0.25);
}
.h13-banner{
	.pb-banner-text{
		display: block;
		top: 2.5rem;
		bottom: auto;
		left: 3.1rem;
		right: auto;
		text-align: left;
		.pb-banner-subtitle{
			color: #fff;
			font-weight: 300;
			font-size: 1.4rem;
			letter-spacing: -.01em;
			margin-bottom: .8rem;
			display: block;
		}
		.pb-banner-title{
			color: #fff;
			font-weight: 600;
			font-size: 2.4rem;
			letter-spacing: -.025em;
			margin-bottom: 0;
			line-height: 1.25;
		}
		.pb-banner-desc{
			color: #fff;
			font-weight: 300;
			font-size: 2.4rem;
			letter-spacing: -.025em;
			margin-bottom: 0;
			line-height: 1.25;
		}
		.pb-banner-button{
			background-color: rgba(255,255,255,0.2);
			border: none;
			color: #fff;
			font-weight: 400;
			font-size: 1.4rem;
			line-height: 1.4;
			min-width: auto;
			padding: .75rem 1rem;
			margin-top: 4.4rem;
			&:hover{
				color: #fff;
				border-color: $primary-color;
				background-color: $primary-color;
			}
		}
	}
}