/* Demo 24 Homepage 24 */
$primary-color: #fcb941;
$secondary-color: #fcb941;

@import '../skins/skin.scss';
@import '../mixins/clearfix.scss';
@import '../mixins/breakpoints.scss';
@import '../mixins/lazy.scss';
@import '../mixins/buttons.scss';
@import '../config/variables.scss';


.container {
	width: 1188px;
	max-width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
}
.heading-cat {
	font-weight: 500;
	letter-spacing: .1em;
	text-transform: uppercase;
	margin-bottom: .5rem;
}
.title {
	font-weight: 700;
	letter-spacing: -.025em;
}
.pb-banner-button{
	font-size: 1.3rem;
	font-weight: 400;
	letter-spacing: .1em;
	text-transform: uppercase;
	border-color: $primary-color;
	color: $primary-color;
	background-color: transparent;
	padding: 1.4rem 2.8rem;
	border-radius: .5rem;
	min-width: auto;
	span{
		line-height: 1.5;
	}
	&:hover{
		color: #222;
		background-color: $primary-color;
	}
	i{
		display: none;
	}
}
.banner-type-1{
	.container > .row{
		margin-left: -.5rem;
		margin-right: -.5rem;
	}
	.layout-column{
		padding-left: .5rem;
		padding-right: .5rem;
	}
}
.banner-1, .banner-3{
	.pb-banner-text{
		.pb-banner-subtitle{
			font-weight: 400;
			letter-spacing: .1em;
			text-transform: uppercase;
			margin-bottom: .9rem;
		}
		.pb-banner-title{
			font-family: 'Playfair Display';
			font-weight: 700;
			letter-spacing: -.025em;
			text-transform: uppercase;
			margin-bottom: 1.5rem;
		}
		.btn{
			padding: .75rem 2rem;
		}
	}
}
.banner-2{
	.pb-banner-text{
		&.pb-banner-center-center{
			width: 76.5%;
			top: 50% !important;
			left: 50% !important;
			bottom: auto !important;
			right: auto !important;
			transform: translate(-50%, -50%);
			background: #fff;
			padding: 8.1rem 0;
			align-items: center;
		}
		.pb-banner-subtitle{
			font-weight: 400;
			letter-spacing: .1em;
			text-transform: uppercase;
			margin-bottom: .9rem;
		}
		.pb-banner-title{
			font-weight: 700;
			letter-spacing: -.025em;
			text-transform: uppercase;
			margin-bottom: 1.5rem;
		}
		.pb-banner-desc{
			letter-spacing: .01em;
			font-family: 'Playfair Display';
			margin-bottom: 2.6rem;
			.img-percent{
				margin-bottom: 1.9rem;
			}
		}
		.btn{
			padding: .75rem 2rem;
		}
	}
}

.banner-type-2{
	.container > .row, .grid_row{
		margin-left: 0;
		margin-right: 0;
	}
	.layout-column, .grid_column{
		padding-left: 0;
		padding-right: 0;
	}
}
.banner-4{
	.pb-banner-text{
		.pb-banner-subtitle{
			font-weight: 700;
			letter-spacing: 0;
			font-family: 'Playfair Display';
			font-style: italic;
			margin-bottom: .4rem;
		}
		.pb-banner-title{
			font-family: 'Playfair Display';
			font-weight: 700;
			letter-spacing: -.025em;
			text-transform: uppercase;
			margin-bottom: .8rem;
		}
		.pb-banner-desc{
			margin-bottom: 3rem;
		}
		.btn{
			border-width: .2rem;
			padding: 1.1rem 2rem;
			margin-bottom: 2.3rem;
		}
	}
}
.banner-stretch{
	.pb-banner-text{
		.pb-banner-subtitle{
			font-weight: 300;
			letter-spacing: .1em;
			margin-bottom: .4rem;
			text-transform: uppercase;
		}
		.pb-banner-title{
			font-family: 'Playfair Display';
			font-weight: 700;
			letter-spacing: -.01em;
			text-transform: uppercase;
			margin-bottom: .8rem;
		}
		.pb-banner-desc{
			margin-bottom: 3rem;
		}
		.btn{
			border-width: .2rem;
			padding: .65rem 1.85rem;
			margin-bottom: 2.3rem;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

@media (min-width: 1200px){
	.banner-1, .banner-3 {
		flex: 0 0 31.3%;
		max-width: 31.3%;
	}
	.banner-2 {
		flex: 0 0 37.4%;
		max-width: 37.4%;
	}
}