/* Demo 9 Homepage 9 */
$primary-color: #1cc0a0;
$secondary-color: #23aa90;

@import '../skins/skin.scss';
@import '../mixins/clearfix.scss';
@import '../mixins/breakpoints.scss';
@import '../mixins/lazy.scss';
@import '../mixins/buttons.scss';
@import '../config/fonts.scss';
@import '../config/variables.scss';


.title {
	font-size: 2.2rem;
	font-weight: 600;
	letter-spacing: -.01em;
}
input[type="text"]{
	border-color: #dadada;
}
.image-carousel{
	.owl-stage::after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
	.owl-item{
		&.active.center .image-item{
			&::after{
				display: none;
			}
		}
		.image-item{
			position: relative;
			&::after{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background-color: rgba(38,38,38,0.4);
				transition: all 0.55s ease-out .3s;
				opacity: 1;
				visibility: visible;
				z-index: 5;
			}
		}
	}
	.owl-nav{
		button{
			background-color: transparent;
			border: none;
			color: #fff;
			width: 4.2rem;
			height: 4.2rem;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: .4s all;
			&:hover{
				color: $primary-color;
			}
			span{
				display: none;
			}
			&.owl-prev{
				left: -3rem;
				&::before{
					font-family: "molla" !important;
					content: '\f111';
					font-size: 3rem;
					transition: all 400ms;
				}
			}
			&.owl-next{
				right: -3rem;
				&::before{
					font-family: "molla" !important;
					content: '\f112';
					font-size: 3rem;
					transition: all 400ms;
				}
			}
		}
	}
}
.banner-overlay-dark .pb-banner > a::after {
	background-color: rgba(51, 51, 51, 0.25);
}
.banner-1{
	.content-bottom{
		.pb-banner-text{
			top: auto;
			bottom: 7rem;
		}
	}
	.content-top{
		.pb-banner-text{
			top: 5.3rem;
		}
	}
	.content-center{
		.pb-banner-text{
			top: 50%;
			transform: translateY(-50%);
			bottom: .5rem;
		}
	}
	.pb-banner-text{
		top: 0;
		bottom: auto;
		display: block;
		text-align: left;
		left: 4rem;
		right: auto;
		color: #fff;
		.pb-banner-subtitle{
			font-size: 1.4rem;
			font-weight: 300;
			letter-spacing: .1em;
			margin-bottom: .7rem;
			text-transform: uppercase;
			display: block;
		}
		.pb-banner-title{
			color: #fff;
			font-weight: 600;
			font-size: 2.2rem;
			line-height: 1.15;
			letter-spacing: -.01em;
			margin-bottom: .1rem;
			+ .btn{
				margin-top: 1.3rem;
			}
		}
		.pb-banner-desc{
			font-weight: 300;
			font-size: 2.2rem;
			line-height: 1.25;
			letter-spacing: .01em;
			text-transform: uppercase;
		}
		.btn{
			min-width: 150px;
			border-width: 2px;
			font-size: 1.3rem;
			letter-spacing: .1em;
			padding: .8rem 2.7rem;
			text-transform: uppercase;
			margin-top: 2.5rem;
			color: #fff;
			&:hover{
				border-color: $primary-color;
				background-color: $primary-color;
			}
			i{
				display: none;
			}
		}
	}
}

.pb-service-box{
	padding: 1.7rem 0;
	.pb-service-icon{
		color: #666;
	}
	.pb-service-content{
		.pb-service-title{
			font-size: 1.4rem;
			font-weight: 600;
			letter-spacing: .01em;
			text-transform: uppercase;
			color: #fff;
		}
		.pb-service-description{
			font-size: 1.3rem;
			p{
				margin-bottom: 0;
			}
		}
	}
}

.pb-categorytab .nav.nav-tabs .nav-item .nav-link{
	color: #ccc;
	font-size: 1.4rem;
	font-weight: 600;
	letter-spacing: .01em;
	&:hover{
		color: $primary-color;
	}
	&::before{
		background-color: #333;
	}
	&.active{
		color: #333;
	}
}

.producttab-banner{
	.owl-carousel .owl-nav button{
		top: 35%;
		font-size: 2.4rem;
		color: #333;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		display: none;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		box-shadow: 0 5px 20px rgba(34,34,34,0.3);
		&.owl-prev{
			left: 4rem;
		}
		&.owl-next{
			right: 4rem;
		}
		&.disabled{
			opacity: .7;
			cursor: default;
		}
	}
}

.cta-desc {
	font-weight: 300;
	letter-spacing: 0;
	span{
		color: #333;
	}
}

.email_subscription{
	input.form-control{
		border-right: 0;
	}
	#newsletter-btn{
		min-width: 7rem;
		padding: 1rem;
		background-color: $primary-color;
		color: #fff;
		&:hover{
			background-color: $secondary-color;
		}
		i{
			margin-left: 0;
		}
		span{
			display: none;
		}
	}
}

.instagram_carousel{
    .instagram-feed{
        margin-bottom: 0;
    }
    .owl-stage::after {
	    content: ".";
	    display: block;
	    clear: both;
	    visibility: hidden;
	    line-height: 0;
	    height: 0;
	}
	.owl-nav, .owl-dots{
		&.disabled{
			display: none;
		}
	}
}
@media (min-width: 768px){
	.producttab-banner .addon-tab .nav-tabs.tab-right{
		text-align: right;
	}
}
@media (min-width: 992px){
	.trending-now .producttab {
		margin-top: -2.7rem;
	}
	.producttab-banner .owl-carousel .owl-nav button{
		display: flex;
	}
}