/* Demo 19 Homepage 19 */
$primary-color: #fcb842;
$secondary-color: #eca62d;

@import '../skins/skin.scss';
@import '../mixins/clearfix.scss';
@import '../mixins/breakpoints.scss';
@import '../mixins/lazy.scss';
@import '../mixins/buttons.scss';
@import '../config/variables.scss';

#mobile-header{
	background-color: #333;
	#mobile-menu-toggle{
		color: #fff;
	}
	.mobile-menu-light{
		background-color: transparent;
	}
	.user-info > a i, 
	#wishlist_block > a i, 
	#cart_block > a i {
		color: #fff;
	}
}
.main-site{
	width: 100%;
	max-width: 1290px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
}
body {
	background-color: #efefef;
	background-position: center top;
	background-repeat: no-repeat;
}

.container {
	width: 1190px;
	max-width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
}
.title {
	font-weight: 600;
	letter-spacing: -.025em;
}
.sidenav-title{
	padding-left: 3rem;
	font-size: 1.4rem;
	text-transform: capitalize;
	display: flex;
	align-items: center;
	&::before{
		content: '\f131';
		font-family: 'molla';
		border: none;
		font-size: 2.2rem;
		line-height: 1;
		margin-left: 0;
		margin-right: 1.5rem;
	}
}
.vertical-menu{
	.gdz-megamenu{
		.caret::after{
			content: '\f112';
			font-size: 1.2rem;
			right: 3.3rem;
		}
		.dropdown-menu{
			left: 100%;
			top: 0;
			padding: 0;
		}
		.mega-col-nav{
			padding-left: 2rem;
			padding-right: 2rem;
			margin-top: 1.5rem;
			padding-bottom: 1.5rem;
			&.col-banner{
				padding: 0;
				margin: 0;
			}
		}
		.nav > .menu-item .mega-nav li{
			padding: 0 !important;
			> a{
				color: #666;
				font-weight: 300;
				font-size: 1.3rem;
				letter-spacing: 0;
				padding-top: .6rem;
				padding-bottom: .6rem;
				line-height: 1.5;
				&:hover{
					color: $primary-color;
				}
			}
			.banner{
				max-width: 100%;
				&.banner-menu{
					max-width: 280px;
				}
			}
			&.group{
				margin-top: 0;
				a{
					color: #333;
					font-weight: 600;
					font-size: 1.4rem;
					letter-spacing: -.01em;
					text-transform: capitalize;
					padding-bottom: 1rem;
					border-bottom: .1rem solid #eeeeee;
					margin-bottom: .7rem;
					padding-top: 0;
				}
			}
		}
		> ul{
			background-color: #f8f8f8;
			> li{
				display: block;
				width: 100%;
				> a{
					display: block;
					width: 100%;
					color: #333;
					font-weight: 400;
					border: none;
					padding-left: 3rem;
					padding-top: .95rem;
					padding-bottom: .95rem;
					line-height: 1.5;
					&:hover{
						color: #333;
						background-color: #fff;
					}
				}
			}
		}
	}
}
.pb-button{
	&.pb-button-right, .pb-button-left{
		text-align: center;
	}
}
.pb-banner{
	&.big-btn{
		.pb-banner-text{
			top: 60%;
			padding-left: .2rem;
			.btn{
				padding: .75rem 2rem;
				i{
					margin-left: .5rem;
				}
			}
		}
	}
	&.content-right{
		.pb-banner-text{
			right: 3rem;
			left: auto;
			.pb-banner-subtitle{
				margin-bottom: .3rem;
			}
			.banner-price{
				margin-top: .4rem;
			}
		}
	}
	&.content-right-bottom{
		.pb-banner-text{
			transform: none;
			right: 2rem;
			left: auto;
			bottom: 2rem;
			text-align: right;
			top: auto;
			.banner-title-img{
				margin-left: auto;
			}
			.pb-banner-subtitle{
				margin-bottom: .3rem;
			}
			.banner-price{
				margin-top: .4rem;
			}
		}
	}
	.pb-banner-text{
		text-align: left;
		top: 50%;
		transform: translateY(-50%);
		bottom: auto;
		left: 4rem;
		right: auto;
		display: block;
		.pb-banner-subtitle{
			display: block;
			font-size: 1.4rem;
			font-weight: 400;
			color: $primary-color;
			text-transform: uppercase;
			margin-top: 0;
			margin-bottom: -.3rem;
		}
		.banner-price {
			font-size: 1.4rem;
			font-weight: 400;
			letter-spacing: -.01em;
			text-transform: uppercase;
			color: #fff;
			margin-bottom: 1.8rem;
			margin-top: .4rem;
			.price {
			    color: $primary-color;
			    margin-left: .4rem;
			}
			.off {
			    font-size: 2.4rem;
			    font-weight: 700;
			    letter-spacing: -.025em;
			}
		}
		.pb-banner-desc{
			margin-bottom: 1.1rem;
		}
		.btn{
			padding: .1rem 2rem;
			line-height: 2;
			border: none;
			color: #333;
			background-color: #fcb842;
			text-transform: uppercase;
			padding: .1rem 2rem;
			border-radius: 5px;
			transition: all .3s;
			font-weight: 600;
			min-width: auto;
			&:hover{
				background-color: #fff;
			}
		}
	}
}
.banner-overlay-dark .pb-banner > a::after {
	background-color: rgba(51, 51, 51, 0.25);
}
.games-soon{
	.pb-image-carousel{
		.image-item > a{
			&:hover::after{
				opacity: 1;
				visibility: visible;
			}
			&::after{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background-color: rgba(51,51,51,0.25);
				z-index: 1;
				opacity: 0;
				visibility: hidden;
				transition: all 0.4s ease;
			}
		}
	}
}
.pb-service-box{
	.pb-service-icon{
		min-width: 5.4rem;
		text-align: left;
	}
	.pb-service-content .pb-service-description p{
		font-weight: 300;
	}
}
.icon-box-side{
	.row > .layout-column:not(:last-child)::before{
		content: '';
		display: none;
		width: .1rem;
		height: 3.7rem;
		background-color: #e9e9e9;
		position: absolute;
		right: 4.4rem;
		top: 50%;
		transform: translateY(-50%);
	}
}
.pb-producttab{
	.nav.nav-tabs .nav-item{
		+ .nav-item{
			margin-left: 1.5rem;
		}
		.nav-link{
			font-size: 2rem;
			padding: .8rem .9rem;
			color: #ccc;
			font-weight: 600;
			letter-spacing: -.025em;
			text-transform: capitalize;
			&:hover{
				color: $primary-color;
			}
			&::before{
				background-color: #333;
			}
			&.active{
				color: #333;
			}
		}
	}
	+ .tab-content .owl-dots{
		margin-top: -.1rem;
	}
}
.owl-carousel .owl-nav{
	[class*="owl-"]{
		top: 45%;
	}
	button.owl-prev{
		left: -35px;
	}
	button.owl-next{
		right: -35px;
	}
}

.pb-banner{
	&.banner-6, &.banner-7, &.banner-8{
		.pb-banner-text{
			left: 3rem;
		}
	}
	&.banner-7{
		.pb-banner-text{
			.pb-banner-subtitle{
				letter-spacing: 0.1em;
			}
		}
	}
	&.banner-8{
		.pb-banner-text{
			.pb-banner-subtitle{
				color: #fff;
				letter-spacing: 0.1em;
				margin-bottom: .6rem;
			}
			.pb-banner-desc{
				margin-bottom: 2rem;
			}
		}
	}
}
.btn-link{
	color: #777;
	text-transform: uppercase;
	letter-spacing: -.01em;
	padding-left: 0;
	padding-right: 0;
}
.pb-image-carousel .owl-dots{
	position: static;
	margin-top: 2.5rem;
}
.h19-newsletter{
	.container{
		max-width: 1170px;
		width: 100%;
		padding: 3.7rem 1rem;
		background-image: url('../images/demos/demo-19/bg-2.jpg');
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		> .row{
			align-items: center;
		}
	}
	.pb-heading{
		font-weight: 600;
		font-size: 1.6rem;
		letter-spacing: -.01em;
		text-transform: uppercase;
		margin-bottom: 1rem;
	}
	.pb-text-content p{
		letter-spacing: 0;
		line-height: 1.4;
		margin-bottom: 0;
		margin-bottom: 1rem;
	}
	.email_subscription{
		max-width: 550px;
		margin-left: auto;
		margin-right: 0;
		.form-control{
			background-color: #f8f8f8;
			border-top-left-radius: .3rem;
			border-bottom-left-radius: .3rem;
		}
		#newsletter-btn{
			min-width: 140px;
			padding: 0;
			background-color: #fcb842;
			border-color: #fcb842;
			text-transform: uppercase;
			font-weight: 400;
			border-top-right-radius: .3rem;
			border-bottom-right-radius: .3rem;
			&:hover{
				background-color: #fff;
				color: $primary-color;
			}
			i{
				margin-left: .3rem;
			}
		}
	}
}
.pb-blog{
	.owl-stage{
		display: flex;
	}
	.blog-item{
		background-color: #fff;
		text-align: left;
		height: 100%;
	}
	.entry-body{
		padding-bottom: 2.1rem;
	}
	.post-meta{
		margin-top: 1.3rem;
	}
	.post-title{
		font-size: 1.6rem;
		line-height: 1.5;
		margin-top: .3rem;
	}
	.owl-dots{
		margin-top: 1rem;
	}
}
@media (min-width: 768px){
	.pb-producttab .nav.nav-tabs .nav-item .nav-link{
		font-size: 2.2rem;
	}
}
@media (min-width: 992px){
	.pb-button{
		&.pb-button-right{
			text-align: right;
		}
		&.pb-button-left{
			text-align: left;
		}
	}
	.pb-producttab .nav.nav-tabs .nav-item .nav-link{
		font-size: 2.4rem;
	}
	.h19-newsletter .container{
		padding-left: 7rem;
		padding-right: 7rem;
		.pb-heading, .pb-text-content p{
			margin-bottom: 0;
		}
	}
}
@include mq('xl') {
	body {
		background-image: url('../images/demos/demo-19/bg-1.jpg');
		background-color: #efefef;
		background-position: center top;
		background-repeat: no-repeat;
	}
	.icon-box-side .row > .layout-column:not(:last-child)::before {
		display: block;
	}
	
}
.games-soon {
	@include mq('lg') {
		.col-lg-5 {
			flex: 0 0 40%;
			max-width: 40%;
		}

		.col-lg-7 {
			flex: 0 0 60%;
			max-width: 60%;
		}
	}
}