/* Demo 12 Homepage 12 */
$primary-color: #c96;
$secondary-color: #c96;

@import '../skins/skin.scss';
@import '../mixins/clearfix.scss';
@import '../mixins/breakpoints.scss';
@import '../mixins/lazy.scss';
@import '../mixins/buttons.scss';
@import '../config/variables.scss';


#mobile-header{
	background-color: #333;
	#mobile-menu-toggle{
		color: #fff;
	}
	.mobile-menu-light{
		background-color: transparent;
	}
	.user-info > a i, 
	#wishlist_block > a i, 
	#cart_block > a i {
		color: #fff;
	}
}
.title {
	font-weight: 600;
	font-size: 2rem;
	letter-spacing: -.025em;
}
.page-index #hor-menu .gdz-megamenu .nav.level0 > li.sub-home > a {
	color: #fff;
	&::before{
		background-color: #fff;
	}
}
.h12-slider{
	.gdz-slider-wrapper{
		.gdz-slide-content{
			width: 100%;
		}
		.intro-subtitle{
			letter-spacing: .1em;
		}
		.intro-title{
			letter-spacing: -.025em;
			text-transform: uppercase;
		}
		.btn{
			min-width: 190px;
			border-color: $primary-color;
			text-transform: uppercase;
			padding-top: 1.15rem;
			padding-bottom: 1.15rem;
			letter-spacing: .01em;
			&:hover{
				background-color: $primary-color;
				color: #fff;
			}
			i{
				margin-left: .5rem;
				margin-right: 0;
			}
		}
	}
}
.banner-text-hidden{
	.layout-column{
		margin-bottom: 2rem;
	}
	&.show-title{
		.pb-banner-text .pb-banner-title{
			visibility: visible;
		}
	}
	.pb-banner:hover{
		.pb-banner-text{
			padding-bottom: 4.5rem;
			.pb-banner-title{
				visibility: visible;
			}
			.btn{
				opacity: 1;
				transform: translateY(0) translateX(-50%);
			}
		}
	}
	.pb-banner-text{
		top: 50% !important;
		left: 50% !important;
		bottom: auto !important;
		transform: translate(-50%, -50%);
		right: auto;
		bottom: auto;
		display: block;
		transition: all .3s ease;
		.pb-banner-title{
			font-weight: 600;
			letter-spacing: -.025em;
			visibility: hidden;
			margin-bottom: 1.4rem;
			transition: all .3s;
		}
		.btn{
			opacity: 0;
			color: #fff;
			line-height: 1;
			padding: .8rem 1.4rem;
			min-width: 126px;
			position: absolute;
			left: 50%;
			transform: translateY(-60px) translateX(-50%);
			&:hover{
				border-color: $primary-color;
				background-color: $primary-color;
			}
			i{
				display: none;
			}
		}
	}
}

.banner-overlay-dark .pb-banner > a::after{
	background-color: rgba(102,102,102,0.25);
}

.js-product-miniature{
	background-color: transparent;
	.product-info{
		background-color: transparent;
	}
	.product-flags .product-flag{
		width: auto;
		height: auto;
		border-radius: 0;
		padding: .5rem .9rem;
		background-color: $primary-color;
	}
	.category-name{
		text-transform: uppercase;
		font-weight: 400;
	}
	.product-title{
		font-weight: 400;
		margin-bottom: .9rem;
	}
	.content_price .price.new{
		color: $primary-color;
		&.has-discount{
			color: #ef837b;
		}
	}
}

.pb-categoryproduct{
	.owl-dots{
		margin-top: .9rem;
	}
}


.icon-box-side{
	.pb-service-box{
		.pb-service-icon{
			color: $primary-color;
			min-width: 4.2rem;
			text-align: left;
		}
		.pb-service-content .pb-service-title{
			font-weight: 400;
			font-size: 1.4rem;
			letter-spacing: -.01em;
		}
	}
	p{
		font-weight: 300;
		margin-bottom: 0;
	}
}

.productbox-3{
	&:hover{
		.wrapp-buttons{
			top: 2rem;
		}
	}
	.wrapp-buttons{
		right: 2rem;
		top: 3.5rem;
	}
}