/* Demo 2 Homepage 2 */
$primary-color: #a6c76c;
$secondary-color: #92b25a;

@import '../skins/skin';
@import '../mixins/clearfix';
@import '../mixins/breakpoints';
@import '../mixins/lazy';
@import '../mixins/buttons';
@import '../config/fonts';
@import '../config/variables';


.h1-countdown{
	.container > .row{
		margin: 0;
	}
	.pb-countdown{
		margin-bottom: 4rem;
		.countdown-section{
			position: relative;
			display: inline-flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: $primary-color;
			color: #fff;
			border-radius: .3rem;
			min-width: 70px;
			line-height: 1;
			padding-top: 2.1rem;
			padding-bottom: 2.1rem;
			.countdown-amount {
			    display: inline-block;
			    color: #fff;
			    font-weight: 600;
			    font-size: 3rem;
			    letter-spacing: -.05em;
			    margin-bottom: .4rem;
			}
			.countdown-period {
				text-align: center;
			    display: block;
			    font-size: 1.2rem;
			    font-weight: 400;
			    color: #fff;
			    text-transform: lowercase;
			    width: 100%;
			    padding-left: .2rem;
			    padding-right: .2rem;
			    white-space: nowrap;
			    overflow: hidden;
			    text-overflow: ellipsis;
			}
			&:not(:last-child){
				margin-right: 2rem;
				&::after{
					color: #333333;
					content: ':';
					display: inline-block;
					font-weight: 400;
					font-size: 2rem;
					line-height: 1;
					position: absolute;
					left: 100%;
					margin-left: .9rem;
					margin-top: -.1rem;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}
	.deal-content{
		padding-top: 5.6rem;
		padding-left: 5rem;
		.btn{
			font-weight: 500;
			padding-top: 1.15rem;
			padding-bottom: 1.15rem;
		}
		h4{
			font-weight: 400;
			line-height: 1.3;
			letter-spacing: -.01em;
			margin-bottom: .5rem;
		}
		h2{
			font-weight: 600;
			line-height: 1.1;
			letter-spacing: -.05em;
			margin-bottom: 3.6rem;
		}
		.product-title{
			font-size: 2.4rem;
			font-weight: 600;
			letter-spacing: -.01em;
			margin-bottom: .7rem;
		}
		.product-price {
			font-weight: 300;
			font-size: 2.4rem;
			margin-bottom: 2.4rem;
			.new-price{
				font-weight: 600;
			}
		}
	}
	.deal-image{
		padding-top: 2rem;
		padding-right: 2rem;
		padding-left: 0;
	}
	.col-banner{
		.pb-banner-text{
			top: 3.7rem;
			bottom: auto;
			left: 50%;
			transform: translateX(-50%);
			right: auto;
			line-height: 1;
			padding: .8rem 1.4rem;
			.btn{
				min-width: auto;
				background: transparent;
				border: .1rem solid #959595;
				color: #333;
				white-space: nowrap;
				line-height: 1;
				&:hover{
					color: #fff;
					border-color: $primary-color;
					background-color: $primary-color;
				}
			}
			.pb-banner-subtitle{
				color: #666;
				margin-bottom: .9rem;
				font-weight: 400;
				font-size: 1.4rem;
				letter-spacing: -.01em;
				line-height: 1.2;
			}
			.pb-banner-title{
				color: #333;
				font-weight: 600;
				font-size: 2.4rem;
				letter-spacing: -.025em;
				margin-bottom: 1.4rem;
				line-height: 1.3;
			}
			.pb-banner-desc{
				font-size: 2.4rem;
				line-height: 1.25;
				letter-spacing: -.01em;
				margin-bottom: 1.3rem;
				font-weight: 600;
				margin-top: -1.4rem;
			}
		}
	}
}
.h1-banner{
	.text-white{
		.pb-banner-text{
			.pb-banner-subtitle,
			.pb-banner-title,
			.pb-banner-desc{
				color: #fff;
			}
			.pb-banner-button{
				border-color: #fff;
				color: #fff;
			}
		}
	}
	.banner-1 .pb-banner-text{
		left: 7rem;
	}
	.banner-2{
		&.pb-banner > a::after{
			background-color: rgba(51,51,51,0.25);
		}
		.pb-banner-text{
			left: 4rem;
			bottom: 4rem;
			top: auto;
		}
	}
	.banner-3{
		margin-bottom: 2rem;
		&.pb-banner > a::after{
			background-color: rgba(51,51,51,0.25);
		}
		.pb-banner-text{
			.pb-banner-button{
				margin-top: 1.4rem;
			}
		}
	}
	.pb-banner-text{
		display: block;
		top: 4.1rem;
		bottom: auto;
		left: 4rem;
		right: auto;
		text-align: left;
		.pb-banner-subtitle{
			display: block;
			color: #666666;
			font-weight: 300;
			font-size: 1.4rem;
			letter-spacing: -.01em;
			margin-bottom: .5rem;
			line-height: 1.2;
		}
		.pb-banner-title{
			color: #333;
			font-weight: 600;
			font-size: 2.4rem;
			letter-spacing: -.025em;
			margin-bottom: 0;
			line-height: 1.3;
		}
		.pb-banner-desc{
			color: #666666;
			font-weight: 300;
			font-size: 2.4rem;
			line-height: 1.25;
			letter-spacing: -.01em;
			margin-bottom: 1.3rem;
		}
		.pb-banner-button{
			background: transparent;
			border: .1rem solid #959595;
			color: #333;
			min-width: auto;
			padding: .5rem 1.5rem;
			&:hover{
				color: #fff;
				border-color: $primary-color;
				background-color: $primary-color;
			}
		}
	}
}
.h1-brand{
	.container-fluid{
		padding: 0;
	}
	.brand-item a{
		display: flex;
		height: 10rem;
		border: .1rem solid #ebebeb;
		border-left-width: 0;
		img{
			margin: auto;
		}
	}
}
.h1-slider{
	.fs-pager-wrapper a{
		&.active:hover{
			background-color: #f8f8f8;
			border-color: #f8f8f8;
		}
	}
	.intro-slide {
		background-size: cover;
		background-position: center center;

		.btn-primary {
		    color: #fff;
		    background-color: transparent;
		    border-color: #fff;
			border: .1rem solid;
			min-width: 170px;
			padding: 1.45rem 2rem;
			line-height: 1;
		    &:hover,
		    &:focus {
		    	background-color: $primary-color;
		    	border-color: $primary-color;
		    }
		    i{
		    	margin-left: .5rem;
		    }
		}
	}
	.text-2{
		letter-spacing: -.025em;
	}
}
.h1-producttab{
	.owl-drag .owl-item .item{
		height: 100%;
	}
	.nav.nav-tabs{
		.nav-item{
			margin: 0 1rem;
		}
		.nav-link{
			position: relative;
			padding: .8rem 1rem;
			color: #ccc;
			font-weight: 600;
			font-size: 2.4rem;
			letter-spacing: -.025em;
			text-transform: capitalize;
			&:hover{
				color: $primary-color;
			}
			&.active{
				color: #333;
				border-bottom-color: #333;
				&::before{
					transform-origin: left center;
					transform: scale(1, 1);
				}
			}
			&::before{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: .1rem;
				background-color: #333;
				transform-origin: right center;
				transform: scale(0, 1);
				transition: transform .3s ease;
			}
		}
	}
	.category-name{
		display: none;
	}
}