/* Demo 8 Homepage 8 */
$primary-color: #eea287;
$secondary-color: #eea287;

@import '../skins/skin.scss';
@import '../mixins/clearfix.scss';
@import '../mixins/breakpoints.scss';
@import '../mixins/lazy.scss';
@import '../mixins/buttons.scss';
@import '../config/fonts.scss';
@import '../config/variables.scss';


.page-index #hor-menu .gdz-megamenu .nav.level0 > li.sub-home > a{
	color: #222;
	&::before{
		background-color: #222;
	}
}
.gdz-slider-wrapper{
	.text-1{
		letter-spacing: .1em;
		text-transform: uppercase;
	}
	.text-2{
		letter-spacing: -.05em;
		text-transform: uppercase;
		span{
			color: $primary-color;
		}
	}
	.text-3{
		letter-spacing: -.035em;
		text-transform: uppercase;
	}
	.text-4{
		letter-spacing: .1em;
		text-transform: uppercase;
	}
	.btn{
		background-color: transparent;
		color: #222;
		border: .2rem solid #222;
		font-size: 1.3rem;
		letter-spacing: .1em;
		min-width: 180px;
		text-transform: uppercase;
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
		&:hover{
			background-color: #222;
			color: #fff;
		}
		i{
			margin-right: 0;
			margin-left: .5rem;
		}
	}
	.fraction-slider{
		.prev, .next{
			display: none;
		}
	}
}
.pb-heading.title {
	font-size: 2.4rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .01em;
}
.pb-banner{
	.pb-banner-text{
		.pb-banner-subtitle{
			font-weight: 300;
			letter-spacing: .1em;
			text-transform: uppercase;
			margin-bottom: 1.6rem;
			display: block;
		}
		.pb-banner-title{
			font-weight: 700;
			line-height: 1.4em;
			margin-bottom: 0;
			text-transform: uppercase;
		}
		.pb-banner-desc{
			font-weight: 300;
			line-height: 1.4em;
			margin-bottom: 1.8rem;
			text-transform: uppercase;
			letter-spacing: -.03em;
		}
		.btn{
			line-height: 1;
			padding-left: 1rem;
			padding-right: 1rem;	
			min-width: 140px;
			color: $primary-color;
			border: .2rem solid $primary-color;
			text-transform: uppercase;
			&:hover{
				color: #fff;
				background-color: $primary-color;
			}
		}
	}
}

.brand-item {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 48px;
}

.pb-producttab{
	.nav.nav-tabs{
		.nav-item{
			margin: 0 1.5rem;
			.nav-link{
				position: relative;
				padding: .8rem 1rem;
				color: #ccc;
				font-weight: 600;
				font-size: 2.2rem;
				letter-spacing: .01em;
				text-transform: uppercase;
				&:hover{
					color: $primary-color;
				}
				&.active{
					color: #333;
					border-bottom-color: #333;
					&::before{
						transform-origin: left center;
						transform: scale(1, 1);
					}
				}
				&::before{
					content: '';
					display: block;
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: .1rem;
					background-color: #333;
					transform-origin: right center;
					transform: scale(0, 1);
					transition: transform .3s ease;
				}
			}
		}
	}
}

.banner-trending{
	.subtitle{
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: .1em;
	}
	.title{
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: .01em;
	}
	.pb-text-content{
		line-height: 1.8em;
		letter-spacing: 0;
	}
	.btn{
		color: #fff;
		text-transform: uppercase;
		border-width: .2rem;
		letter-spacing: .1em;
		min-width: 160px;
		padding-top: 1.15rem;
		padding-bottom: 1.15rem;
		&:hover{
			color: #222;
			background-color: #fff;
		}
	}
}
.banner-overlay-dark .pb-banner > a::after {
	background-color: rgba(51, 51, 51, 0.25);
}
.banner-2{
	.pb-banner .pb-banner-text{
		padding-top: 0;
		padding-bottom: .3rem;
		.pb-banner-subtitle{
			font-size: 1.4rem;
		}
		.pb-banner-title{
			letter-spacing: 0;
			margin-bottom: 2rem;
		}
		.btn{
			font-size: 1.3rem;
			i{
				font-size: 1.5rem;
				margin-left: .6rem;
			}
		}
	}
}

.pb-categorytab .nav.nav-tabs .nav-item .nav-link{
	font-size: 1.4rem;
	letter-spacing: .01em;
}

.btn-more{
	padding: 1.15rem 1rem;
	min-width: 160px;
	text-transform: uppercase;
	border: .2rem solid #222;
	color: #222;
	letter-spacing: .1em;
	&:hover{
		background-color: #222;
		color: #fff;
	}
}

.pb-service-box{
	flex-direction: column;
	border: .2rem solid #ebebeb;
	padding: 3rem 0 3.3rem;
	transition: all .3s;
	&:hover{
		border-color: $primary-color;
		background-color: $primary-color;
		.pb-service-icon{
			color: #fff;
		}
		.pb-service-content{
			.pb-service-title, 
			.pb-service-description{
				color: #fff;
			}
		}
	}
	.pb-service-icon{
		color: $primary-color;
		margin-bottom: 1.3rem;
	}
	.pb-service-content{
		.pb-service-title{
			font-size: 1.6rem;
			letter-spacing: .01em;
			text-transform: uppercase;
			margin-bottom: .3rem;
		}
		.pb-service-description{
			font-size: 1.3rem;
			color: #777;
		}
	}
}

.instagram_carousel{
    .instagram-feed{
        margin-bottom: 0;
    }
    .owl-stage::after {
	    content: ".";
	    display: block;
	    clear: both;
	    visibility: hidden;
	    line-height: 0;
	    height: 0;
	}
	.owl-nav, .owl-dots{
		&.disabled{
			display: none;
		}
	}
}

@media (max-width: 991px){
	.gdz-slider-wrapper{
		img{
			width: 50%;
		}
	}
}

@media (min-width: 768px){
	.fraction-slider{
		.prev, .next{
			display: flex;
		}
		.prev{
			left: 4rem;
		}
		.next{
			right: 4rem;
		}
	}
	.block-newsletter .email_subscription{
		max-width: 300px;
	}
}
@media (min-width: 992px){
	.fraction-slider{
		.prev{
			left: 10rem;
		}
		.next{
			right: 10rem;
		}
	}
}