/* Demo 10*/
$primary-color: #445f84;
$secondary-color: #55739d;


@import '../skins/skin';
@import '../mixins/clearfix';
@import '../mixins/breakpoints';
@import '../mixins/lazy';
@import '../mixins/buttons';

@import '../config/fonts';
@import '../config/variables';


.title-lg{
	font-weight: 400;
	letter-spacing: -.025em;
}
.gdz-slider-wrapper{
	.text-1{
		letter-spacing: -.01em;
	}
	.text-2{
		letter-spacing: -.03em;
	}
	.text-3{
		letter-spacing: -.03em;
	}
	.btn{
		min-width: 170px;
		padding-top: 1.25rem;
		padding-bottom: 1.25rem;
		background-color: #fff;
		color: $primary-color;
		border-radius: 3rem;
		border: none;
		&:hover{
			background-color: $primary-color;
			color: #fff;
		}
		i{
			font-size: 1.5rem;
			margin-right: 0;
			margin-left: 2.1rem;
		}
	}
}

.banner-group{
	.banner-1{
		.pb-banner-text{
			right: 2.5rem;
			left: auto;
		}
	}
	.banner-2{
		&.pb-banner > a::after{
			background-color: rgba(255, 255, 255, 0.3);
		}
		.pb-banner-text{
			left: 2.5rem;
			.pb-banner-subtitle{
				color: #666;
			}
			.pb-banner-title{
				color: #333;
			}
			.pb-banner-desc{
				color: #333;
			}
			.btn{
				color: #333;
				border-color: #959595;
				&:hover{
					color: #fff;
				}
			}
		}
	}
	.banner-3{
		.pb-banner-text{
			left: 7rem;
		}
	}
	.banner-4{
		.pb-banner-text{
			top: auto;
			bottom: 4rem;
		}
	}
	.pb-banner-text{
		top: 50%;
		transform: translateY(-50%);
		bottom: auto;
		text-align: left;
		left: 50px;
		display: block;
		right: auto;
		.pb-banner-subtitle{
			font-size: 1.6rem;
			line-height: 1.2;
			font-weight: 300;
			letter-spacing: -.01em;
			margin-bottom: .6rem;
			color: #ebebeb;
		}
		.pb-banner-title{
			font-weight: 600;
			font-size: 2.4rem;
			line-height: 1.25;
			margin-bottom: .1rem;
			letter-spacing: -.01em;
			color: #fff;
		}
		.pb-banner-desc{
			color: #fff;
			font-weight: 300;
			font-size: 2.4rem;
			line-height: 1.25;
			letter-spacing: -0.025em;
		}
		.btn{
			min-width: 110px;
			margin-top: 1.4rem;
			padding: .8rem 2rem;
			color: #fff;
			border-radius: 3rem;
			text-transform: uppercase;
			&:hover{
				background-color: $primary-color;
				border-color: $primary-color;
			}
			i{
				display: none;
			}
		}
	}
}
.service-box{
	.row > .layout-column:not(:last-child)::before{
		content: '';
		display: block;
		width: .1rem;
		height: 5.3rem;
		background-color: #e9e9e9;
		position: absolute;
		right: .7rem;
		top: 50%;
		transform: translateY(-50%);
	}
}
.pb-service-box{
	padding: 1.7rem 0;
	.pb-service-icon{
		color: $primary-color;
	}
	.pb-service-content{
		.pb-service-title{
			font-weight: 500;
			font-size: 1.6rem;
			letter-spacing: -.01em;
			margin-top: .2rem;
			margin-bottom: 0;
			text-transform: uppercase;
		}
		.pb-service-description{
			p{
				margin-bottom: 0;
				letter-spacing: -.01em;
			}
		}
	}
}

.new-arrival{
	.pb-heading{
		font-weight: 400;
	}
	.owl-dots{
		margin-top: 2.2rem;
	}
}

.pb-categorytab .nav.nav-tabs .nav-item .nav-link{
	font-size: 1.4rem;
}

.banner-category{
	.pb-banner{
		&:hover{
			.pb-banner-text{
				padding-bottom: 4.5rem;
				background-color: #fff;		
				.btn{
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
	}
	.pb-banner-text{
		bottom: 0;
		top: auto;
		background-color: rgba(255,255,255,0.9);
		display: block;
		padding: 1.8rem 0;
		transition: all .3s ease;
		.pb-banner-title{
			margin-bottom: 0;
			font-weight: 400;
		}
		.btn{
			position: absolute;
			left: 0;
			right: 0;
			opacity: 0;
			bottom: 12px;
			border: none;
			color: $primary-color;
			text-transform: uppercase;
			transform: translateY(30px);
			&:hover{
				text-decoration: underline;
			}
			i{
				display: none;
			}
		}
	}
}

.top-selling{
	.productbox-8 .product-info{
		padding-bottom: 1.8rem;
	}
	.col-grid{
		display: flex;
		align-items: stretch;
		align-content: stretch;
		border-right: .1rem solid #eee;
		border-bottom: .1rem solid #eee;
		&:nth-child(5n){
			border-right: 0;
		}
		.product-miniature {
		    margin-bottom: 0;
		}
	}
}

.btn-more{
	text-transform: uppercase;
	&:hover{
		background-color: #f5f6f9;
		color: $primary-color;
	}
}

.cta-title {
	font-size: 2.4rem;
	letter-spacing: -.01em;
	font-weight: 600;
}

.cta-heading {
	margin-bottom: 2.5rem;

	.cta-title {
		margin-bottom: .3rem;
	}
}

.cta-desc {
	font-size: 1.6rem;
}

.cta-horizontal {
	padding: 4.5rem 3rem 4.5rem;

	.cta-title {
		font-size: 2.2rem;
		margin-bottom: 1.1rem;
		letter-spacing: -.01em;
		font-weight: 600;
	}

	.cta-desc {
		color: #666;
		font-size: 1.4rem;
		font-weight: 400;
		letter-spacing: 0;
		padding-bottom: .2rem;
	}
}

.cta .btn:not(.btn-block) {
	min-width: 160px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.4rem;
}
.font-weight-medium {
	font-weight: 500;
}

.pb-blog{
	.blog-item:hover{
		box-shadow: none;
	}
	.entry-body{
		padding: 0;
	}
	.post-meta{
		margin-top: 1.2rem;
	}
	.post-title{
		font-weight: 400;
		font-size: 2rem;
		line-height: 1.25;
		margin-bottom: .9rem;
	}
	.post-intro{
		margin-bottom: .6rem;
		p{
			margin-bottom: 0;
		}
	}
	.post-readmore{
		text-transform: uppercase;
		color: $primary-color;
	}
}

.newsletter{
	.pb-heading{
		font-weight: 600;
		letter-spacing: -.01em;
	}
	.pb-text-content{
		letter-spacing: 0;
		p{
			margin-bottom: 0;
		}
	}
	.email_subscription{
		.newsletter-input-group{
			background-color: #f4f4f4;
			border-radius: 3rem;
		}
		.form-control{
			background-color: transparent;
			font-style: italic;
			color: #333;
			&::placeholder{
				color: #777;
			}
		}
		#newsletter-btn{
			border-radius: 3rem;
			text-transform: uppercase;
			font-weight: 400;
			padding-left: 0;
			min-width: 160px;
		}
	}
}


@include mq('sm') {
	.cta {
		.input-group {
			background-color: #f4f4f4;
		}
	}
	.cta-horizontal {
		.btn:not(.btn-block) {
			min-width: 270px;
		}
	}
}

@include mq('md') {
	.cta-horizontal {
		padding-left: 5rem;
		padding-right: 5rem;
	}
}

@include mq('lg') {
	.cta-horizontal {
		padding-left: 7rem;
		padding-right: 7rem;
	}
}