/* Demo 4 Homepage 4 */
$primary-color: #3399ff;
$secondary-color: #1d84ea;

@import '../skins/skin';
@import '../mixins/clearfix';
@import '../mixins/breakpoints';
@import '../mixins/lazy';
@import '../mixins/buttons';
@import '../config/fonts';
@import '../config/variables';

.gdz-slider-wrapper{
	.intro-title {
		letter-spacing: -.03em;
	}
	.intro-old-price{
		letter-spacing: -.03em;
		&::after{
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			position: absolute;
			top: 50%;
			left: 0;
			background-color: #999;
		}
	}
	.text-third{
		letter-spacing: -.025em;
		sup{
			font-size: 0.4em;
			font-weight: 300;
			right: 0;
			line-height: 1;
			top: -2.2rem !important;
			letter-spacing: -.03em;
		}
	}
	.btn{
		padding-top: 1.15rem;
		padding-bottom: 1.15rem;
		i{
			margin-left: .5rem;
		}
	}
}
.fraction-slider{
	> a{
		border-color: rgba(255,255,255,0.7);
		background-color: rgba(255,255,255,0.7);
	}
	.prev{
		color: #ccc;
		left: calc((100% - 1170px)/2);
		&:hover{
			color: #fff;
		}
	}
	.next{
		color: #ccc;
		right: calc((100% - 1170px)/2);
		&:hover{
			color: #fff;
		}
	}
}

.owl-dots{
	margin-top: 2.2rem;
	button{
		&.active{
			span{
				border-color: $primary-color;
				background-color: $primary-color;
			}
		}
		span{
			border-color: $primary-color;
			&:hover{
				border-color: $primary-color;
				background-color: $primary-color;
			}
		}
	}
}
.title {
	font-weight: 600;
	font-size: 2.4rem;
	letter-spacing: -.025em;
}
.title-absolute{
	position: absolute;
	top: 1px;
	z-index: 9;
}
.productbox-2{
	.content_price .price.new{
		color: #fcb941;
	}
	.product-action .product-cart{
		background-color: #f6f7fa;
		> button{
			color: #333;
			&:first-child::after{
				background-color: #d1d1d3;
			}
			span{
				color: #666;
				&:hover{
					color: $primary-color;
				}
			}
		}
	}
}
.banner-category{
	.pb-banner{
		overflow: visible;
		> a{
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			text-align: center;
			margin-bottom: 3rem;
			&:hover{
				img{
					transform: translateY(-14px);
				}
				.pb-banner-img span::before{
					opacity: 1;
				}
			}
		}
	}
	.pb-banner-img{
		overflow: visible;
		min-height: 86px;
		position: relative;
		display: inline-flex;
		align-items: center;
		position: relative;
		flex: 1;
		margin: 0;
		span{
			position: relative;
			&::before{
				content: '';
				display: block;
				position: absolute;
				bottom: -.2rem;
				left: 45%;
				width: 105%;
				margin-left: -45%;
				height: .3rem;
				border-radius: 50%;
				background-color: rgba(0,0,0,0.3);
				transition: all 0.35s ease;
				filter: blur(3px);
				opacity: .5;
			}
		}
		img{
			width: auto;
			margin: auto;
			transition: transform 0.35s ease;
		}
	}
	.pb-banner-text{
		position: static;
		.pb-banner-title{
			font-weight: 400;
			font-size: 1.4rem;
			letter-spacing: -.01em;
			margin-top: 2rem;
			margin-bottom: 0;
		}
	}
}

.banner-1{
	.pb-banner-text{
		top: 50%;
		transform: translateY(-50%);
		left: 3rem;
		right: auto;
		bottom: auto;
		text-align: left;
		display: block;
		.pb-banner-title{
			font-size: 1.4rem;
			letter-spacing: -.01em;
			margin-bottom: 1.3rem;
			color: #777;
			font-weight: 300;
		}
		.pb-banner-desc{
			color: #999;
			font-weight: 400;
			font-size: 1.6rem;
			line-height: 1.25;
			letter-spacing: -.01em;
			margin-bottom: 1.2rem;
			strong{
				font-weight: 600;
				color: #333;
			}
		}
		.btn{
			display: inline-block;
			font-weight: 400;
			line-height: 1.3;
			padding: .3rem 1rem;
			border-radius: 20px;
			letter-spacing: -.01em;
			margin-left: -1rem;
			text-align: center;
			min-width: 110px;
			border: 0;
			&:hover{
				color: #fff;
				background-color: $primary-color;
			}
		}
	}
}

.h3-product-carousel{
	.product-miniature{
		border: .1rem solid #ebebeb;
	}
	.item{
		height: 100%;
	}
	.owl-carousel.customs .owl-stage-outer{
		margin: 0;
		padding: 2rem 0;
	}
	.owl-dots{
		position: absolute;
		bottom: -2.8rem;
	}
	.owl-carousel .owl-nav button{
		width: 30px;
		height: calc(100% - 40px);
		background: rgba(255,255,255,0.75);
		transition: all 0.3s ease;
		&::after{
			content: '';
			display: block;
			width: 10px;
			height: 100%;
			position: absolute;
			left: 100%;
			top: 0;
			border-radius: 20px 0 0 20px;
			background-size: contain;
			background-repeat: no-repeat;
		}
		&::before{
			font-size: 2rem;
		}
		&.disabled{
			opacity: 0;
			pointer-events: none;
			cursor: default;
		}
		&.owl-next{
			right: 1rem;
			&::after{
				left: auto;
				right: 100%;
				background-image: url("./../images/nav-next-shadow.png");
			}
		}
		&.owl-prev{
			left: 1rem;
			&::after{
				background-image: url("./../images/nav-prev-shadow.png");
			}
		}
	}
}

.cta-border {
	position: relative;
	border: none;
	background-color: #666666;
	background-size: cover;
	font-size: 2rem;
	margin-left: 70px;
	padding-top: 4.9rem;
	padding-bottom: 4.9rem;

	.cta-img {
		position: absolute;
		left: -70px;
		top: -5px;
	}

	.cta-text {
		p {
		font-size: 2rem;
		line-height: 1.3;
		letter-spacing: -.01em;
			color: #fff;
		}
		margin-right: 0;

		&::before {
			display: none;
		}
	}

	p {
		max-width: none;

		strong {
			font-weight: 600;
		}
	}

	.btn:not(.btn-block) {
		min-width: 230px;
	}

	.btn {
		margin-right: 70px;
		margin-left: 70px;
		i:last-child {
			margin-left: 2.5rem;
		}
	}
}
.cta .btn:not(.btn-block) {
	min-width: 178px;
}

.h4-deals{
	.container > .row{
		margin-left: 0;
		margin-right: 0;
		justify-content: space-between;
		> .layout-column{
			max-width: 574px;
		}
	}
	.pb-heading{
		font-weight: 500;
		line-height: 1.1;
		letter-spacing: -.01em;
		margin-bottom: .2rem;
		max-width: 240px;
	}
	.pb-text-content{
		font-weight: 300;
		line-height: 1.25;
		letter-spacing: 0;
		margin-bottom: .5rem;
		max-width: 240px;
	}
	.product-title{
		max-width: 240px;
		margin-bottom: .7rem;
		a{
			text-transform: initial;
		}
	}
	.product-price {
	    font-weight: 300;
	    font-size: 2rem;
	    margin-bottom: .4rem;
	}
	.btn-link{
		padding: 0;
		text-transform: initial;
		letter-spacing: -.01em;
		i{
			margin-left: .5rem;
		}
	}
}
.pb-countdown-time {
	margin-bottom: 0;
	margin-left: -.8rem;
	.countdown-row .countdown-section {
		display: block;
		text-align: center;
		float: left;
	}
	.countdown-section {
		position: relative;
		font-weight: 400;
		font-size: 1rem;
		line-height: 1;
		padding: .9rem .5rem .3rem;
		margin-left: .8rem;
		margin-right: .8rem;
		background-color: $primary-color;
		border-radius: .3rem;
		border: none;
		margin-bottom: 2rem;
		min-width: 4rem;
		&:not(:last-child):after {
			color: #333333;
		    content: ':';
		    display: inline-block;
		    font-weight: 400;
		    font-size: 20px;
		    line-height: 1;
		    position: absolute;
		    left: 100%;
		    margin-left: 6px;
		    margin-top: -1px;
		    top: 50%;
		    transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		}
	}
	.countdown-period {
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		bottom: -2rem;
		display: block;
		font-weight: 400;
		color: #333333;
		text-transform: lowercase;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.countdown-amount {
		display: inline-block;
		color: #fff;
		font-weight: 500;
		font-size: 2.4rem;
		line-height: 1;
		letter-spacing: -.03em;
		margin-bottom: .4rem;
	}
}

.brand-item{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 48px;
}
.pb-categorytab, .pb-producttab{
	.product-miniature{
		margin-bottom: 0;
	}
	.nav.nav-tabs{
		margin-bottom: 1rem;
		.nav-item{
			+ .nav-item{
			 	margin-left: .1rem;
			}
			.nav-link {
				font-size: 1.4rem;
				text-transform: uppercase;
				font-weight: 400;
				padding: .45rem 1rem;
				letter-spacing: -.01em;
				position: relative;
			}
		}
	}
}
.btn-rcm{
	padding: 0;
	font-weight: 500;
	i{
		font-size: 1.5rem;
	}
}
.category-products.products{
	.product-miniature{
		margin-bottom: 2rem;
	}
}
.pb-service-box{
	.pb-service-title{
		margin-bottom: .1rem;
	}
	.pb-service-description{
		font-size: 1.6rem;
		p{
			font-weight: 300;
		}
	}
}
.h4-newsletter{
	.pb-text-content{
		margin-top: .5rem;
		margin-bottom: 2.5rem;
		letter-spacing: 0;
	}
	.email_subscription input{
		color: #777;
		border-radius: 30px 0 0 30px;
		&::placeholder{
			color: #777;
		}
	}
	#newsletter-btn{
		padding: .85rem 1.5rem;
		font-weight: 400;
		border-radius: 0 30px 30px 0;
		background-color: $primary-color;
		color: #fff;
		min-width: 178px;
		&:hover{
			background-color: $secondary-color;
		}
	}
}



@media (min-width: 1200px){
	.btn-more {
		min-width: 270px;
	}
}


