* {
  direction: rtl !important; 
}
body{
	text-align: right;
}
#page {
  text-align: right !important; 
}


/* Header */
.header-1 .header-top .col-right .row > div {
	margin-right: 4rem;
	margin-left: 0;
}
.header-1 .header-middle .header-right .row > div{
	padding-left: 0;
	padding-right: 3rem;
}
.header-1 .sticky-wrapper .text i {
	margin-left: 1.5rem;
	margin-right: 0;
}
.header-intro-clearance .header-middle .header-right, 
.header-intro-clearance .header-bottom .header-right {
	margin-right: auto;
	margin-left: 0;
}
.header-intro-clearance .blockcart, 
.header-intro-clearance .wishlist, 
.header-intro-clearance .account {
	padding-right: 3rem;
	padding-left: 0;
}
.vermenu .vermenu-btn::before {
	margin-left: 17px;
	margin-right: 0;
}
.vermenu .gdz-megamenu .dropdown-menu {
	right: 100%;
	left: auto;
}
.vermenu .gdz-megamenu .nav > .menu-item .mega-nav li > a{
	text-align: right;
}
.vermenu .caret::after {
	content: '\f111';
	left: 2.4rem;
	right: auto;
}
.vermenu .gdz-megamenu .nav > .menu-item .mega-nav li.mega > a::before {
	content: '\f111';
	left: 2rem;
	right: auto;
}
.gdz-megamenu .dropdown-menu{
	right: 0;
	left: auto;
}
.gdz-megamenu .mega-col-nav.col-banner li .banner {
	margin-right: auto;
	margin-left: 0;
}
.gdz-megamenu .nav > .menu-item .mega-nav li.mega > a::before {
	content: '\f111';
	left: 0;
	right: auto;
}
.gdz-megamenu .nav > .menu-item .mega-nav li > a{
	text-align: right;
}
.gdz-megamenu .caret {
	left: -5px;
	right: auto;
}
.gdz-megamenu .mega-nav > .mega > .dropdown-menu {
	right: 100%;
	left: auto;
}

@media (min-width: 1200px){
	#hor-menu .gdz-megamenu .nav.level0 > li > a {
		padding-left: 3.5rem;
		padding-right: 1.2rem;
	}
	#hor-menu .gdz-megamenu .nav.level0 > li > a .caret::after {
		left: 2.3rem;
		right: auto;
	}
}