/* Header */
footer .row, header .row {
  margin-left: -10px;
  margin-right: -10px; }

.header-1 .header-top {
  font-weight: 300;
  font-size: 1.4rem;
  background-color: #f8f8f8; }
  .header-1 .header-top .text-h3 {
    display: none; }
  .header-1 .header-top .col-right .row > div {
    margin-left: 4rem; }
    .header-1 .header-top .col-right .row > div > a {
      padding-top: .95rem;
      padding-bottom: .95rem;
      text-transform: capitalize; }
  .header-1 .header-top .col-right .header-menu {
    left: auto;
    right: 0; }

.header-1 .sticky-wrapper .container {
  position: relative; }

.header-1 .sticky-wrapper .text p {
  padding-top: .1rem;
  padding-right: .5rem;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -.01em;
  color: #777; }

.header-1 .sticky-wrapper .text i {
  color: #333;
  font-size: 1.6rem;
  letter-spacing: -.01em;
  margin-right: 1.5rem; }

.header-1 .sticky-wrapper .text .highlight {
  color: #333; }

.header-1 .header-middle {
  border-bottom: none; }
  .header-1 .header-middle .container {
    position: relative; }
    .header-1 .header-middle .container::after {
      position: absolute;
      content: '';
      bottom: -.1rem;
      left: 1rem;
      right: 1rem;
      height: .1rem;
      background-color: #ebebeb; }
    .header-1 .header-middle .container > .row {
      margin: 0; }
      .header-1 .header-middle .container > .row .layout-column {
        padding: 0; }
  .header-1 .header-middle #search-form {
    max-width: 100%;
    width: 100%; }
  .header-1 .header-middle .header-right .row {
    padding-top: 1px;
    margin-left: 0;
    margin-right: 0; }
    .header-1 .header-middle .header-right .row > div {
      padding-right: 0;
      padding-top: 18px;
      padding-bottom: 19.5px; }
  .header-1 .header-middle .menu > li > a {
    letter-spacing: .01em; }
  .header-1 .header-middle .menu.sf-arrows > li > .sf-with-ul {
    padding-right: 1.5rem; }

.header-menu ul a {
  line-height: 1.5; }

.header {
  width: 100%;
  background-color: #fff; }
  .header .container,
  .header .container-fluid {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.header-left,
.header-center,
.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header-right {
  margin-left: auto;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch; }

.header-center {
  margin-left: auto;
  margin-right: auto; }

.logo {
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0; }
  .logo img {
    display: block;
    max-width: 100%;
    height: auto; }

.header-top {
  padding: 0;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.5;
  letter-spacing: 0;
  color: #777;
  margin-bottom: .1rem; }
  .header-top a {
    color: inherit; }
  .header-top .container,
  .header-top .container-fluid {
    position: relative; }

.top-menu {
  text-transform: uppercase;
  letter-spacing: -.01em;
  margin: 0; }
  .top-menu > li {
    position: relative; }
  .top-menu a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .top-menu i {
    font-size: 1.5rem;
    margin-right: .8rem;
    line-height: 1; }
    .top-menu i.icon-heart-o {
      margin-top: -.2rem; }

.header-dropdown {
  position: relative; }
  .header-dropdown.user-info > a::after {
    display: none; }
  .header-dropdown + .header-dropdown {
    margin-left: 2.9rem; }
  .header-dropdown > a,
  .header-dropdown > span {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-right: 2.2rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase; }
    .header-dropdown > a::after,
    .header-dropdown > span::after {
      font-family: "molla";
      content: '\f110';
      position: absolute;
      right: 0;
      top: 50%;
      display: inline-block;
      font-size: 1.2rem;
      line-height: 1;
      margin-top: -.7rem; }
  .header-dropdown a:hover, .header-dropdown a:focus {
    text-decoration: none; }

.header-menu {
  position: absolute;
  left: -1.5rem;
  top: 100%;
  z-index: 20;
  padding-top: .6rem;
  padding-bottom: .6rem;
  min-width: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  -webkit-box-shadow: 2px 5px 8px rgba(51, 51, 51, 0.05), -2px 5px 8px rgba(51, 51, 51, 0.05);
  box-shadow: 2px 5px 8px rgba(51, 51, 51, 0.05), -2px 5px 8px rgba(51, 51, 51, 0.05);
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  margin-top: 1px;
  z-index: 1000; }
  .header-dropdown:first-child .header-menu {
    left: 0; }
  .header-menu:before {
    content: '';
    display: block;
    width: 100%;
    height: .1rem;
    position: absolute;
    top: -1px;
    left: 0; }
  .header-dropdown:hover > .header-menu,
  .header-dropdown:focus > .header-menu {
    visibility: visible;
    opacity: 1; }
  .header-menu ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .header-menu ul li {
      margin: 0; }
    .header-menu ul a {
      padding: .3rem 1.5rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      white-space: nowrap; }
  .header-menu a {
    color: inherit; }

.header-right .header-menu,
.header-right .header-dropdown:first-child .header-menu {
  left: auto;
  right: 0; }

.header-right .top-menu + .header-dropdown {
  margin-left: 2.5rem; }

.cart-dropdown,
.compare-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .cart-dropdown .dropdown-toggle,
  .compare-dropdown .dropdown-toggle {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none !important;
    line-height: 1;
    color: #333; }
    .cart-dropdown .dropdown-toggle::after,
    .compare-dropdown .dropdown-toggle::after {
      display: none; }
  .cart-dropdown .dropdown-menu,
  .compare-dropdown .dropdown-menu {
    display: block;
    width: 300px;
    z-index: 100;
    font-size: 1.3rem;
    z-index: 1001;
    border: none;
    margin: 1px 0 0;
    padding: 2.2rem 3rem 2.5rem;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: 5px 10px 16px rgba(51, 51, 51, 0.05), -5px 10px 16px rgba(51, 51, 51, 0.05);
    box-shadow: 5px 10px 16px rgba(51, 51, 51, 0.05), -5px 10px 16px rgba(51, 51, 51, 0.05);
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s; }
    .cart-dropdown .dropdown-menu:before,
    .compare-dropdown .dropdown-menu:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      height: 1px; }
    .cart-dropdown .dropdown-menu.dropdown-menu-right,
    .compare-dropdown .dropdown-menu.dropdown-menu-right {
      right: -1px; }
  .cart-dropdown .btn-remove,
  .compare-dropdown .btn-remove {
    position: absolute;
    top: 50%;
    right: -.55rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 2.4rem;
    height: 2.4rem;
    color: #cccccc;
    font-size: 1.3rem;
    line-height: 1;
    text-align: center;
    margin-top: -1.2rem; }
  .cart-dropdown:hover .dropdown-menu, .cart-dropdown.show .dropdown-menu,
  .compare-dropdown:hover .dropdown-menu,
  .compare-dropdown.show .dropdown-menu {
    visibility: visible;
    opacity: 1; }

.compare-dropdown {
  padding-left: 2.5rem; }
  .compare-dropdown .dropdown-toggle {
    font-size: 2.6rem; }

.compare-products {
  list-style: none;
  padding: 0;
  margin: 0; }

.compare-product {
  position: relative;
  padding: .5rem 0;
  margin: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }
  .compare-product:hover {
    -webkit-box-shadow: none;
    box-shadow: none; }

.compare-product-title {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.35;
  margin: 0;
  letter-spacing: -.01em; }
  .compare-product-title a {
    color: inherit; }

.cart-dropdown {
  padding-left: 2.5rem; }
  .cart-dropdown .dropdown-toggle {
    font-size: 3.2rem; }
    .cart-dropdown .dropdown-toggle i {
      display: inline-block;
      margin-top: -3px; }
  .cart-dropdown .cart-count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
    margin-left: .2rem;
    margin-top: .1rem;
    color: #fff; }
  .cart-dropdown .dropdown-cart-products {
    margin-top: -1rem; }
  .cart-dropdown .product {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 1.6rem 2.4rem 1.6rem 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0 !important;
    border: none;
    border-bottom: 1px solid #ebebeb;
    box-shadow: none !important; }
  .cart-dropdown .product-image-container {
    position: relative;
    max-width: 60px;
    margin: 0;
    margin-left: auto; }
  .cart-dropdown .product-title {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.3;
    color: #666;
    text-align: left;
    margin-bottom: .4rem; }
    .cart-dropdown .product-title a {
      color: inherit; }
  .cart-dropdown .product-cart-details {
    font-weight: 400;
    max-width: 150px;
    font-size: 1.3rem;
    text-align: left; }

.dropdown-cart-total {
  padding: 1rem 0 .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.1rem; }
  .dropdown-cart-total .cart-total-price {
    font-size: 1.5rem;
    margin-left: auto; }

.dropdown-cart-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 0 .5rem; }
  .dropdown-cart-action .btn {
    font-size: 1.3rem;
    min-width: 110px;
    padding-top: .75rem;
    padding-bottom: .75rem; }

/* Header Search */
.search-toggle {
  position: relative;
  display: block;
  font-size: 2.4rem;
  line-height: 1;
  min-width: 2.5rem;
  padding: .3rem .2rem;
  font-weight: 400;
  color: #333;
  text-align: center;
  z-index: 11; }
  .search-toggle:hover, .search-toggle:focus, .search-toggle.active {
    outline: none !important; }

.header-search {
  position: relative;
  margin: 0;
  font-size: 0;
  line-height: 1;
  padding: 0;
  border: none; }
  .header-search .header-search-wrapper {
    position: absolute;
    right: -1.4rem;
    top: 50%;
    margin-top: -20px;
    display: none;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    overflow: visible;
    border-radius: 20px;
    width: 100%;
    min-width: 270px;
    background-color: #fff;
    border: .1rem solid #ebebeb;
    border-radius: 20px;
    z-index: 10; }
    .header-search .header-search-wrapper.show {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .header-search .search-wrapper-wide {
    width: 570px; }
  .header-search form {
    margin: 0; }
  .header-search .select-custom {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    max-width: 200px;
    padding-right: 0;
    margin: 0;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
    .header-search .select-custom:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      width: .1rem;
      height: 2.6rem;
      margin-top: -1.3rem;
      background-color: #ebebeb; }
    .header-search .select-custom::after {
      right: 2rem;
      color: #999;
      font-size: 1.2rem; }
  .header-search .form-control,
  .header-search select {
    line-height: 1;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 0;
    background-color: #fff;
    margin: 0; }
  .header-search .form-control {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: .9rem 5rem .9rem 2.3rem;
    width: 100%;
    margin: 0;
    height: 38px;
    line-height: 20px;
    border: none;
    border-radius: 20px;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .header-search select {
    width: 100%;
    border: none;
    line-height: 38px;
    height: 38px;
    color: #777;
    padding: .1rem 4rem .1rem 2rem;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none; }
    .header-search select:focus {
      outline: none !important; }
  .header-search option {
    font-size: 1.3rem;
    padding: .1rem .3rem; }
  .header-search .btn {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    max-width: 40px;
    min-width: 0;
    height: 40px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1;
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
    cursor: pointer;
    margin-top: -1px;
    margin-right: -1px;
    margin-bottom: -1rem;
    border-radius: 0 20px 20px 0; }
    .header-search .btn i {
      margin: 0 !important; }

.header-search-extended {
  margin-right: 19rem;
  width: 100%;
  max-width: 570px;
  margin-top: 2.2rem;
  margin-bottom: 2.2rem; }
  .header-search-extended .header-search-wrapper {
    border-radius: 30px; }
  .header-search-extended .form-control,
  .header-search-extended select {
    font-weight: 300; }
  .header-search-extended .form-control {
    height: 44px;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-right: 2.4rem;
    border-radius: 30px 0 0 30px; }
  .header-search-extended select {
    line-height: 44px;
    height: 44px; }
  .header-search-extended .btn {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    max-width: 70px;
    height: 46px;
    font-size: 2rem;
    border-radius: 0 30px 30px 0; }

.header-search-visible .search-toggle {
  display: none; }

.header-search-visible .header-search-wrapper {
  position: static;
  left: auto;
  right: auto;
  top: auto;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-search-no-radius .header-search-wrapper,
.header-search-no-radius .form-control,
.header-search-no-radius .btn {
  border-radius: 0; }

.header-search-no-round .header-search-wrapper {
  border-radius: .3rem; }

.header-search-no-round .form-control {
  border-radius: .3rem 0 0 .3rem; }

.header-search-no-round .btn {
  border-radius: 0 .3rem .3rem 0; }

.mobile-menu-toggler {
  border: none;
  background: transparent;
  padding: .2rem .25rem;
  font-size: 2.8rem;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem; }

.header-bottom .mobile-menu-toggler {
  margin-top: .55rem;
  margin-bottom: .55rem;
  margin-left: -.4rem; }

.menu.megamenu.demo {
  height: 65vh;
  overflow-x: hidden;
  overflow-y: scroll; }
  .menu.megamenu.demo::-webkit-scrollbar {
    height: 10px;
    width: 7px; }
  .menu.megamenu.demo::-webkit-scrollbar-thumb {
    background: #ebebeb;
    border-radius: 10px; }
  .menu.megamenu.demo::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px;
    margin: 8px;
    width: 100%; }
  .menu.megamenu.demo .demo-item.hidden {
    opacity: 0;
    max-height: 0;
    padding-bottom: 0;
    overflow: hidden;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px); }
  .menu.megamenu.demo .demo-item {
    display: block !important;
    opacity: 1;
    max-height: 100%;
    padding-bottom: 3rem;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }

.disabled-hidden {
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0 !important;
  overflow: hidden; }

.header-intro-clearance .header-middle .header-left,
.header-intro-clearance .header-bottom .header-left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc((100% + 20px) / 4);
  flex: 0 0 calc((100% + 20px) / 4);
  max-width: calc((100% + 20px) / 4);
  margin: 0; }

.header-intro-clearance .header-middle .header-center,
.header-intro-clearance .header-bottom .header-center {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc((100% + 20px) / 2 - 20px);
  flex: 0 0 calc((100% + 20px) / 2 - 20px);
  max-width: calc((100% + 20px) / 2 - 20px);
  margin: 0; }

.header-intro-clearance .header-middle .header-right,
.header-intro-clearance .header-bottom .header-right {
  margin-left: auto; }

.header-intro-clearance .header-bottom .menu > li > a {
  font-size: 1.4rem;
  letter-spacing: -.01em;
  text-transform: none; }
  .header-intro-clearance .header-bottom .menu > li > a::before {
    top: 0; }

.header-intro-clearance .header-bottom .menu.sf-arrows > li > .sf-with-ul::after {
  right: 1.3rem; }

.header-intro-clearance .header-bottom .menu > li + li {
  margin-left: .7rem; }

.header-intro-clearance .header-bottom .header-left {
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch; }

.header-intro-clearance .header-bottom .header-right p {
  padding-right: .5rem;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -.01em; }

.header-intro-clearance .header-bottom .header-right .highlight {
  color: #333; }

.header-intro-clearance .header-bottom .header-right i {
  color: #333;
  font-size: 1.6rem;
  letter-spacing: -.01em;
  margin-right: 1.5rem; }

.header-intro-clearance .header-bottom .container::before {
  position: absolute;
  content: '';
  left: 28.5rem;
  height: 1.5rem;
  width: .1rem;
  top: 50%;
  background-color: #ccc;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0; }

.header-intro-clearance .header-bottom .container::after {
  position: absolute;
  content: '';
  right: 28rem;
  height: 1.5rem;
  width: .1rem;
  top: 50%;
  background-color: #ccc;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0; }

.header-intro-clearance .header-middle .header-right p {
  font-size: 1.1rem; }

.header-intro-clearance .top-menu {
  text-transform: none; }

.header-intro-clearance .header-dropdown.user-info > a {
  padding-right: 0; }

.header-intro-clearance .header-dropdown > a,
.header-intro-clearance .header-dropdown > span {
  padding-right: 1.8rem;
  text-transform: none; }
  .header-intro-clearance .header-dropdown > a:after,
  .header-intro-clearance .header-dropdown > span:after {
    font-size: 1rem;
    margin-top: -.6rem; }

.header-intro-clearance .dropdown.category-dropdown {
  width: 275px;
  max-width: 95%; }
  .header-intro-clearance .dropdown.category-dropdown .dropdown-toggle {
    color: #333;
    text-transform: none;
    padding-left: 5.5rem;
    min-width: 100%; }
    .header-intro-clearance .dropdown.category-dropdown .dropdown-toggle i {
      font-size: 1rem;
      position: absolute;
      right: 1.5rem; }
    .header-intro-clearance .dropdown.category-dropdown .dropdown-toggle::before {
      height: 0; }
    .header-intro-clearance .dropdown.category-dropdown .dropdown-toggle::after {
      font-weight: 400;
      position: absolute;
      margin-left: 0;
      left: 1.5rem; }

.header-intro-clearance .header-menu ul {
  display: block; }

.header-intro-clearance .top-menu:not(.top-link-menu) .header-menu li + li {
  margin-left: 0; }

.header-intro-clearance .account,
.header-intro-clearance .wishlist,
.header-intro-clearance .compare-dropdown,
.header-intro-clearance .cart-dropdown,
.header-intro-clearance #cart_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial; }
  .header-intro-clearance .account > a,
  .header-intro-clearance .wishlist > a,
  .header-intro-clearance .compare-dropdown > a,
  .header-intro-clearance .cart-dropdown > a,
  .header-intro-clearance #cart_block > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.header-intro-clearance div.icon {
  position: relative;
  height: 3.2rem; }

.header-intro-clearance .account a {
  font-size: 3rem;
  color: #333;
  line-height: 1; }
  .header-intro-clearance .account a i {
    margin-bottom: 1px; }
  .header-intro-clearance .account a span {
    font-size: 1.1rem;
    color: #777;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease; }

.header-intro-clearance .wishlist a {
  font-size: 2.8rem;
  color: #333;
  line-height: 1; }
  .header-intro-clearance .wishlist a i {
    margin-bottom: 3px; }
  .header-intro-clearance .wishlist a span {
    font-size: 1.1rem;
    color: #777;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease; }

.header-intro-clearance #cart_block {
  position: relative;
  bottom: 1px; }
  .header-intro-clearance #cart_block > a {
    font-size: 3.2rem;
    color: #333;
    line-height: 1; }
    .header-intro-clearance #cart_block > a i {
      margin-bottom: 2px; }
    .header-intro-clearance #cart_block > a .text {
      font-size: 1.1rem;
      color: #777;
      -webkit-transition: color 0.3s ease;
      -o-transition: color 0.3s ease;
      transition: color 0.3s ease; }
    .header-intro-clearance #cart_block > a .cart_block_total {
      display: none; }

.header-intro-clearance .cart-dropdown .cart-count,
.header-intro-clearance .wishlist .wishlist-count {
  min-width: 1.6rem;
  height: 1.6rem; }

.header-intro-clearance .wishlist .wishlist-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  color: #fff; }

.header-intro-clearance .wishlist .wishlist-count {
  position: absolute;
  top: 0;
  right: -.5rem; }

.header-intro-clearance .cart-dropdown .cart-count {
  position: absolute;
  top: 0;
  right: -.3rem; }

.header-intro-clearance .blockcart, .header-intro-clearance .wishlist, .header-intro-clearance .account {
  padding-left: 3rem; }
  .header-intro-clearance .blockcart .dropdown-toggle, .header-intro-clearance .wishlist .dropdown-toggle, .header-intro-clearance .account .dropdown-toggle {
    color: #333; }

#cart_block:hover .dropdown-menu {
  display: block; }

#cart_block .remove-from-cart {
  margin-left: 1rem; }

#cart_block > a .ajax_cart_quantity {
  min-width: 1.6rem;
  height: 1.6rem;
  top: 3px;
  right: -3px;
  bottom: auto;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  margin-left: .2rem;
  margin-top: .1rem;
  color: #fff; }

#cart_block .dropdown-menu {
  display: none;
  top: 100%;
  width: 300px;
  right: 10px;
  font-size: 1.3rem;
  z-index: 1001;
  border: none;
  margin: 1px 0 0;
  margin-top: 0;
  padding: 1.2rem 3rem 2.5rem;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: 5px 10px 16px rgba(51, 51, 51, 0.05), -5px 10px 16px rgba(51, 51, 51, 0.05);
  box-shadow: 5px 10px 16px rgba(51, 51, 51, 0.05), -5px 10px 16px rgba(51, 51, 51, 0.05);
  background-color: #fff;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease; }
  #cart_block .dropdown-menu.shoppingcart-sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 1000; }
    #cart_block .dropdown-menu.shoppingcart-sidebar.show {
      right: 0; }
  #cart_block .dropdown-menu.show {
    display: block; }

#cart_block .cart-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  #cart_block .cart-button .btn {
    font-size: 1.3rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    min-width: 110px; }
    #cart_block .cart-button .btn i {
      margin-right: 0; }

.cart_block_list li {
  border-bottom: 1px solid #ebebeb; }

.remove-from-cart {
  color: #ccc; }
  .remove-from-cart:hover {
    color: #333; }

.billing-info {
  padding-top: 10px;
  padding-bottom: 15px; }
  .billing-info .cart-prices-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .billing-info .cart-prices-line .label {
      font-size: 1.4rem;
      font-weight: 400;
      text-transform: uppercase;
      color: #666;
      display: inline-block;
      padding: 0; }
    .billing-info .cart-prices-line .value {
      font-size: 1.5rem;
      font-weight: 400;
      color: #666;
      display: inline-block;
      margin-left: auto; }

.product-link-cart {
  display: inline-block;
  color: #666;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -.01em; }

@media (max-width: 340px) {
  .header-search .search-wrapper-wide {
    width: 260px; }
  .compare-dropdown,
  .account,
  .wishlist-link {
    display: none !important; } }

#hor-menu .gdz-megamenu .nav.level0 > li.open > a::before {
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1); }

#hor-menu .gdz-megamenu .nav.level0 > li > a {
  padding-right: 2.5rem; }
  #hor-menu .gdz-megamenu .nav.level0 > li > a .caret::after {
    right: 1.3rem; }
  #hor-menu .gdz-megamenu .nav.level0 > li > a:hover::before {
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); }
  #hor-menu .gdz-megamenu .nav.level0 > li > a::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: .1rem;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease; }

.gdz-megamenu {
  position: static; }

.header-middle .container, .header-middle .container-fluid {
  position: relative; }

.gdz-megamenu .nav > .menu-item.sub-home {
  position: static; }
  .gdz-megamenu .nav > .menu-item.sub-home > .dropdown-menu {
    padding: 0;
    max-width: calc(100% - 20px); }
  .gdz-megamenu .nav > .menu-item.sub-home .mega-nav li {
    padding: 0; }
  .gdz-megamenu .nav > .menu-item.sub-home .view-all-demos {
    text-transform: uppercase;
    min-width: 210px; }

.gdz-megamenu .sub-shop .dropdown-menu {
  padding: 0; }

.gdz-megamenu .sub-product .dropdown-menu {
  padding: 0; }

.gdz-megamenu .sub-product .mega-col-nav.col-banner li .banner .banner-content {
  left: 2.4rem;
  bottom: 2.4rem;
  top: auto; }
  .gdz-megamenu .sub-product .mega-col-nav.col-banner li .banner .banner-content .banner-title span {
    font-size: 2.4rem; }

.gdz-megamenu .mega-col-nav.col-banner li {
  padding: 0 !important; }
  .gdz-megamenu .mega-col-nav.col-banner li .banner {
    margin-bottom: 0;
    max-width: 218px;
    margin-left: auto; }
    .gdz-megamenu .mega-col-nav.col-banner li .banner .banner-content {
      left: 2rem;
      top: 2.4rem;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
      .gdz-megamenu .mega-col-nav.col-banner li .banner .banner-content .banner-title {
        margin: 0;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 1.25;
        text-transform: uppercase;
        letter-spacing: 0; }
        .gdz-megamenu .mega-col-nav.col-banner li .banner .banner-content .banner-title span {
          line-height: 1.05;
          font-size: 3.1rem; }

.search-form i {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#mobile-header .header-top {
  padding: .5rem 0;
  background-color: #f8f8f8; }
  #mobile-header .header-top .header-left .icon-phone {
    margin-right: .5rem; }
  #mobile-header .header-top .header-left .text-h1 {
    display: none; }
  #mobile-header .header-top .header-right {
    position: relative; }
    #mobile-header .header-top .header-right .btn-link {
      color: #666;
      font-weight: 300;
      padding-right: 2rem;
      position: relative;
      border: none; }
      #mobile-header .header-top .header-right .btn-link::after {
        font-family: "molla";
        content: '\f110';
        position: absolute;
        right: 0;
        top: 50%;
        display: inline-block;
        font-size: 1.2rem;
        line-height: 1;
        margin-top: -.7rem; }
      #mobile-header .header-top .header-right .btn-link:hover, #mobile-header .header-top .header-right .btn-link:focus {
        border: none; }
    #mobile-header .header-top .header-right #link {
      min-width: 141px;
      padding: .6rem 0; }
      #mobile-header .header-top .header-right #link .header-dropdown + .header-dropdown {
        margin-left: 0; }
      #mobile-header .header-top .header-right #link .header-dropdown a {
        color: #666; }
      #mobile-header .header-top .header-right #link .header-dropdown > a {
        text-transform: capitalize;
        padding: .3rem 1.5rem; }
      #mobile-header .header-top .header-right #link .header-dropdown .header-menu {
        right: 100%; }

#mobile-header #header-mobile-top {
  padding: 1.5rem 0; }

#mobile-header img.logo {
  padding-bottom: .3rem;
  margin-left: .5rem; }

#mobile-header #mobile-menu-toggle {
  font-size: 2.8rem;
  color: #333;
  cursor: pointer; }

#mobile-header #wishlist_block > a,
#mobile-header #cart_block > a {
  font-size: 1.1rem;
  color: #777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #mobile-header #wishlist_block > a i,
  #mobile-header #cart_block > a i {
    color: #333;
    line-height: 1; }

#mobile-header .user-info {
  position: relative;
  top: .2rem; }
  #mobile-header .user-info > a i {
    font-size: 3rem; }
  #mobile-header .user-info > a .text {
    margin-top: -.3rem; }
  #mobile-header .user-info .dropdown-menu {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    min-width: 100px; }
    #mobile-header .user-info .dropdown-menu ul li a {
      color: #777; }

#mobile-header #wishlist_block {
  position: relative;
  top: .3rem;
  margin-left: 1rem; }
  #mobile-header #wishlist_block > a i {
    font-size: 2.8rem; }
  #mobile-header #wishlist_block > a .text {
    margin-top: -.2rem; }

#mobile-header #cart_block {
  margin-left: 0; }
  #mobile-header #cart_block > a i {
    font-size: 3.2rem; }
  #mobile-header #cart_block .cart_block_total {
    display: none; }
  #mobile-header #cart_block .text {
    margin-top: .2rem; }

#mobile-header #mobile-menu-close {
  border-bottom: 0; }
  #mobile-header #mobile-menu-close i {
    font-size: 1.6rem;
    color: #666; }

#mobile-header #search_widget .mobile-search {
  margin-top: .8rem; }

#mobile-header #search_widget button i {
  margin-left: 0; }

#mobile-header .text-menu {
  padding: 0 2rem;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.5;
  text-transform: uppercase;
  margin-top: 2.3rem;
  margin-bottom: 0;
  text-align: left; }

#mobile-header .social-block {
  margin-top: 2.5rem;
  padding: 0 2rem; }
  #mobile-header .social-block .social-label {
    display: none; }
  #mobile-header .social-block ul li {
    display: inline-block;
    margin: 0 .7rem; }
  #mobile-header .social-block .social-icon {
    width: 3rem;
    height: 3rem;
    font-size: 1.2rem; }
    #mobile-header .social-block .social-icon i {
      color: #999;
      -webkit-transition: .4s all;
      -o-transition: .4s all;
      transition: .4s all; }

#mobile-header .mobile-menu-light {
  padding: 0; }
  #mobile-header .mobile-menu-light #gdz_ajax_search {
    padding-top: .5rem; }
  #mobile-header .mobile-menu-light .user-info > a {
    color: #333; }
  #mobile-header .mobile-menu-light .search-form.dropdown-menu {
    margin-top: 0; }
  #mobile-header .mobile-menu-light .gdz-search-input {
    border: none;
    background-color: transparent; }
  #mobile-header .mobile-menu-light .user-info .text {
    display: none; }
  #mobile-header .mobile-menu-light #cart_block .text {
    display: none; }

#mobile-header.header-mobile-1 .mobile-menu-light #cart_block .text {
  display: block; }

#mobile-header.header-mobile-2 img.logo {
  margin: 0 auto; }

#mobile-header.header-mobile-3 img.logo {
  margin: 0 auto; }

#mobile-header.header-mobile-3 .user-info, #mobile-header.header-mobile-3 #cart_block {
  margin: 0 auto; }

#off-canvas-menu .nav > li.open > a .caret::after {
  content: '\e802'; }

#off-canvas-menu .nav > li .dropdown-menu {
  border-bottom: 1px solid #efefef; }
  #off-canvas-menu .nav > li .dropdown-menu ul li a {
    font-size: 1.2rem;
    color: #666;
    font-weight: 300;
    line-height: 30px; }

#off-canvas-menu .nav > li > a {
  font-size: 1.2rem;
  line-height: 3.8rem;
  color: #666;
  font-weight: 300;
  border-bottom: 1px solid #efefef; }
  #off-canvas-menu .nav > li > a .caret {
    width: 1.2rem;
    height: 1.2rem;
    right: 2.4rem; }
    #off-canvas-menu .nav > li > a .caret::after {
      font-size: 1.2rem;
      position: static;
      margin-top: 0;
      right: 2.4rem; }

.show-menu .main-site {
  left: 200px; }

.show-menu .mobile-menu-overlay {
  visibility: visible;
  opacity: 1; }

@media (min-width: 576px) {
  #mobile-header #wishlist_block {
    margin-left: 3rem; }
  #mobile-header #cart_block {
    margin-left: 1.6rem; } }

@media (min-width: 992px) {
  #cart_block .dropdown-menu {
    right: -.1rem; } }

@media (min-width: 1200px) {
  .header-intro-clearance .header-bottom .container::before, .header-intro-clearance .header-bottom .container::after {
    opacity: 1; }
  #hor-menu .gdz-megamenu .nav.level0 > li > a {
    padding-right: 3.5rem; }
    #hor-menu .gdz-megamenu .nav.level0 > li > a .caret::after {
      right: 2.3rem; } }

/*# sourceMappingURL=_header.css.map */