/* Header 14*/
.header-14{
	.header-top{
		font-weight: 300;
		font-size: 1.4rem;
		.container-fluid::after{
			content: '';
			display: block;
			height: 1px;
			position: absolute;
			bottom: -1px;
			left: 10px;
			right: 10px;
			background-color: #ebebeb;
		}
		.text-h1{
			display: none;
		}
		.col-left{
			font-weight: 400;
			letter-spacing: -.01em;
			i{
				margin-right: 1rem;
				font-size: 1.6rem;
			}
		}
		.col-right{
			.row > div{
				margin-left: 4rem;
				> a{
					padding-top: .95rem;
					padding-bottom: .95rem;
					text-transform: capitalize;
				}
			}
			.header-menu{
				left: auto;
				right: 0;
			}
		}
	}
	.sticky-wrapper{
		.container{
			position: relative;
		}
		.text{
			p{
				padding-top: .1rem;
				font-size: 1.4rem;
				font-weight: 500;
				letter-spacing: -.01em;
				color: #fff;
			}
			i{
				font-size: 1.6rem;
				letter-spacing: -.01em;
				margin-right: 1.5rem;
			}
			.highlight{
				color: #fff;
			}
		}
	}
	.header-middle {
		border-bottom: none;
		.container{
	    	position: relative;
	    	&::after {
			    position: absolute;
			    content: '';
			    bottom: -.1rem;
			    left: 1rem;
			    right: 1rem;
			    height: .1rem;
			    background-color: #ebebeb;
			}
		}
		.row{
			margin-left: -10px;
			margin-right: -10px;
			.layout-column{
				padding: 0 10px;
			}
		}
		#search-form{
			max-width: 100%;
			width: 100%;
			.gdz-search-input{
				height: 4.4rem;
			}
			.search-box{
				border-radius: .2rem;
			}
			.button-search{
				height: 4.4rem;
				width: 7rem;
				justify-content: center;
				i{
					color: #fff;
				}
			}
		}
		.col-right .row{
			padding-top: 1px;
			justify-content: flex-end;
			> div{
				padding-right: 0;
				padding-top: 20px;
				padding-bottom: 20.5px;
			}
		}
		#cart_block{
			margin-right: 1rem;
			> a .ajax_cart_quantity{
				top: 0;
			}
			.dropdown-menu{
				left: auto;
			}
		}
		.menu > li > a {
			letter-spacing: .01em;
		}
		.menu.sf-arrows > li > .sf-with-ul {
		    padding-right: 1.5rem;
		}
	}
	.header-bottom{
		background-color: #333;
		.container-fluid::after{
			content: '';
			position: absolute;
			top: 1.95rem;
			bottom: 1.95rem;
			right: 16%;
			width: .1rem;
			background-color: #fff;
		}
		.col-right{
			display: flex;
			justify-content: flex-end;
			padding-right: 5rem;
		}
		.vermenu{
			width: 100%;
			&:hover .vermenu-btn{
				color: #333;
				&::before{
					content: '\f131';
				}
			}
			.vermenu-btn{
				font-size: 1.6rem;
				padding: 14.5px 15px;
				&::before{
					font-size: 2.2rem;
				}
			}
			.menu-dropdown{
				opacity: 1;
				visibility: visible;
				border: .1rem solid #ebebeb;
				border-top: 0;
				margin-top: 0;
			}
		}
	}
	#hor-menu .gdz-megamenu .nav.level0{
		text-align: center;
		> li{
			margin: 0 .95rem;
			> a {
				line-height: 53px;
				color: #fff;
				text-transform: uppercase;
				padding-top: 0;
				&::before{
					bottom: 0;
					top: auto;
				}
				.caret{
					right: .1rem;
				}
			}
		}
	}

}