/* Header 8 */
.header-8 {
  background-color: #fff; }
  .header-8 .header-middle {
    border-bottom: none; }
    .header-8 .header-middle .header-left {
      min-width: 157px; }
    .header-8 .header-middle .header-right > .row > div > a {
      color: #666;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .header-8 .header-middle .cart-icon {
      font-size: 3.2rem; }
      .header-8 .header-middle .cart-icon span {
        display: none; }
    .header-8 .header-middle #wishlist_block a {
      font-size: 2.8rem; }
      .header-8 .header-middle #wishlist_block a span {
        display: none; }
  .header-8 #gdz_ajax_search {
    margin-right: .4rem; }
    .header-8 #gdz_ajax_search .btn-search {
      z-index: 1001; }
    .header-8 #gdz_ajax_search #search-form-dropdown {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      border-radius: 3rem;
      right: -.4rem;
      margin: 0;
      padding: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      background: #fff;
      min-width: 268px; }
      .header-8 #gdz_ajax_search #search-form-dropdown .search-box {
        border: none; }
      .header-8 #gdz_ajax_search #search-form-dropdown .button-search {
        display: none; }
      .header-8 #gdz_ajax_search #search-form-dropdown input {
        border: 1px solid #ebebeb;
        border-radius: 20px;
        height: 40px;
        background-color: transparent;
        text-transform: initial;
        font-weight: 400;
        padding: 0 2.3rem; }
  .header-8 #cart_block {
    margin-left: .9rem; }
    .header-8 #cart_block .icon-shopping-cart {
      padding-bottom: .2rem; }
    .header-8 #cart_block .ajax_cart_quantity {
      left: 2rem;
      top: 1.1rem;
      background-color: #222;
      min-width: 1.7rem;
      height: 1.7rem;
      font-size: 1rem; }
    .header-8 #cart_block .cart_block_total {
      display: inline-block;
      font-size: 1.3rem;
      font-weight: 600;
      color: #222;
      margin-left: 1.3rem; }
  .header-8 #hor-menu {
    width: 100%; }
    .header-8 #hor-menu .level0 {
      width: auto;
      margin-left: auto;
      margin-right: 9rem; }
    .header-8 #hor-menu .gdz-megamenu .nav.level0 > li {
      margin-right: .4rem; }
      .header-8 #hor-menu .gdz-megamenu .nav.level0 > li.open > a {
        color: #222; }
      .header-8 #hor-menu .gdz-megamenu .nav.level0 > li > a {
        line-height: 6.1rem;
        text-transform: uppercase;
        letter-spacing: .01em;
        padding: 0 2.8rem 0 1.2rem;
        font-weight: 500; }
        .header-8 #hor-menu .gdz-megamenu .nav.level0 > li > a::before {
          top: auto;
          bottom: 1.5rem;
          background-color: #222; }
        .header-8 #hor-menu .gdz-megamenu .nav.level0 > li > a .caret {
          right: -1.6rem; }

.btn-search {
  position: relative;
  display: block;
  font-size: 2.4rem;
  line-height: 1;
  min-width: 2.5rem;
  padding: .3rem .2rem;
  font-weight: 400;
  color: #333;
  text-align: center;
  z-index: 11; }

.cart-icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none !important;
  line-height: 1;
  color: #333; }

/*# sourceMappingURL=_header-8.css.map */