/* Header 12 */
.header-12 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: transparent;
	z-index: 1000;
	.header-sticky.sticky{
		background-color: #333;
	}
	.header-middle {
		border-bottom: none;
		.header-left{
			min-width: 157px;
		}
		.header-right > .row > div > a{
			color: #fff;
			display: flex;
			align-items: center;
		}
		.cart-icon{
			font-size: 3.2rem;
			span{
				display: none;
			}
		}
		#wishlist_block{
			a{
				font-size: 2.8rem;
				span{
					display: none;
				}
			}
		}
	}
	#gdz_ajax_search{
		margin-right: .4rem;
		.btn-search{
			z-index: 1001;
		}
		#search-form-dropdown{
			top: 50%;
			transform: translateY(-50%);
			border-radius: 3rem;
			right: -.4rem;
			margin: 0;
			padding: 0;
			box-shadow: none;
			background: #fff;
			min-width: 268px;
			.search-box{
				border: none;
			}
			.button-search{
				display: none;
			}
			input{
				border: 1px solid #ebebeb;
				border-radius: 20px;
				height: 40px;
				background-color: transparent;
				text-transform: initial;
				font-weight: 400;
				padding: 0 2.3rem;
			}
		}
	}
	#cart_block{
		margin-left: .9rem;
		.icon-shopping-cart{
			padding-bottom: .2rem;
		}
		.ajax_cart_quantity{
			left: 2rem;
			top: 1.1rem;
			min-width: 1.7rem;
			height: 1.7rem;
			font-size: 1rem;
		}
		.cart_block_total{
			display: inline-block;
			font-size: 1.3rem;
			font-weight: 400;
			color: #fff;
			margin-left: 1.3rem;
		}
	}
	#hor-menu{
		width: 100%;
		.level0{
			width: auto;
			margin-left: auto;
			margin-right: 10rem;
		}
		.gdz-megamenu .nav.level0 > li{
			margin-right: .4rem;
			&.open > a{
				color: #fff;
			}
			> a{
				color: #fff;
				line-height: 5.8rem;
				text-transform: uppercase;
				letter-spacing: .01em;
				padding: 0 2.8rem 0 1.2rem;
				font-weight: 500;
				&::before{
					top: auto;
					bottom: 1.5rem; 
					background-color: #fff;
				}
				.caret{
					right: -.9rem;
				}
			}
		}
	}
}
.btn-search {
	position: relative;
	display: block;
	font-size: 2.4rem;
	line-height: 1;
	min-width: 2.5rem;
	padding: .3rem .2rem;
	font-weight: 400;
	color: #333;
	text-align: center;
	z-index: 11;
}
.cart-icon{
	position: relative;
	display: flex;
	align-items: center;
	text-decoration: none !important;
	line-height: 1;
	color: #333;
}
