/* Header 2 */

a {
	font-family: 'Poppins';
}
p{
	margin-bottom: 0;
}

.header-2 {
	background-color: #fff;

	.header-top .container::after, 
	.header-top .container-fluid::after {
		content: '';
		display: block;
		height: 1px;
		position: absolute;
		bottom: -1px;
		left: 10px;
		right: 10px;
		background-color: #ebebeb;
	}
	
	.header-search-extended {
		margin-right: 0;
		max-width: none;

		select,
		.form-control {
			height: 38px;
		}

		.form-control {
			padding: 1.2rem 2.4rem 1rem 2rem;
			font-family: 'Poppins';
			letter-spacing: -.01em;
		}

		.btn {
			height: 42px;
			background-color: transparent;
			color: #666;
			max-width: 60px;

			&:hover,
			&:focus,
			&:active {
				color: #a6c76c;
				background-color: transparent;
			}
		}

	}
	.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, 
	.show > .btn-primary.dropdown-toggle {
	    color: $primary-color;
	    background-color: transparent;
	}

	.header-search .search-wrapper-wide {
		width: unset;	
	}

	.header-top {
		.header-left {
			display: flex;
			align-items: center;
		}
		.header-right{
			padding: 0;
			.dropdown-menu{
				color: #777;
			}
			.user-info{
				line-height: 39.5px;
				&:hover #login{
					display: block;
				}
			}
			#login{
				top: calc(100% - 1px);
				min-width: 120px;
				left: 0;
			}
			.top-menu > li{
				+ li{
					margin-left: 2.6rem;
				}
				.login{
					text-transform: uppercase;
				}
				> a{
					text-transform: uppercase;
					> i{
						font-size: 1.5rem;
						margin-right: .8rem;
						line-height: 1;
					}
				}
			}
		}
	}

	.header-dropdown {
		padding-top: .8rem;
		padding-bottom: .8rem;

		+ .header-dropdown {
			margin-left: 3rem;
		}
	}

	.login-modal {
		margin-left: 4rem;
	}

	.top-menu {
		text-transform: capitalize;
	}

	.header-middle {
		border-bottom: none;
		&.sticky{
			 #hor-menu .gdz-megamenu .nav.level0 > li > a{
			 	line-height: 6.2rem;
			 }
		}
		.header-left{
			min-width: 153px;
			padding-bottom: 5px;
		}
		.btn-search{
			display: flex;
			align-items: center;
			font-size: 2.4rem;
		}
		.cart-icon{
			font-size: 3.2rem;
			span{
				display: none;
			}
		}
	}

	.cart-dropdown,
	.compare-dropdown {
		.dropdown-menu {
			margin-top: 0;
		}
	}

	.cart-dropdown:not(:hover):not(.show) .dropdown-toggle,
	.compare-dropdown:not(:hover):not(.show) .dropdown-toggle,
	.mobile-menu-toggler,
	.search-toggle:not(:hover):not(:focus),
	.wishlist-link:not(:hover):not(:focus) {
	    color: #333;
	}

	.sticky-header {
		background-color: #fff;
	}

	.mobile-menu-toggler {
		margin-left: 0;
	}

	.header-search {
		.header-search-wrapper {
			border-color: #dadada;
		}
	}
	#gdz_ajax_search{
		#search-form-dropdown{
			top: -.2rem;
			right: -.4rem;
			margin: 0;
			padding: 0;
			box-shadow: none;
			background: transparent;
			min-width: 270px;
			.search-box{
				border: none;
			}
			.button-search{
				display: none;
			}
			input{
				border: 1px solid #ebebeb;
				border-radius: 20px;
				height: 40px;
				background-color: transparent;
				text-transform: initial;
				font-weight: 400;
				padding: 0 2.3rem;
			}
		}
	}
	#cart_block{
		margin-left: .5rem;
		.icon-shopping-cart{
			padding-bottom: .2rem;
		}
		.ajax_cart_quantity{
			position: static;
			min-width: 2rem;
			height: 2rem;
			font-size: 1rem;
			margin-left: .2rem;
		}
	}
	#hor-menu .gdz-megamenu .nav.level0 > li > a{
		line-height: 10rem;
		text-transform: uppercase;
		letter-spacing: .01em;
		padding: 0 2.8rem 0 1.2rem;
		&::before{
			display: none;
		}
	}
}
.btn-search {
	position: relative;
	display: block;
	font-size: 2.4rem;
	line-height: 1;
	min-width: 2.5rem;
	padding: .3rem .2rem;
	font-weight: 400;
	color: #333;
	text-align: center;
	z-index: 11;
}
.cart-icon{
	position: relative;
	display: flex;
	align-items: center;
	text-decoration: none !important;
	line-height: 1;
	color: #333;
}
@include mq('lg', 'max') {
	.header-2 {
		.header-search-visible {
			.header-search-wrapper {
				&:before {
					border-bottom-color: #dadada;
				}
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.header-middle .header-center {
		display: none;
	}
	.top-menu:not(.top-link-menu) ul {
		min-width: 141px;
	}
	.top-menu {
		> li {
			padding-top: .75rem;
			padding-bottom: .75rem;
		}
		.header-dropdown {
			padding: 0;
			ul {
				left: -100%;
				right: 100%;
			}
		}
		.header-menu {
			padding: 0;
		}
	}

}
