/* Header 13 */
.header-13 {
  background-color: #fff; }
  .header-13 .header-top {
    font-weight: 300;
    font-size: 1.4rem;
    background-color: #fafafa;
    margin-bottom: 0;
    letter-spacing: -.01em; }
    .header-13 .header-top .text-h1 {
      display: none; }
    .header-13 .header-top .col-left i {
      font-size: 1.6rem;
      margin-right: .5rem; }
    .header-13 .header-top .col-right .row > div {
      margin-left: 4rem;
      padding-top: .75rem;
      padding-bottom: .75rem; }
      .header-13 .header-top .col-right .row > div.currency-info, .header-13 .header-top .col-right .row > div.languages-info {
        font-weight: 300; }
    .header-13 .header-top .col-right .header-menu {
      left: auto;
      right: 0; }
  .header-13 .header-middle {
    margin-bottom: .1rem; }
    .header-13 .header-middle .container > .row {
      margin: 0; }
      .header-13 .header-middle .container > .row .layout-column {
        padding: 0; }
    .header-13 .header-middle img.logo {
      padding-bottom: .5rem; }
    .header-13 .header-middle .search-form i {
      font-size: 2.2rem;
      color: #333; }
    .header-13 .header-middle #search-form {
      max-width: 570px;
      width: 100%;
      margin-left: 0; }
      .header-13 .header-middle #search-form .search-box {
        background: #fff;
        border-radius: .2rem; }
      .header-13 .header-middle #search-form .gdz-search-input {
        height: 44px;
        padding: 1.2rem 2.4rem 1.1rem 2rem;
        letter-spacing: 0; }
      .header-13 .header-middle #search-form .button-search {
        height: 44px;
        padding-right: 1.3rem;
        min-width: 70px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0; }
        .header-13 .header-middle #search-form .button-search i {
          font-size: 2rem;
          color: #fff; }
    .header-13 .header-middle .header-right .row {
      padding-top: 1px;
      margin-left: 0;
      margin-right: 0; }
      .header-13 .header-middle .header-right .row > div {
        padding-right: 0;
        padding-top: 20px;
        padding-bottom: 21.5px; }
    .header-13 .header-middle .menu > li > a {
      letter-spacing: .01em; }
    .header-13 .header-middle .menu.sf-arrows > li > .sf-with-ul {
      padding-right: 1.5rem; }
  .header-13 #hor-menu .gdz-megamenu .nav.level0 > li > a {
    color: #fff;
    padding-top: 0; }
    .header-13 #hor-menu .gdz-megamenu .nav.level0 > li > a::before {
      bottom: 0;
      top: auto; }
  .header-13 .header-bottom {
    background-color: #333; }
    .header-13 .header-bottom .container::before {
      display: none; }
    .header-13 .header-bottom .vermenu-btn i {
      font-size: 1rem;
      position: absolute;
      right: 1.5rem; }
    .header-13 .header-bottom .vermenu:hover > .menu-dropdown {
      opacity: 1 !important;
      visibility: visible !important; }
    .header-13 .header-bottom .vermenu:hover .vermenu-btn::before {
      content: '\f131'; }
    .header-13 .header-bottom .vermenu .vermenu-btn {
      color: #fff;
      font-weight: 500;
      font-size: 1.6rem;
      letter-spacing: -.01em;
      padding: 1.45rem 5rem 1.45rem 2rem;
      position: relative; }
      .header-13 .header-bottom .vermenu .vermenu-btn::before {
        position: absolute;
        right: .2rem; }
    .header-13 .header-bottom .vermenu .menu-dropdown {
      opacity: 1;
      visibility: visible;
      border: .1rem solid #ebebeb;
      margin-top: 0;
      -webkit-transition: .35s all;
      -o-transition: .35s all;
      transition: .35s all; }
  .header-13 .sticky-wrapper .container {
    position: relative; }
  .header-13 .sticky-wrapper .text p {
    color: #fff;
    padding-top: .1rem;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: -.01em; }
  .header-13 .sticky-wrapper .text i {
    color: #fff;
    font-size: 1.6rem;
    letter-spacing: -.01em;
    margin-right: 1.5rem; }
  .header-13 .sticky-wrapper .text .highlight {
    color: #fff; }
  .header-13 .header-intro-clearance .user-info > a {
    padding-right: 0;
    text-transform: capitalize; }
    .header-13 .header-intro-clearance .user-info > a::after {
      display: none; }

/*# sourceMappingURL=_header-13.css.map */