/* Header 4 */
.header-4{
	background-color: #fff;
	.header-top{
		font-weight: 400;
		font-size: 1.4rem;
		background-color: #f5f6f9;
		margin-bottom: 0;
		letter-spacing: -.01em;
		.text-h1{
			display: none;
		}
		.col-left{
			i{
				font-size: 1.6rem;
				margin-right: .5rem;
			}
		}
		.col-right{
			.row > div{
				margin-left: 4rem;
				padding-top: .75rem;
				padding-bottom: .75rem;
				&.currency-info, &.languages-info{
					font-weight: 300;
				}
			}
			.header-menu{
				left: auto;
				right: 0;
			}
		}
	}
	.header-middle {
		margin-bottom: .1rem;
		.row{
			margin: 0;
			.layout-column{
				padding: 0;
			}
		}
		img.logo{
			padding-bottom: .5rem;
		}
		.search-form i{
			font-size: 2.2rem;
			color: #333;
			&:hover{
				color: $primary-color;
			}
		}
		#search-form{
			max-width: 570px;
			width: 100%;
			margin-left: 0;
			.search-box{
				background: #fff;
				border-radius: 3rem;
				border-color: #ccc;
			}
			.input-group{
				flex-direction: row-reverse;
			}
			.gdz-search-input{
				height: 44px;
				padding: 1.2rem 2.4rem 1.1rem 0;
				letter-spacing: 0;
			}
			.button-search{
				height: 44px;
				padding-right: 1.3rem;
			}
		}
		.header-right .row{
			padding-top: 1px;
			> div{
				padding-right: 0;
				padding-top: 20px;
				padding-bottom: 21.5px;
			}
		}
		.menu > li > a {
			letter-spacing: .01em;
		}
		.menu.sf-arrows > li > .sf-with-ul {
		    padding-right: 1.5rem;
		}
	}
	.header-bottom{
		background-color: #fff;
		.container{
			&::before{
				display: none;
			}
		}
		.vermenu-btn{
			background-color: #f8f8f8;
			i{
				font-size: 1rem;
				position: absolute;
				right: 1.5rem;
			}
		}
		.vermenu{
			.menu-dropdown{
				border: .1rem solid #ebebeb;
			}
		}
	}
	.sticky-wrapper{
		.container{
			position: relative;
		}
		.text{
			p{
				padding-top: .1rem;
				font-size: 1.4rem;
				font-weight: 500;
				letter-spacing: -.01em;
			}
			i{
				color: #333;
				font-size: 1.6rem;
				letter-spacing: -.01em;
				margin-right: 1.5rem;
			}
			.highlight{
				color: #333;
			}
		}
	}
	.header-intro-clearance{
		.user-info{
			> a{
				padding-right: 0;
				text-transform: capitalize;
				&::after{
					display: none;
				}
			}
		}
	}
}
