.pb-service-content{
	text-align: right;
}
.h23-newsletter .email_subscription #newsletter-btn{
	border-left: .1rem solid #fff;
	border-right: 0;
}
.h23-newsletter .email_subscription .form-control{
	border-right: .1rem solid #fff;
	border-left: 0;
}
@media (min-width: 1200px){
	#wrapper, #category #wrapper {
		margin-right: 300px;
		margin-left: 0;
	}
}

@media (min-width: 1821px){
	#wrapper, #category #wrapper {
		margin-right: calc((100% - 1800px) / 2 + 300px);
		margin-left: calc((100% - 1800px) / 2);
	}
}