.pb-service-box{
	display: flex;
	align-items: center;
	padding: 2rem 0;
	.pb-service-icon{
		min-width: 7rem;
		text-align: center;
		line-height: 0;
		color: #333;
	}
	.pb-service-content{
		.pb-service-title{
			font-weight: 600;
			margin-bottom: 0;
		}
		.pb-service-description{
			line-height: 1.5;
		}
	}
}
.icon-box-side p {
	font-weight: 400;
	letter-spacing: -.01em;
}
.icon-box-card{
	.pb-service-box{
		display: block;
		.pb-service-icon{
			margin-bottom: 1.3rem;
		}
		.pb-service-content{
			.pb-service-title{
				font-size: 1.8rem;
				margin-bottom: .9rem;
			}
		}
	}
}