/* Pagination */
.pagination{
	font-weight: 400;
	margin-top: 3.8rem;
	.block-pagination {
		color: #ccc;
		display: none;
		span{
			color: #333;
		}
	}
	.page-pagination{
		margin: auto;
		ul{
			margin-bottom: 0;
			li{
				margin-left: .4rem;
				&.current a{
					background-color: transparent;
					border-color: #ebebeb;
				}
				a{
					display: inline-flex;
					align-items: center;
					justify-content: center;
					min-width: 3rem;
					height: 4rem;
					font-weight: 400;
					font-size: 1.4rem;
					padding: 0 .3rem;
					line-height: 1;
					color: #706f6c;
					border-radius: .3rem;
					background-color: transparent;
					border: .1rem solid transparent;
					&.next, &.prev{
						padding-left: 1rem;
						padding-right: 1rem;
						min-width: 70px;
					}
					&:hover{
						background-color: transparent;
						border-color: #ebebeb;
					}
				}
			}
		}
	}
}