/* Product */
.product {
	position: relative;
	margin-bottom: 1rem;
	transition: box-shadow .35s ease;
	background-color: #fff;

	.owl-carousel & {
		margin-bottom: 0 !important;
	}
}

.product:hover {
	box-shadow: 0 5px 20px rgba(0,0,0, .05);
}

.product-media {
	position: relative;
	display: block;
	background-color: #d7d7d7;
	margin-bottom: 0;
	overflow: hidden;
}

.product-media > a {
	display: block;
}

.product-image {
	display: block;
	width: 100%;
	height: auto;
	position: relative;
}

.product-image-hover {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	width: 100%;
	height: auto;
	transition: all .4s ease;
}

.product:hover .product-image-hover {
	opacity: 1;
}

.product-countdown {
	position: absolute;
	left: .8rem;
	right: .8rem;
	bottom: 1.3rem;
	z-index: 6;
	transition: all .4s ease;
	visibility: visible;
	opacity: 1;

	.countdown-show4 .countdown-section {
		width: calc(25% - 10px);
	}

	.countdown-section {
		font-size: 1rem;
		line-height: 1;
		padding: 1.4rem 0 1.2rem;
		margin-left: .5rem;
		margin-right: .5rem;
		background-color: rgba(255, 255, 255, .9);
		border-radius: .4rem;

		&:not(:last-child):after {
			color: #fff;
		    content: ':';
		    display: inline-block;
		    font-weight: 400;
		    font-size: 20px;
		    line-height: 1;
		    position: absolute;
		    left: 100%;
		    margin-left: 3px;
		    margin-top: -1px;
		    top: 50%;
		    transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		}
	}

	.countdown-period {
		display: block;
		font-weight: 400;
		color: #333333;
		text-transform: lowercase;
		width: 100%;
		padding-left: .2rem;
		padding-right: .2rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.countdown-amount {
		display: inline-block;
		color: #ef837b;
		font-weight: 500;
		font-size: 1.8rem;
		letter-spacing: -.03em;
		margin-bottom: .6rem;
	}

	&.countdown-primary {
		.countdown-amount {
			color: $primary-color;
		}
	}
}

.product-countdown-container {
	position: absolute;
	left: 1.4rem;
	right: 1.4rem;
	bottom: 1.3rem;
	z-index: 6;
	padding-top: .9rem;
	padding-bottom: .9rem;
	border-radius: .3rem;
	background-color: rgba(255, 255, 255, .95);
	letter-spacing: -.01em;
	transition: all .4s ease;
	visibility: visible;
	opacity: 1;

	.product-contdown-title {
		display: block;
		color: #333;
		font-weight: 400;
		font-size: 1.3rem;
		line-height: 1.2;
		margin-bottom: .3rem;
		text-align: center;
	}

	.product-countdown {
		position: relative;
		left: auto;
		right: auto;
		bottom: auto;
		z-index: 6;
		line-height: 1;
		opacity: 1;

		.countdown-amount {
			font-weight: 500;
			font-size: 1.4rem;
			line-height: 1;
			margin-bottom: 0;
			text-transform: uppercase;
		}
	}
}

.product:hover {
	.product-countdown,
	.product-countdown-container {
		opacity: 0;
		visibility: hidden;
	}
}

.product-body {
	position: relative;
	padding: 1.6rem 2rem;
	transition: all .35s ease;
	background-color: #fff;

	&.product-action-inner {
		padding-right: 4rem;
	}
}

.product-title {
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.25;
	letter-spacing: -.01em;
	color: #333333;
	margin-bottom: 0;
}

.product-title a {
	color: inherit;

	&:hover,
	&:focus {
		color: $primary-color;
	}
}

.product-cat {
	color: #777;
	line-height: 1.2;
	letter-spacing: -.01em;
	margin-bottom: .3rem;
}

.product-cat a {
	color: inherit;
}

.product-price {
	display: flex;
	align-items: center;
	flex-flow: wrap;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.25;
	color: $primary-color;
	margin-bottom: 1.3rem;
}

.new-price {
	color: #ef837b;
	margin-right: .8rem;
}

.old-price {
	color: #cccccc;
	text-decoration: line-through;
}

.out-price {
	color: #cccccc;
}

.out-text {
	display: block;
	width: 100%;
	font-size: 1.3rem;
	margin-top: 0;
	font-weight: 400;
	line-height: 1;
	margin-bottom: .8rem;
}

.product-label {
	position: absolute;
    z-index: 1;
    top: 2rem;
    left: 2rem;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.6rem;
    letter-spacing: -.01em;
    padding: .5rem .9rem;
    min-width: 45px;
    text-align: center;
	color: #333333;
	background-color: #fff;

	& + .product-label {
		top: 5rem;
	}

	&.label-sale {
		color: #fff;
		background-color: #ef837b;
	}

	&.label-new {
		color: #fff;
		background-color: #a6c76c;
	}

	&.label-top {
		color: #fff;
		background-color: #7dd2ea;
	}

	&.label-out {
		color: #fff;
		background-color: #ccc;
	}

	&.label-primary {
		color: #fff;
		background-color: $primary-color;
	}

	&.label-secondary {
		color: #fff;
		background-color: $secondary-color;
	}
}

.product-label-text {
	color: $primary-color;
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1;
	letter-spacing: -.01em;
	margin-top: -.1rem;
}

.label-circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4.6rem;
	height: 4.6rem;
	min-width: 0;
	border-radius: 50%;
	line-height: 1;

	& + .label-circle {
		top: 5.6rem;
	}

	&.label-out {
		font-size: 1.1rem;
	}
}

.ratings-container {
	display: flex;
	align-items: center;
	font-size: 1.3rem;
	margin-bottom: 1.7rem;
	line-height: 1;
	white-space: nowrap;
}

.ratings {
	position: relative;
	color: #cccccc;
}


.ratings,
.ratings-val {
	display: inline-block;
	font-size: 1.4rem;
	letter-spacing: 0.1em;
	line-height: 1;
	font-family: "molla";

	&:before {
		content: "\f318" "\f318" "\f318" "\f318" "\f318";
	}	
}

.ratings-val {
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	overflow: hidden;
	color: #fcb941;

	.ratings-primary & {
		color: $primary-color;
	}
}

.ratings-text {
	color: #cccccc;
	letter-spacing: -.01em;
	margin-left: .8rem;
}

.ratings-text a {
	color: inherit;

	&:hover,
	&:focus {
		color: $primary-color;
	}
}

.product-actions {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 2rem;
	padding: 0 2.8rem;
	background-color: rgba(255, 255, 255, .95);
	z-index: 10;
	transition: all .35s ease;
	opacity: 0;
	visibility: hidden;
	transform: translateY(100%);
}

.product:hover,
.product:focus {
	.product-actions {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}
}

.action-icon-top {
	padding-top: .8rem;
	padding-bottom: .8rem;

	.btn-product {
		padding-top: 1rem;
		padding-bottom: 1rem;
		flex-direction: column;

		span {
			margin-top: .9rem;
		}
	}

	&:before {
		margin-right: 0;
	}
}

.btn-product {
	color: $primary-color;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.8rem;
	line-height: 1;
	transition: all .35s ease;
	padding-top: 1.9rem;
	padding-bottom: 1.9rem;
    flex-grow: 1;
    flex-basis: 0;

	& + .btn-product {
		border-left: .1rem dotted #e5e5e5;
	}

	&:before {
		font-family: "molla";
		margin-right: .9rem;
	}

	span {
		color: #666666;
		font-weight: 400;
		font-size: 1.3rem;
		letter-spacing: -.01em;
		transition: all .35s ease;
	}

	&:hover,
	&:focus {
		outline: none !important;
		span {
			color: $primary-color;
			box-shadow: 0 1px 0 0 $primary-color;
		}
	}
}

.product-action-dark {
	background-color: #333333;

	.btn-product:not(:hover):not(:focus) {
		span {
			color: #fff;
		}
	}

	.btn-product + .btn-product {
		border-left-color: #4b4b4b;
	}
}

.product-action-vertical {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 2rem;
	top:2rem;
	background-color: transparent;
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	transition: all .35s ease;
	transform: translateX(-15px);
}

.product:hover .product-action-vertical {
	visibility: visible;
	opacity: 1;
	transform: translateX(0);
}

.btn-product-icon {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	padding: 0;
	font-size: 1.4rem;
	line-height: 1;
	transition: all .35s ease;
	padding: 0;
	border-radius: 50%;
	color: $primary-color;
	background-color: #fff;

	&:before {
		font-family: "molla";
	}

	span {
		display: none;
	}

	&:hover,
	&:focus {
		color: #fff;
		background-color: $primary-color;
	}
}

.btn-product-icon + .btn-product-icon  {
	margin-top: 1rem;
}

.btn-cart {
	&:before {
		content: '\e812';
	}
}

.btn-wishlist {
	font-size: 1.6rem;
	&:before {
		content: '\f234';
	}
}

.product-body .btn-wishlist {
	position: absolute;
	top: 3.4rem;
	right: 2rem;
	color: #ccc;
	padding: 0;
	margin: 0;
	background: none;

	&:before {
		margin-right: 0;
	}

	span {
		display: none;
	}

	&:hover,
	&:focus {
		color: $primary-color;
		background: none;
	}
}

.btn-quickview {
	&:before {
		content: '\f145';
	}
}

.btn-compare {
	&:before {
		content: '\f2d0';
	}
}

.btn-expandable {
	position: relative;

	span {
		position: absolute;
		right: 100%;
		top: 0;
		bottom:0;
		align-items: center;
		display: inline-flex;
		font-weight: 300;
		font-size: 1.1rem;
		white-space: nowrap;
		letter-spacing: 0;
		min-width: 100px;
		padding-left: 1.8rem;
		padding-right: .4rem;
		color: #fff;
		background-color: $primary-color;
		transition: all .35s ease;
		opacity: 0;
		visibility: hidden;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
		transform: translateX(15px);
		z-index: -1;
	}

	&:hover,
	&:focus {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;

		span {
			visibility: visible;
			opacity: 1;
			transform: translateX(0);
		}
	}
}

.product-size {
	display: flex;
	align-items: center;
	padding-top: .2rem;
	margin-bottom: 1.6rem;

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: 2.1rem;
		height: 2.1rem;
		font-weight: 400;
		font-size: 1.2rem;
		padding-top: .1rem;
		line-height: 1;
		color: #666666;
		background-color: #f7f8fa;
		border-radius: .2rem;
		transition: all .35s ease;
		margin-right: .5rem;

		&:last-child {
			margin-right: 0;
		}

		&:hover,
		&:focus,
		&.active {
			color: #fff;
			background-color: #333;
		}

		&.disabled {
			color: #cccccc;
			pointer-events: none;
		}
	}
}

.product-nav {
	display: flex;
	align-items: center;
}

.product-nav-dots {
	margin-bottom: .5rem;

	a,
	span {
		display: block;
		width: 1.7rem;
		height: 1.7rem;
		border-radius: 50%;
		border: .2rem solid #fff;
		margin-right: .5rem;
		transition: box-shadow .35s ease;
		background-repeat: no-repeat;
		background-position: center center;

		&.active,
		&:hover,
		&:focus {
			box-shadow: 0 0 0 0.1rem #cccccc;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.product-nav-thumbs {
	padding-top: .2rem;
	margin-bottom: 1.6rem;

	a,
	span {
		display: flex;
		align-items: center;
		width: 4.4rem;
		height: 4.4rem;
		border-radius: .2rem;
		border: .2rem solid #fff;
		margin-right: .4rem;
		transition: box-shadow .35s ease;

		&.active,
		&:hover,
		&:focus {
			box-shadow: 0 0 0 0.1rem #cccccc;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	img {
		border-radius: .2rem;
	}
}

.product-disabled {
	pointer-events: none;

	.btn-product,
	.btn-product-icon {
		pointer-events: none;
		color: #fff;
		background-color: #ccc !important;
	}
}

.product.text-center {
	.product-price,
	.ratings-container,
	.product-nav,
	.product-size  {
		justify-content: center;
	}
}
.col-grid .product-miniature{
	margin-bottom: 2rem;
}
/* Productbox flex */
.productbox-flex{
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
	&:hover{
		box-shadow: none;
	}
	.product-preview{
		flex: 0 0 70px;
		max-width: 70px;
		border: .1rem solid #f1f1f1;
	}
	.product-info{
		flex: 1 1 auto;
		padding: 1rem 0 0 2rem;
	}
	.product-title{
		font-size: 1.4rem;
		color: #666;
	}
	.content_price .price{
		font-size: 1.4rem;
		&.new.has-discount {
		    color: #ef837b;
		}
	}
}
.product-miniature{
	.product-info{
		.addToWishlist{
			display: none;
		}
	}
	.product-action{
		.quick-view{
			display: none;
		}
	}
	.product-actions{
		display: none;
	}
	.countdown-section{
		position: relative;
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #fff;
		border-radius: .3rem;
		min-width: 5.15rem;
		line-height: 1;
		padding-top: 1.4rem;
		padding-bottom: 1.4rem;
		background-color: rgba(204,102,102,0.85);
		.countdown-amount {
		    display: inline-block;
			color: #fff;
			font-weight: 500;
			font-size: 1.8rem;
			line-height: 1;
			letter-spacing: -.03em;
			margin-bottom: .4rem;
			padding-right: 0;
		}
		.countdown-period {
			text-align: center;
		    display: block;
		    font-size: 1rem;
		    font-weight: 400;
		    color: #fff;
		    text-transform: lowercase;
		    width: 100%;
		    padding-left: .2rem;
		    padding-right: .2rem;
		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}
		&:not(:last-child){
			margin-right: 1.6rem;
			&::after{
				color: #333333;
				content: ':';
				display: inline-block;
				font-weight: 400;
				font-size: 2rem;
				line-height: 1;
				position: absolute;
				left: 100%;
				margin-left: .6rem;
				margin-top: -.1rem;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}

/* Product box 1 */
.productbox-1 {
	text-align:center;
	&:hover .product-actions{
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}
	.content_price {
		margin-bottom:0.5rem;
		margin-top: -1px;
	}
	.product-actions{
		display: block;
		.content_price{
			display: none;
		}
		#review{
			display: none;
		}
		.quick-view{
			display: none;
		}
	}
}

/* Product box 2 */
.productbox-2{
	.product-preview{
		overflow: hidden;
	}
	.product-info{
		padding-bottom: 1.1rem;
	}
	.wrapp-buttons{
		top: 3rem;
	}
	.category-name{
		color: #ccc;
		&:hover{
			color: #666;
		}
	}
	.content_price .price.new.has-discount{
		color: #ef837b;
	}
	.product-action{
		padding: 0;
		bottom: 0;
		.product-cart{
			display: flex;
			background-color: #333;
			width: 100%;
			> button{
				color: #fff;
				width: 50%;
				border: 0;
				text-transform: lowercase;
				font-size: 1.3rem;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				height: 4rem;
				background-color: transparent;
				transition: .3s all;
				&.disabled{
					cursor: not-allowed;
				}
				&:first-child::after{
					content: "";
					width: .1rem;
					height: 2rem;
					background-color: #4b4b4b;
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
				}
				&::before{
					margin-right: .9rem;
					font-size: 1.8rem;
					line-height: 1;
				}
				span{
					line-height: 1.3rem;
					font-weight: 400;
					font-size: 1.3rem;
					letter-spacing: -.01em;
					transition: all .35s ease;
				}
			}
		}
	}
	.variant-links{
		margin-top: .5rem;
		margin-bottom: .8rem;
		justify-content: flex-start;
		a{
			margin: 0;
			margin-right: .5rem;
		}
	}
}

/* Product box 3 */
.productbox-3{
	&:hover{
		box-shadow: none;
		.product-action{
			bottom: 0;
		}
	}
	.category-name{
		color: #ccc;
		margin-bottom: .4rem;
		&:hover{
			color: #666;
		}
	}
	.product-preview{
		overflow: hidden;
	}
	.product-title{
		font-size: 1.4rem;
		font-weight: 300;
		letter-spacing: 0;
		margin-bottom: 1.5rem;
	}
	.content_price{
		span.price{
			font-size: 1.4rem;
			display: block;
			margin-bottom: .3rem;
		}
	}
	.product-info{
		padding: 1.6rem 0 0 0;
	}
	.product-action{
		top: auto;
		bottom: -4rem;
		opacity: 1;
		visibility: visible;
		transform: none;
		padding: 0;
		background-color: rgba(255,255,255,0.7);
		.product-btn{
			border: 0;
			padding-top: 1.2rem;
			padding-bottom: 1rem;
			span{
				margin-left: -1.35rem;
				transition: all .35s ease;
			}
			&:hover{
				span{
					margin-left: 0;
				}
				&::before{
					opacity: 1;
					visibility: visible;
				}
			}
			&::before{
				color: #fff;
				opacity: 0;
				visibility: hidden;
				transition: all .1s;
			}
		}
	}
}

/* Product box 4 */
.productbox-4{
	&:hover{
		.product-action{
			bottom: 0;
		}
		.wrapp-buttons{
			transform: translateY(0);
		}
	}
	.product-flags{
		.product-flag{
			font-weight: 400;
			font-size: 1.3rem;
			line-height: 1.6rem;
			letter-spacing: -.01em;
			padding: .5rem .9rem;
			min-width: 45px;
			text-transform: uppercase;
			width: auto;
			height: auto;
			border-radius: 0;
		}
		.on-sale{
			background-color: #333;
		}
	}
	.wrapp-buttons{
		right: 2rem;
		transform: translateY(-15px);
	}
	.category-name{
		font-weight: 400;
		color: #ccc;
		margin-bottom: .2rem;
		letter-spacing: 0;
		&:hover{
			color: #666;
		}
	}
	.product-preview{
		overflow: hidden;
	}
	.product-title{
		font-size: 1.4rem;
		font-weight: 500;
		letter-spacing: 0;
		margin-bottom: -.4rem;
	}
	.content_price{
		span.price{
			font-size: 1.4rem;
			margin-bottom: .3rem;
			&.new{
				font-weight: 500;
				&.has-discount{
					font-weight: 400;
				}
			}
		}
	}
	.product-info{
		text-align: center;
		padding-bottom: 1rem;
	}
	.product-action{
		top: auto;
		bottom: -4rem;
		opacity: 1;
		visibility: visible;
		transform: none;
		padding: 0;
		background-color: #fff;
		.product-btn{
			border: 0;
			padding-top: 1.2rem;
			padding-bottom: 1rem;
			text-transform: lowercase;
			border-bottom: .1rem solid #ebebeb;
			&:hover{
				color: #fff;
			}
			span{
				font-size: 1.3rem;
				font-weight: 400;
				letter-spacing: -.01em;
			}
		}
	}
}

/* Product box 5 */
.productbox-5{
	&:hover{
		.product-action{
			bottom: 0;
		}
		.wrapp-buttons{
			transform: translateX(0);
		}
	}
	.category-name{
		display: none;
	}
	.product-buttons .btn-icon{
		border-color: #333;
		color: #fff;
		background-color: #333;
	}
	.product-list-reviews{
		justify-content: center;
	}
	.product-flags{
		.product-flag{
			font-weight: 400;
			font-size: 1.3rem;
			line-height: 1.6rem;
			letter-spacing: -.01em;
			padding: .5rem .9rem;
			width: 4.6rem;
			height: 4.6rem;
			border-radius: 50%;
		}
		.on-sale{
			background-color: #ef837b;
		}
	}
	.wrapp-buttons{
		right: 2rem;
		transform: translateX(-15px);
	}
	.category-name{
		font-weight: 400;
		color: #ccc;
		margin-bottom: .2rem;
		letter-spacing: 0;
		&:hover{
			color: #666;
		}
	}
	.product-preview{
		overflow: hidden;
	}
	.product-title{
		font-size: 1.4rem;
		font-weight: 300;
		letter-spacing: 0;
		margin-bottom: -.2rem;
	}
	.content_price{
		span.price{
			font-size: 1.4rem;
			margin-bottom: .3rem;
			&.new{
				&.has-discount{
					font-weight: 400;
				}
			}
		}
	}
	.variant-links{
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
	}
	.product-info{
		text-align: center;
		padding-bottom: 4.5rem;
		padding-top: 1.7rem;
	}
	.product-action{
		top: auto;
		bottom: -4rem;
		opacity: 1;
		visibility: visible;
		transform: none;
		padding: 0;
		background-color: #fff;
		.product-btn{
			border: 0;
			padding-top: 1.2rem;
			padding-bottom: 1rem;
			background-color: #333;
			color: #fff;
			span{
				font-size: 1.3rem;
				font-weight: 400;
				letter-spacing: -.01em;
			}
		}
	}
	.specific_prices{
		position: absolute;
		bottom: 2rem;
		left: 0;
		right: 0;
		.countdown{
			text-align: center;
		}
	}
	#review{
		margin-top: 1.5rem;
	}
}

/* Product box 6 */
.productbox-6{
	&:hover{
		.product-action{
			bottom: 0;
		}
		.wrapp-buttons{
			transform: translateX(0);
		}
	}
	.product-buttons .btn-icon{
		border-color: #333;
		color: #fff;
		background-color: #333;
	}
	.product-list-reviews{
		justify-content: center;
	}
	.product-flags{
		.product-flag{
			font-weight: 400;
			font-size: 1.3rem;
			line-height: 1.6rem;
			letter-spacing: -.01em;
			padding: .5rem .9rem;
			width: auto;
			height: auto;
			border-radius: 0;
		}
		.on-sale{
			background-color: #ef837b;
		}
	}
	.wrapp-buttons{
		right: 2rem;
		transform: translateX(-15px);
	}
	.category-name{
		font-weight: 400;
		color: #ccc;
		margin-bottom: .4rem;
		letter-spacing: 0;
		&:hover{
			color: #666;
		}
	}
	.product-preview{
		overflow: hidden;
	}
	.product-title{
		font-size: 1.6rem;
		font-weight: 400;
		letter-spacing: -.01em;
		margin-bottom: -.1rem;
	}
	.content_price{
		span.price{
			font-size: 1.6rem;
			margin-bottom: .3rem;
			&.new{
				&.has-discount{
					font-weight: 400;
				}
			}
		}
	}
	.variant-links{
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
	}
	.product-info{
		text-align: center;
		padding-bottom: 4.5rem;
		padding-top: 1.7rem;
	}
	.product-action{
		top: auto;
		bottom: -4rem;
		opacity: 1;
		visibility: visible;
		transform: none;
		padding: 0;
		background-color: #fff;
		.product-btn{
			border: 0;
			padding-top: 1.2rem;
			padding-bottom: 1rem;
			background-color: #333;
			color: #fff;
			span{
				font-size: 1.3rem;
				font-weight: 400;
				letter-spacing: -.01em;
				margin-left: -1.35rem;
				transition: all .35s ease;
			}
			&:hover{
				span{
					margin-left: 0;
				}
				&::before{
					opacity: 1;
					visibility: visible;
				}
			}
			&::before{
				color: #fff;
				opacity: 0;
				visibility: hidden;
				transition: all .1s;
			}
		}
	}
	.specific_prices{
		position: absolute;
		bottom: 2rem;
		left: 0;
		right: 0;
		.countdown{
			text-align: center;
		}
	}
	#review{
		margin-top: 1.5rem;
	}
}

/* Product box 7 */
.productbox-7{
	&:hover{
		box-shadow: none;
		.product-action{
			bottom: 0;
		}
		.wrapp-buttons{
			transform: translateX(0);
		}
	}
	.product-buttons .btn-icon{
		color: #fff;
		span{
			background-color: #222;
		}
		&:hover{
	        border-color: #222;
	        background-color: #222;
	    }
	}
	.product-list-reviews{
		justify-content: center;
	}
	.product-flags{
		.product-flag{
			font-weight: 400;
			font-size: 1.2rem;
			line-height: 1.6rem;
			letter-spacing: -.01em;
			padding: .5rem .9rem;
			width: auto;
			height: auto;
			border-radius: 0;
			text-transform: uppercase;
		}
		.on-sale{
			background-color: #ef837b;
		}
	}
	.wrapp-buttons{
		right: 2rem;
		transform: translateX(-15px);
	}
	.category-name{
		font-weight: 400;
		color: #ccc;
		margin-bottom: .4rem;
		letter-spacing: 0;
		&:hover{
			color: #666;
		}
	}
	.product-preview{
		overflow: hidden;
	}
	.product-title{
		font-size: 1.4rem;
		font-weight: 400;
		letter-spacing: 0;
		margin-bottom: 0;
	}
	.content_price{
		span.price{
			font-size: 1.4rem;
			margin-bottom: .3rem;
			&.new{
				&.has-discount{
					font-weight: 400;
				}
			}
		}
	}
	.variant-links{
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
	}
	.product-info{
		text-align: center;
		padding-bottom: 4.5rem;
		padding-top: 1.7rem;
	}
	.product-action{
		top: auto;
		bottom: -4rem;
		opacity: 1;
		visibility: visible;
		transform: none;
		padding: 0;
		background-color: #fff;
		.product-btn{
			border: 0;
			padding-top: 1.2rem;
			padding-bottom: 1rem;
			color: #fff;
			span{
				font-size: 1.3rem;
				font-weight: 400;
				letter-spacing: -.01em;
				margin-left: -2.6rem;
				transition: all .35s ease;
			}
			&:hover{
				background-color: #222;
				span{
					margin-left: 0;
				}
				&::before{
					opacity: 1;
					visibility: visible;
					transform: translateX(0);
				}
			}
			&::before{
				color: #fff;
				opacity: 0;
				visibility: hidden;
				transform: translateX(-2.6rem);
				transition: all .35s;
			}
		}
	}
	.specific_prices{
		position: absolute;
		bottom: 2rem;
		left: 0;
		right: 0;
		.countdown{
			text-align: center;
		}
	}
	#review{
		margin-top: -.3rem;
	}
}

/* Product box 8 */
.productbox-8{
	&:hover{
		box-shadow: none;
		.wrapp-buttons{
			transform: translateX(0);
		}
		.product-action{
			transform: none;
		}
		.product-preview .product-image::before{
			opacity: .2;
		}
	}
	overflow: hidden;
	.product-preview{
		overflow: hidden;
		.product-image{
			position: relative;
			&::before{
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				opacity: 0;
				background-color: #999;
				transition: all .3s;
				z-index: 1;
			}
		}
		.product-buttons .addToWishlist{
			border-color: #fff;
			&:hover{
				color: #fff;
			}
		}
	}
	.product-info{
		.variant-links{
			display: none;
		}
	}
	.product-buttons .btn-icon{
		color: #fff;
		span{
			background-color: #222;
		}
		&:hover{
	        border-color: #222;
	        background-color: #222;
	    }
	}
	.product-list-reviews{
		justify-content: center;
	}
	.product-flags{
		.product-flag{
			font-weight: 400;
			font-size: 1.2rem;
			line-height: 1.6rem;
			letter-spacing: -.01em;
			padding: .5rem .9rem;
			width: auto;
			height: auto;
			border-radius: 0;
			text-transform: uppercase;
		}
		.on-sale{
			background-color: #ef837b;
		}
	}
	.wrapp-buttons{
		right: 2rem;
		transform: translateX(-15px);
	}
	.category-name{
		font-size: 1.5rem;
		font-weight: 400;
		color: #ccc;
		margin-bottom: .9rem;
		letter-spacing: 0;
		display: inline-block;
		&:hover{
			color: #777;
			box-shadow: 0 1px 0 #bcbcbc;
		}
	}
	.product-title{
		font-weight: 400;
		letter-spacing: 0;
		font-size: 1.5rem;
		line-height: 1.3;
		margin-bottom: 1rem;
	}
	.content_price{
		span.price{
			font-size: 1.6rem;
			font-weight: 500;
			margin-bottom: .3rem;
			&.new{
				&.has-discount{
					font-weight: 400;
				}
			}
		}
	}
	.variant-links{
		margin-top: 1.7rem;
		width: 100%;
	}
	.product-info{
		text-align: center;
		padding-bottom: 0;
		padding-top: 1.7rem;
		background-color: #fff;
		z-index: 2;
	}
	.ajax-add-to-cart:hover{
		background-color: transparent;
	}
	.product-footer{
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #fff;
		transform: translateY(100%);
		visibility: hidden;
		transition: all .35s ease;
		padding: 0;
		z-index: 9;
	}
	.product-action{
		position: static;
		opacity: 1;
		visibility: visible;
		transform: none;
		padding: 0;
		background-color: #fff;
		display: flex;
		margin-top: 2.1rem;
		border-top: .1rem solid #ebebeb;
		.btn-icon{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50%;
			text-transform: uppercase;
			font-size: 1.3rem;
			font-weight: 400;
			letter-spacing: -.01em;
			position: relative;
			padding-top: 1.4rem;
			padding-bottom: 1.4rem;
			line-height: 1;
			&:not(:last-child)::after{
				content: "";
				width: .1rem;
				height: 2rem;
				background-color: #e5e5e5;
				position: absolute;
				right: -.1rem;
			}
			&::before{
				font-size: 1.8rem;
				margin-right: .9rem;
			}
		}
		.product-btn{
			border: 0;
			color: #fff;
			span{
				font-size: 1.3rem;
				font-weight: 400;
				letter-spacing: -.01em;
				transition: all .35s ease;
			}
			&:hover{
				
			}
		}
	}
	.specific_prices{
		position: absolute;
		bottom: 2rem;
		left: 0;
		right: 0;
		.countdown{
			text-align: center;
		}
	}
	#review{
		margin-top: -.2rem;
		margin-bottom: -.8rem;
	}
}

/* Product box 9 */
.productbox-9{
	&:hover{
		box-shadow: none;
		.wrapp-buttons{
			top: 2rem;
		}
		.quick-view{
			transform: translateY(0);
		}
	}
	.product-preview{
		overflow: hidden;
	}
	.wrapp-buttons{
		right: 2rem;
		top: 3.5rem;
	}
	.quick-view{
		display: block;
		text-align: center;
		background-color: rgba(255,255,255,0.9);
		font-size: 1.3rem;
		color: #777;
		text-transform: lowercase;
		font-weight: 400;
		letter-spacing: -.01em;
		line-height: 4rem;
		transform: translateY(100%);
		transition: .3s all;
		&:hover{
			color: #fff;
		}
		&::before{
			display: none;
		}
	}
	.product-info{
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
	}
	.product-title{
		font-size: 1.4rem;
		color: #666;
		letter-spacing: 0;
	}
	.content_price .price{
		font-size: 1.4rem;
	}
	.variant-links {
		margin-top: 0;
		padding-bottom: .2rem;
		justify-content: flex-start;
	}
	.product-action{
		position: static;
		padding: 0;
		transform: none;
		background-color: transparent;
		margin-top: -.3rem;
		.content_price, #review{
			display: none;
		}
		.ajax-add-to-cart{
			display: inline-flex;
			font-size: 1.4rem;
			border: none;
			padding: .1rem 0;
			text-transform: lowercase;
			&:hover{
				background-color: transparent;
			}
			&::before{
				display: none;
			}
			i{
				font-size: 1.8rem;
				margin-left: .9rem;
			}
		}
	}
}

/* Product box 10 */
.productbox-10{
	border-radius: .4rem;
	overflow: hidden;
	.product-preview{
		overflow: hidden;
	}
	.product-flags .product-flag{
		width: auto;
		height: auto;
		border-radius: .2rem;
		padding: .65rem .9rem;
		font-size: 1.3rem;
	}
	.product-buttons .btn-icon{
		&:hover{
			color: #fff;
		}
	}
	.product-info{
		padding-bottom: 1.5rem;
	}
	.wrapp-buttons{
		top: 2rem;
		right: 2rem;
	}
	.category-name{
		color: #ccc;
		&:hover{
			color: #666;
		}
	}
	.product-title{
		font-size: 1.4rem;
	}
	.content_price{
		margin-top: -.2rem;
		.price{
			font-size: 1.4rem;
			&.new.has-discount{
				color: #ef837b;
			}
		}
	}
	.specific_prices{
		display: none;
	}
	.product-action{
		padding: 0;
		bottom: 0;
		transform: none;
		width: calc(100% - 4rem);
		margin: auto;
		.product-cart{
			display: flex;
			background-color: #333;
			width: 100%;
			> button{
				width: 100%;
				border-radius: .2rem;
				text-transform: uppercase;
				font-size: 1.3rem;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				height: 4rem;
				background-color: #fff;
				transition: .3s all;
				&:hover{
					color: #fff;
				}
				&.disabled{
					cursor: not-allowed;
				}
				&::before{
					margin-right: .9rem;
					font-size: 1.8rem;
					line-height: 1;
				}
				span{
					line-height: 1.3rem;
					font-weight: 400;
					font-size: 1.3rem;
					letter-spacing: -.01em;
					transition: all .35s ease;
				}
			}
		}
	}
	.variant-links{
		margin-top: .5rem;
		margin-bottom: .8rem;
		justify-content: flex-start;
		a{
			margin: 0;
			margin-right: .5rem;
		}
	}
	#review{
		margin-top: .1rem;
		margin-bottom: .9rem;
	}
}

/* Product box 11 */


/* Product List */
.product.product-list {
	box-shadow: none;
	padding-bottom: 2rem;
	border-bottom: .1rem solid #ebebeb;
	margin-bottom: 2rem;

	.product-media {
		height: 100%;

		> a {
			height: 100%;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.product-body {
		padding: 1.6rem 0 0;

		.btn-wishlist {
			top: 3.1rem
		}
	}

	.product-list-action {
		padding: 3.4rem 0 0;
	}

	.product-content {
		color: #777;
		font-weight: 300;
		font-size: 1.4rem;
		line-height: 1.43;
		padding-top: 1rem;
		margin-bottom: 3.4rem;

		p {
			margin-bottom: 0;
		}
	}

	.product-action {
		position: static;
		left: auto;
		right: auto;
		bottom: auto;
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
		margin-bottom: 1.2rem;
	}

	.ratings-container {
		margin-bottom: 2.6rem;
	}

	.btn-product {
		color: #777;
		padding-top: 0;
		padding-bottom: 0;
		line-height: 1.4;
		flex: 1 1 50%;
		max-width: 50%;

		&:before {
			margin-right: .5rem;
		}

		span {
			color: inherit;
			font-size: 1.2rem;
			transition: box-shadow .35s ease, color 0s ease;
		}

		&.disabled {
			pointer-events: none;
		}

		&:hover,
		&:focus {
			color: $primary-color;

			span {
				color: inherit;
			}
		}

		&.btn-cart {
			color: $primary-color;
			border: .1rem solid $primary-color;
			flex: 1 1 100%;
			max-width: 100%;
			text-transform: uppercase;
			line-height: 1;
			padding-top: 1rem;
			padding-bottom: 1rem;
			transition: all .35s ease;

			span {
				font-size: 1.3rem;
			}

			&:hover,
			&:focus {
				color: #fff;
				background-color: $primary-color;
				span {
					box-shadow: none;
				}
			}

			&.disabled {
				color: #ccc;
				border-color: #ebebeb;
				background-color: #fafafa;

				&:before {
					display: none;
				}
			}
		}
	}

	.product-nav {
		margin-bottom: 0;
	}
}

/* Products Small */
.product.product-sm {
	display: flex;
	align-items: flex-start;
	margin-bottom: 2rem;

	&:hover {
		box-shadow: none;
	}

	.product-media {
		flex: 0 0 80px;
		max-width: 80px;
	}

	.product-body {
		flex:1 1 auto;
		padding: 1rem 0 0 2rem;
	}

	.product-cat {
		color: #cccccc;
		font-weight: 400;
		font-size: 1.3rem;
		text-transform: uppercase;
		margin-bottom: .2rem;
	}

	.product-title {
		font-size: 1.4rem;
	}

	.product-price {
		font-size: 1.6rem;
	}

	.product-title {
		margin-bottom: .2rem;
	}

	.product-price {
		margin-bottom: 0;

		.old-price {
			text-decoration: none;
		}
	}
}


@include mq('480px') {
	.just-action-icons-sm {
		.btn-icon{
			span{
				display: none;
			}
		}
	}
}

@include mq('md') {
	.just-action-icons-md {
		.btn-product {
			span {
				display: none;
			}

			&:before {
				margin-right: 0;
			}
		}
	}
}

@include mq('lg') {
	.just-action-icons-lg {
		.btn-product {
			span {
				display: none;
			}

			&:before {
				margin-right: 0;
			}
		}
	}
}

@include mq('xl') {
	.just-action-icons-xl {
		.btn-product {
			span {
				display: none;
			}

			&:before {
				margin-right: 0;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.product.product-9:hover .product-body,
	.product.product-9:hover .product-action {
	    transform: translateY(-60%);
	}
}

@media screen and (max-width: 991px) {
	.sticky-wrapper {
	    z-index: 1;
	}
}