.pb-blog{
	text-align: center;
	.blog-item{
		transition: .35s all;
		&:hover{
			box-shadow: 5px 5px 10px rgba(0,0,0,0.03),-5px 5px 10px rgba(0,0,0,0.03);
		}
	}
	.entry-body{
		padding: 0 2rem 2.5rem;
	}
	.post-title{
		font-weight: 600;
		font-size: 1.8rem;
		letter-spacing: -.01em;
		margin-bottom: -.1rem;
		display: block;
	}
	.post-meta{
		color: #ccc;
		margin-top: 1.4rem;
		margin-bottom: .1rem;
		font-weight: 400;
		li{
			display: inline-block;
			position: relative;
			padding: 0 .1rem;
			&:not(:last-child)::after{
				content: ",";
				position: absolute;
				right: -1px;
			}
		}
		.post-category a{
			color: #333;
		}
	}
	.post-intro{
		margin-bottom: 1.2rem;
		p{
			color: #777;
			font-size: 1.4rem;
			line-height: 1.73;
			letter-spacing: -.01em;
		}
	}
}
.post-title{
	color: #333;
}
.post-readmore{
	color: #333;
	display: block;
	font-weight: 400;
	letter-spacing: -.01em;
	span{
		transition: all .3s ease;
		padding-bottom: 2px;
	}
	&:hover span{
		box-shadow: 0 1px 0 0 $primary-color;
	}
}

.blog-post{
	.post-meta{
		display: flex;
		flex-wrap: wrap;
		margin-top: 2.1rem;
		margin-bottom: .3rem;
		li{
			margin-right: 2.2rem;
			position: relative;
			&:not(:last-child)::before{
				content: "";
				position: absolute;
				right: -1.2rem;
				top: 50%;
				transform: translateY(-50%);
				width: .1rem;
				height: 1.2rem;
				background-color: #ccc;
			}
		}
	}
	.title-blog{
		color: #333333;
		font-weight: 600;
		font-size: 2.4rem;
		line-height: 1.25;
		letter-spacing: -.025em;
		margin-bottom: .4rem;
	}
}
.post-category{
	margin-bottom: 1.2rem;
	a{
		color: #666;
	}
}
#comments{
	margin-top: 3rem;
	border-top: .1rem solid #ebebeb;
	padding-top: 44px;
}
.comment-heading{
	h5{
		margin-bottom: 0;
	}
	a{
		font-weight: 600;
		font-size: 1.8rem;
		letter-spacing: -.025em;
		color: #333;
	}
}
#commentForm{
	margin-top: 1rem;
	background-color: #fafafa;
	padding: 4rem 3rem 5rem;
	.heading{
		font-weight: 600;
		font-size: 1.8rem;
		letter-spacing: -.025em;
		margin-bottom: .6rem;
	}
	.h-info {
		color: #ccc;
		font-size: 1.3rem;
		letter-spacing: -.01em;
		margin-bottom: 2.2rem;
	}
	.form-control, textarea{
		background-color: #fff;
	}
}
#post-comments{
	.post-comment{
		padding-bottom: 41px;
		padding-top: 45px;
		&:not(:last-child){
			border-bottom: .1rem solid #ebebeb;
		}
	}
	.post-comment-info{
		display: flex;
	}
	.post-comment-content {
		margin-top: .9rem;
		margin-bottom: 0;
	}
	.info{
		h6{
			color: #333;
			font-weight: 400;
			font-size: 1.5rem;
			line-height: 1;
			letter-spacing: -.01em;
			margin-bottom: 0;
		}
	}
	img{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-right: 3rem;
	}
}
#module-gdz_blog-post{
	#footer{
		margin-top: 2rem;
	}
}
.blog-widget{
	margin-bottom: 4.6rem;
	.item-post{
		&:not(:last-child){
			margin-bottom: 2rem;
		}
		.post-created{
			display: block;
			color: #cccccc;
			font-weight: 300;
			font-size: 1.4rem;
			line-height: 1.25;
			letter-spacing: -.01em;
			margin-bottom: .5rem;
		}
		.post-title{
			font-weight: 400;
			font-size: 1.4rem;
			line-height: 1.4;
			letter-spacing: 0;
			margin-bottom: 0;
			display: block;
		}
	}
}
.widget-categories li a span{
	&::before{
		font-family: 'molla';
		content: '\f110';
		display: block;
		font-size: 1rem;
		line-height: 1;
	}
	i{
		display: none;
	}
}