/* Login */
#authentication{
	.breadcrumb-wrapper{
		margin-bottom: 0;
	}
	.breadcrumb-nav{
		margin-bottom: 0;
	}
	&.has-background-image #wrapper{
		padding: 12rem 0;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url("../images/backgrounds/login-bg.jpg");
	}
	#wrapper{
		padding: 7rem 0;
	}
	.page-content{
		padding-bottom: 0;
	}
}
.login-layout-2,
.login-layout-3{
	.login-form{
		margin-bottom: 5rem;
	}
}
.login-layout-5{
	max-width: 575px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	padding: 3.7rem 6rem 6.4rem;
	box-shadow: 0 3px 16px rgba(51,51,51,0.1);
	min-height: 420px;
	.nav.nav-tabs{
		text-align: center;
		.nav-item{
			width: 50%;
			margin: 0 0 -.1rem;
			.nav-link{
				text-transform: capitalize;
				font-weight: 400;
				font-size: 2.4rem;
				letter-spacing: -.025em;
				border-bottom-width: .2rem;
				padding: .9rem 1rem;
				color: #333;
				text-align: center;
				line-height: 1.5;
				border: none;
				border-bottom: 2px solid transparent;
				&.active{
					border: none;
					color: #333;
					border-bottom: 2px solid;
				}
			}
		}
	}
	#login-form{
		width: 100%;
		margin-top: 2rem;
		.form-group{
			margin-bottom: 1.3rem;
		}
		.form-footer{
			.btn{
				text-transform: uppercase;
				box-shadow: none;
				min-width: 115px;
				&:hover{
					color: #fff;
				}
				i{
					margin-right: 0;
				}
			}
		}
		.authentication-links {
			margin-left: auto;
		}
	}
	a{
		color: #666;
	}
	.login-form{
		.form-control-label{
			flex: 0 0 100%;
			max-width: 100%;
		}
		.col-md-10{
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}
#login-form{
	.authentication-links {
		margin-left: 2rem;
	}
}
.forgot-password a,
.no-account a{
	color: #333;
}
.show-pass button{
    border: .1rem solid #ebebeb;
    border-left: 0;
}
.register-form{
	max-width: 575px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	padding: 3.7rem 6rem 6.4rem;
}
