/* Wishlist */
#mywishlist{
	padding: 2rem 0 6rem;
}
.wishlist-add,
.button_account,
.wishlist-box-delete,
td > a{
	color: #666;
}
.is_wish_list_default {
	margin-bottom: 0;
}
.wishlist-footer-links {
	margin-top: 3rem;
}